<sc-actionbar [title]="(title | async)" width="medium">
<!--     <h1 translate="planoacao.actionbar.titulo.editando" [translateParams]="{tipo: tipo}"></h1>-->
    <p style="font-weight: bold;font-size: 15px;margin-bottom: 17px;margin-left: 10px;">{{'planoacao.actionbar.dica' | translate}}</p>
    <p style="color: #a4a4a4;font-size: 15px;margin-bottom: 17px;margin-left: 10px;" *ngIf="tipo === 'Subtarefa'">{{'planoacao.actionbar.tarefapai' | translate}} {{(acaoPai$ | async)?.nome}}</p>
    <label *ngIf="(data.tipo == 1 && !this.acaoEditar)" style="margin-left: 10px;" class="ss-checkbox">
    {{"planoacao.actionbar.possuisub" | translate}}
    <input type="checkbox" [(value)]="temSubTarefa" (change)="changePossuiSub($event)">
    <span style="margin-top: 5px;" class="ss-checkmark"></span>
  </label>

    <form [formGroup]="acaoForm" autocomplete="off" style="padding-top: 10px">
        <div class="ss-grid">
            <div class="col-6">
                <p style="margin-bottom: -1px;">{{"planoacao.actionbar.responsavel" | translate}} </p>
                <sc-lista-usuarios formControlName="responsavel" [numeroCooperativa]="usuarioInstituto.numeroCooperativa"></sc-lista-usuarios>
            </div>
            <div class="col-3">
                <p style="margin-bottom: -1px;">{{"planoacao.actionbar.datainicio.rotulo" | translate}} </p>
                <sc-form-field id="formFieldDataInicio">
                    <input type="text" style="height: auto;padding: 9px;" class="ss-form-control" [isDisabled]="isDisabled" #dpMDY="bsDatepicker" bsDatepicker [minDate]="minDate" [maxDate]="maxDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }" placeholder="00/00/0000"
                        formControlName="dataInicio">
                    <small id="erroData" *ngIf="dataInicio.errors?.required" style="color: #fd7474;margin-bottom: 0px;">{{"planoacao.actionbar.datainicio.erroObrigatorio" | translate}}</small>
                    <small id="erroData" *ngIf="dataInicio.errors?.bsDate?.maxDate" style="color: #fd7474;margin-bottom: 0px;">{{"planoacao.actionbar.datainicio.erroMax" | translate}} {{maxDate | date:'dd/MM/yyyy'}}</small>
                    <small id="erroData" *ngIf="dataInicio.errors?.bsDate?.minDate" style="color: #fd7474;margin-bottom: 0px;">{{"planoacao.actionbar.datainicio.erroMin" | translate}} {{minDate | date:'dd/MM/yyyy'}}</small>
                </sc-form-field>
            </div>
            <div class="col-3">
                <p style="margin-bottom: -1px;">{{"planoacao.actionbar.datafim.rotulo" | translate}}</p>
                <sc-form-field id="formFieldDataFim">
                    <input type="text" style="height: auto;padding: 9px;" class="ss-form-control" [isDisabled]="isDisabled" #dpMDY="bsDatepicker" bsDatepicker [minDate]="minDate" [maxDate]="maxDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }" placeholder="00/00/0000"
                        formControlName="dataFim">
                    <small id="erroData" *ngIf="dataFim.errors?.dataFimMenorControl" style="color: #fd7474;margin-bottom: 0px;">{{"planoacao.actionbar.datafim.erroDataInicio" | translate}} ({{acaoForm.value.dataInicio | date:'dd/MM/yyyy'}})</small>
                    <small id="erroData" *ngIf="dataFim.errors?.required" style="color: #fd7474;margin-bottom: 0px;">{{"planoacao.actionbar.datafim.erroObrigatorio" | translate}}</small>
                    <small id="erroData" *ngIf="dataFim.errors?.bsDate?.maxDate" style="color: #fd7474;margin-bottom: 0px;">{{"planoacao.actionbar.datafim.erroMax" | translate}} {{maxDate | date:'dd/MM/yyyy'}}</small>
                    <small id="erroData" *ngIf="dataFim.errors?.bsDate?.minDate" style="color: #fd7474;margin-bottom: 0px;">{{"planoacao.actionbar.datafim.erroMin" | translate}} {{minDate | date:'dd/MM/yyyy'}}</small>
                </sc-form-field>
            </div>
            <div class="col-12" style="height: 70px;">
                <p style="margin-bottom: -1px;">{{"planoacao.actionbar.nome" | translate}} </p>
                <sc-form-field class="ss-form-group">
                    <input type="text" scInput style="height: auto;padding: 9px;" class="ss-form-control" formControlName="nome">
                </sc-form-field>
            </div>
            <div class="col-6" style="height: 70px;">
                <p style="margin-bottom: -1px;">{{"planoacao.actionbar.lugar" | translate}} </p>
                <sc-form-field class="ss-form-group">
                    <input type="text" scInput style="height: auto;padding: 9px;" class="ss-form-control" formControlName="lugar">
                </sc-form-field>
            </div>
            <div class="col-6" style="height: 70px;">
                <p style="margin-bottom: -1px;">{{"planoacao.actionbar.investimento" | translate}} </p>
                <sc-form-field class="ss-form-group">
                    <div class="input-container">
                        <input currencyMask type="text" scInput style="height: auto;padding: 9px;" class="alinhar-esquerda ss-form-control input-field" formControlName="investimento" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
                    </div>
                </sc-form-field>
            </div>

            <div class="col-12">
                <p style="margin-bottom: -1px;">{{"planoacao.actionbar.como" | translate}} </p>
                <sc-form-field class="ss-form-group">
                    <textarea scInput style="height: auto;padding: 9px;" class="ss-form-control" formControlName="descricao" rows="4"></textarea>
                </sc-form-field>
            </div>
            <div class="col-12">
                <p style="margin-bottom: -1px;">{{"planoacao.actionbar.porque" | translate}} </p>
                <sc-form-field class="ss-form-group">
                    <textarea scInput style="height: auto;padding: 9px;" class="ss-form-control" formControlName="motivo" rows="4"></textarea>
                </sc-form-field>
            </div>
            <!--   <div class="col-12">
          <p>{{acaoForm.value | json}}</p>
      </div> -->
        </div>
    </form>

    <div class="ss-grid">
        <div id="salvarCriarNova" *ngIf="!temSubTarefa && !acaoEditar" style="grid-column-start: -2">
            <button [disabled]="!acaoForm.valid" (click)="criar(false)" class="ss-btn ss-btn-outline-success">{{"acoes.salvarEcriarNova" | translate}} {{salvarCriarTipo}}</button>
        </div>
        <div id="criarNova" *ngIf="!temSubTarefa && !acaoEditar" style="grid-column-start: 14;width: 182px;">
            <button [disabled]="!acaoForm.valid" (click)="criar(true)" class="ss-btn ss-btn-success">{{"acoes.criar" | translate}} {{tipo}}</button>
        </div>
        <div id="salvarCriarNovaSub" *ngIf="temSubTarefa && !acaoEditar" style="grid-column-start: 14;">
            <button [disabled]="!acaoForm.valid" (click)="criar(false)" class="ss-btn ss-btn-success">{{"acoes.salvarEcriarNova" | translate}} {{salvarCriarTipo}}</button>
        </div>
        <div id="salvarModificacoes" *ngIf="acaoEditar" style="grid-column-start: 14;">
            <button [disabled]="!acaoForm.valid" (click)="editarAcao()" class="ss-btn ss-btn-success">{{"acoes.salvarModificacoes" | translate}}</button>
        </div>
    </div>
</sc-actionbar>
