::ng-deep {
    /* #actionbar > div > form > div > div:nth-child(1) > div > ng-select > div {

  } */
    #actionbar>div>form>div>div:nth-child(1)>div>ng-select>div>span.ng-clear-wrapper {
        display: none;
    }
    #actionbar>div>form>div>div:nth-child(1)>div>ng-select>div>span.ng-arrow-wrapper {
        display: none;
    }
    #formFieldDataFim>.ss-form-group:before {
        content: "\f133";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: #007164;
        font-size: 18px;
        padding-right: 0.5em;
        position: absolute;
        top: 7px;
        right: 0;
    }
    #formFieldDataInicio>.ss-form-group:before {
        content: "\f133";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: #007164;
        font-size: 18px;
        padding-right: 0.5em;
        position: absolute;
        top: 7px;
        right: 0;
    }
}

p {
    margin: 0px;
}

.dtPickerS {
    border: none;
    height: 0px;
    width: 0px;
    position: relative;
    color: TRANSPARENT;
    cursor: pointer;
}

.dtPickerS:focus {
    outline: none;
}

.dtPickerS::selection {
    background: transparent;
    color: transparent;
}

.input-container {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    width: 100%;
}



.icon {
    background: #b9b9b9;
    color: white;
    min-width: 50px;
    border-radius: 4px;
    text-align: center;
    line-height: 26px;
    border-right: none;
    margin-right: -6px;
}
