@import '../../../containers/container-gerencia-projeto/container-gerencia-projeto.component.scss';

::ng-deep {
  #investimentoProjeto > .ss-progress-bar {
    margin-top: 5px;
  }
}

.card-center {
  width: 50%;
  margin-left: 25%;
}

@media only screen and (max-width: 1000px) {
  .card-center {
      width: 100%;
      margin-left: 0;
  }
}

.container-sobre-projeto {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
}
