<div class="ss-card card-center" style="margin-top: 25px" *ngIf="projeto$ | async as projeto">
  <div class="ss-card-header" style="padding: 14px;padding-bottom: 0;">
    <h6>Projeto</h6>
  </div>
  <div class="ss-card-body" style="padding-top: 0;">
    <sc-tab-panel id="tab-panel" class="outside">
      <sc-tab [title]="'Sobre o projeto'">
        <div class="ss-grid">
          <div class="col-12">
            <h5>#{{projeto.codigoProjeto}} - {{projeto.nome}}</h5>
          </div>
          <div class="col-7">
            <p style="margin-bottom: 9px;margin-top: 0px;">Responsável </p>
            <div style="display: flex;">
              <sc-avatar size="40" [displayType]="'circle'" [scAvatar]="{name: projeto.responsavel.nome}"></sc-avatar>
              <p style="margin-left: 6px;">{{projeto.responsavel ? projeto.responsavel.nome : '-'}}</p>
            </div>
          </div>
          <div class="col-5"
            *ngIf="{isResponsavel: (isResponsavel$ | async),investimento: (investimento$|async)} as vars">
            <p style="margin: 0">Investimento previsto</p>
            <div style="display: flex;">
              <p *ngIf='!editMode' style="margin: 0">{{projeto.orcamento | currency:'BRL'}}</p>
              <input *ngIf='editMode' currencyMask type="text" scInput style="height: auto;padding: 4px;"
                class="alinhar-esquerda ss-form-control input-field" [(ngModel)]="projeto.orcamento"
                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
              <i *ngIf="vars.isResponsavel && !editMode" (click)='editMode=true' title="Editar orçamento"
                class="mdi mdi-lead-pencil" style="margin-top: -2px;margin-left: 10px;cursor: pointer;"></i>
              <i *ngIf="vars.isResponsavel && editMode" (click)='mudarOrcamento(projeto)' title="Salvar orçamento"
                class="mdi mdi-check-bold" style="font-size: 20px;color: #00cc66;cursor: pointer;"></i>
            </div>

            <div *ngIf="{faltou: vars.investimento.restam < 0} as val">
              <sc-progress-bar *ngIf="val.faltou" id="investimentoProjeto" [progress]="vars.investimento.percentual"
                color="#EB5757">
              </sc-progress-bar>
              <sc-progress-bar *ngIf="!val.faltou" id="investimentoProjeto" [progress]="vars.investimento.percentual"
                color="#00CC66">
              </sc-progress-bar>
              <div style="display: flex;justify-content: space-between;">
                <div>
                  <p style="margin: 0">Investimento realizado</p>
                  <p style="margin: 0">{{vars.investimento.investido | currency:'BRL'}}</p>
                </div>
                <div>
                  <p style="margin: 0">{{val.faltou ? 'Investimento a mais' : 'Faltam ainda'}}</p>
                  <p *ngIf="val.faltou" style="margin: 0;color: red">
                    {{(vars.investimento.restam * -1) | currency:'BRL'}}</p>
                  <p *ngIf="!val.faltou" style="margin: 0;color: green">{{(vars.investimento.restam) | currency:'BRL'}}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <p>Justificativa</p>
            <p>{{projeto.justificativa}}</p>
          </div>
          <div class="col-12">
            <h6 style="border-bottom: solid 1px #dfdfdf;">Escopo</h6>
            <p style="font-weight: bold;">Escopo do projeto</p>
            <span style="color: #737373;">{{projeto.escopo}}</span>
            <p style="font-weight: bold;">Não Escopo</p>
            <span style="color: #737373;">{{projeto.naoEscopo}}</span>
          </div>
          <div class="col-12">
            <h6 style="border-bottom: solid 1px #dfdfdf;">Metas</h6>
            <div class="ss-grid" *ngIf="projeto.metas.length > 0 && projeto.metas[0] != null">
              <div class="col-3" *ngFor="let meta of projeto.metas">
                <div class="ss-card ss-mini-card meta">
                  <div class="ss-mini-card-value">
                    <span>{{meta.valor}}</span>
                  </div>
                  <div class="ss-mini-card-text ajustar-texto">
                    <strong>{{meta.indicador ? meta.indicador.descricao : '-' }}</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </sc-tab>
      <sc-tab [title]="'Sobre o programa'" *ngIf="(programa$ | async) as programa">
        <div class="ss-grid">
          <div class="col-1">
            <img style="height: 70px;width: 70px;"
              src="{{programa.imagem ? getImagem(programa) : '/assets/images/empty-state-imagem-programas.svg'}}">
          </div>
          <div class="col-11">
            <p>{{programa.nome}}</p>
            <small>{{programa.portfolio && programa.portfolio.nome  ? programa.portfolio.nome : 'Nome do Portifolio'}}</small>
          </div>
          <div class="col-12">
            <p>Este projeto faz parte do programa "{{programa.nome}}"</p>
          </div>
          <div class="col-12">
            <p><b>Descrição</b></p>
            <p>{{programa.descricao}}</p>
          </div>
          <div class="col-12">
            <p><b>Objetivo Geral</b></p>
            <p>{{programa.objetivoGeral}}</p>
          </div>
          <div class="col-12">
            <p><b>Objetivo Específico</b></p>
            <p>{{programa.objetivoEspecifico}}</p>
          </div>
        </div>
      </sc-tab>
    </sc-tab-panel>
  </div>
</div>
