<sc-tab-panel (selectedIndexChange)="onTabSelected($event)" #tabPanelFiltro>

  <!-- Informações Gerais -->
  <sc-tab [title]="'Informações gerais'" #tabInfoGerais>
    <sins-programas-infos-gerais [scEditavel]="programaEditavel" [parentForm]="parentForm"></sins-programas-infos-gerais>
    <div class="app-header-actions-container">
      <div class="app-header-actions-item">
        <button
          class="ss-btn ss-btn-primary"
          [disabled]="programaEditavel && !infoGeralForm.valid"
          (click)="tabPanelFiltro.selectTab(tabObjetivos)">Próximo</button>
      </div>
    </div>
  </sc-tab>

  <!-- Objetivos -->
  <sc-tab [title]="'Objetivos'" #tabObjetivos>
    <sins-programas-objetivos [scEditavel]="programaEditavel" [parentForm]="parentForm"></sins-programas-objetivos>
    <div class="app-header-actions-container">
      <div class="app-header-actions-item">
        <button class="ss-btn ss-btn-outline-danger" (click)="tabPanelFiltro.selectTab(tabInfoGerais)">Voltar</button>
      </div>
      <div class="app-header-actions-item">
        <button class="ss-btn ss-btn-primary" (click)="tabPanelFiltro.selectTab(tabProduto)" [disabled]="programaEditavel && !objetivosForm.valid">
          Próximo
        </button>
      </div>
    </div>
  </sc-tab>

  <!-- Produto -->
  <sc-tab [title]="'Produto'" #tabProduto>
    <sins-programas-produto [scEditavel]="programaEditavel" [parentForm]="parentForm"></sins-programas-produto>
    <div id="produto-btns" class="app-header-actions-container">
      <div class="app-header-actions-item">
        <button class="ss-btn ss-btn-outline-danger" (click)="tabPanelFiltro.selectTab(tabObjetivos)">Voltar</button>
      </div>
      <ng-template [ngxPermissionsOnly]="['PPE']">
        <div class="app-header-actions-item">
          <button class="ss-btn ss-btn-primary" (click)="navegarTabProcesso()" [disabled]="programaEditavel && !produtoForm.valid">Próximo</button>
        </div>
      </ng-template>
    </div>
  </sc-tab>

  <!-- Processo -->
  <ng-template [ngxPermissionsOnly]="['PPE']">
    <sc-tab [title]="'Processo'" #tabProcesso>
      <div class="flex-container-v" style="padding-bottom: 16px;" [formGroup]="processoForm">
        <span style="font-weight: bold; padding-bottom: 16px;">Crie o processo das tarefas que irão compor este programa.</span>
        <button id="navegarFluxoProcesso" class="ss-btn {{hasProcesso() ?  'ss-btn-outline-primary' : 'ss-btn-primary'}}" style="width: fit-content;" (click)="navegarFluxoProcesso()">
          <i class="mdi {{hasProcesso() ? 'mdi mdi-magnify' : 'mdi mdi-plus-box-outline'}}"></i>
          &nbsp;{{hasProcesso() ? 'Visualizar Fluxo de Processo' : 'Criar Fluxo de Processo'}}
        </button>
      </div>

      <div id="processo-btns" class="app-header-actions-container">
        <div class="app-header-actions-item">
          <button class="ss-btn ss-btn-outline-danger" (click)="tabPanelFiltro.selectTab(tabProduto)">Voltar</button>
        </div>
        <div class="app-header-actions-item" *ngIf="!programaAtivo">
          <button class="ss-btn ss-btn-primary" (click)="ativar()" [disabled]="!produtoForm.valid">Ativar</button>
        </div>
      </div>
    </sc-tab>
  </ng-template>

</sc-tab-panel>
