<div  *ngIf="projetos.length == 0" class="empty">
  <img id="imagemEmptyCurso" src="assets/images/empty_state.png">
  <p *ngIf="!isVisitante" class="empty-title" id="mensagemEmptyCurso">Você ainda não está associado a nenhum projeto</p>
  <p *ngIf="isVisitante" class="empty-title" id="mensagemEmptyCurso">O voluntário ainda não está associado a nenhum projeto</p>
</div>
<div class="ss-grid" style="max-width: 1200px;">
  <div class="col-6 ss-card" *ngFor="let projeto of projetos" style="margin-top: 20px; overflow: initial;">
    <div class="ss-card-body" (click)="irParaAtividades(projeto._id)">
      <div style="display: flex;">
        <img class="programa-img" [src]="projeto.programa.imagem ? 'data:image/jpeg;base64,'+projeto.programa.imagem : '/assets/images/empty-state-imagem-programas.svg'">
        <span style="margin: 10px">Este projeto possui {{countPassos(projeto)}} tarefa(s) para voluntários.</span>
      </div>
      <p style="font-size: 18px;">{{projeto.nome}}</p>
      <p style="font-size: 16px;">{{getDataInicio(projeto.dataInicio)}}</p>
    </div>
  </div>
</div>
