<sc-modal id="dialogoNovoProgramaSucesso" [headerTitle]="'Sucesso'" [width]="'small'">
    <div class="modal-body">
        <div style="width: 65px; margin-left: auto; margin-right: auto;">
            <img src="./assets/images/positive-vote.png" alt="">
        </div>
        <div style="width: 80%; margin-right: auto; margin-left: auto;">
            <p style="text-align: center; font-weight: bold;font-size: 16px;">Seu programa foi criado, mas antes precisamos de mais algumas informações para ativá-lo. Vamos lá?</p>
            <button class="ss-btn ss-btn-success" style="margin-bottom: 10px;" (click)="continuar()">Continuar</button>
            <button class="ss-btn ss-btn-outline-default" style="margin-bottom: 10px;" (click)="preencherDepois()">Preencher Depois</button>
        </div>
      </div>
</sc-modal>

