::ng-deep {
  #dialogoNovoProgramaSucesso #modal>.ss-modal-content {
      width: 30%;
  }
  @media only screen and (max-width: 749px) {
      #dialogoNovoProgramaSucesso #modal>.ss-modal-content {
          width: 90%;
      }
  }

}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
