<div style="display: flex; align-items: center;justify-content: space-between" *ngIf="inititalValue">
    <div style="display: flex;">
        <sc-avatar size="40" [scAvatar]="{name: inititalValue.nome}" [displayType]="'circle'"></sc-avatar>
        <div style="margin-top: -6px;padding-left: 10px; display: flex; flex-direction: column;justify-content: space-evenly;">
            <div id="nomeResponsavel" style="font-size: 12pt;">{{inititalValue.nome}}</div>
            <div id="perfilResponsavel" style="color: #356069;">{{obterPerfil(inititalValue.perfil)}}</div>
        </div>
    </div>
    <i title="Editar" (click)="selecionarResponsavel()" style="font-size: 30px;cursor: pointer;" class="mdi mdi-menu-down"></i>
</div>

<ng-select #listaResponsavel [ngStyle]="{display: inititalValue ? 'none' : 'block'}" [items]="usuarios" [typeahead]="peopleTypeahead" placeholder="Selecione um responsável" [(ngModel)]="inititalValue" class="ngselect-custom" (change)="_change($event)">
    <ng-template ng-option-tmp let-item="item" let-index="index">
        <div style="display: flex; align-items: center">
            <sc-avatar size="30" [scAvatar]="{name: item.nome}" [displayType]="'circle'"></sc-avatar>
            <div style="padding-left: 10px; display: flex; flex-direction: column;">
                <div id="nomeResponsavel" style="font-size: 12pt;">{{item.nome}}</div>
                <div id="perfilResponsavel" style="color: #356069;">{{this.obterPerfil(item.perfil)}}</div>
            </div>
        </div>
    </ng-template>
    <ng-template ng-typetosearch-tmp>
        <div id="msgErro" class="ng-option disabled">
            Digite para encontrar responsável
        </div>
    </ng-template>
    <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
        <div id="msgErro" class="ng-option disabled">
            Nenhum resultado encontrado para "{{searchTerm}}"
        </div>
    </ng-template>
    <ng-template ng-loadingtext-tmp let-searchTerm="searchTerm">
        <div id="msg" class="ng-option disabled">
            Procurando por "{{searchTerm}}"
        </div>
    </ng-template>
</ng-select>
<small *ngIf="!inititalValue">Campo Requerido</small>
