.tasks-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tasks-count {
  background-color: #C9D200;
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 2px #888;
  width: 2vw;
  height: 2vw;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.tasks-label {
  padding-left: 14px;
  font-size: 14px;
  font-weight: bold;
}
