<div id="tasks" class="ss-grid" style="margin: 0 48px 0 48px">
  <div class="col-12">
    <h6>Suas tarefas</h6>
  </div>
  <div class="col-3">
    <div class="ss-card">
      <div class="ss-card-body">
        <div class="tasks-container">
          <div class="tasks-count">
            {{totais.aguardandoAprovacao || 0}}
          </div>
          <div class="tasks-label">Aguardando aprovação</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="ss-card">
      <div class="ss-card-body">
        <div class="tasks-container">
          <div class="tasks-count" style="background-color: #EB5757;">
            {{totais.atrasadas || 0}}
          </div>
          <div class="tasks-label">Atrasadas</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="ss-card">
      <div class="ss-card-body">
        <div class="tasks-container">
          <div class="tasks-count" style="background-color: #003641;">
            {{totais.naoIniciada || 0}}
          </div>
          <div class="tasks-label">Não iniciadas</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="ss-card">
      <div class="ss-card-body">
        <div class="tasks-container">
          <div class="tasks-count" style="background-color: #00A190;">
            {{totais.concluida || 0}}
          </div>
          <div class="tasks-label">Concluídas</div>
        </div>
      </div>
    </div>
  </div>
</div>
