<sc-modal id="dialogoConcluirCadastroProjeto" headerTitle="Parabéns !!! 🎉🎉🎉🎉" [showClose]="true" width="small" (close)="closeModal(false)">
  <div class="ss-modal-body">
    <gold-coin [value]="qtdPontos"></gold-coin>
    <p style="text-align: center;font-weight: bold;" >Você ganhou {{qtdPontos}} pontos executando esta tarefa</p>
  </div>
  <div class="ss-modal-footer">
    <div class="modal-concluir-cadastro" >
      <button class="ss-btn ss-btn-default modal-concluir-cadastro-item" (click)="closeModal(true)" id="irParaProjetos">
        Ir para as tarefas do projeto
      </button>
    </div>
  </div>
</sc-modal>
