/* .ss-modal-content {
  width: 45% !important;
} */

 ::ng-deep {
    #dialogoJustificativaajuste #modal>.ss-modal-content {
        width: 40%;
    }
    @media only screen and (max-width: 749px) {
        #dialogoJustificativaajuste #modal>.ss-modal-content {
            width: 90%;
        }
    }

}


h5 {
  font-size: 18px !important;
}
