<sc-modal id="dialogoJustificativaajuste" [headerTitle]="title" [showClose]="true" width="small" (close)="closeModal(false)">
    <div class="ss-modal-body">
        <form [formGroup]="justificativaForm" autocomplete="off">
            <p>{{label}}</p>
            <sc-form-field class="ss-form-group">
                <textarea scInput style="height: auto;padding: 5px;" class="ss-form-control" formControlName="justificativaAjusteText" rows="10" cols="80"></textarea>
            </sc-form-field>
        </form>
    </div>
    <div class="ss-modal-footer ss-modal-footer-buttons">
        <div class="ss-btn ss-btn-outline-danger ss-modal-footer-button" id="cancelarJustificativa" (click)="closeModal(false)">Cancelar</div>
        <button (click)="closeModal(true)" id="enviarJustificativa" [disabled]="!justificativaForm.valid" class="ss-btn ss-btn-primary ss-modal-footer-button">
      Enviar
    </button>
    </div>
</sc-modal>
