<div class="ss-card" *ngIf="{photo: (photo | async)} as resultado">
  <div class="ss-card-body">
    <div class="ss-grid">
      <div class="col-12" style="margin: 0 auto;margin-bottom: 5px;">
        <sc-avatar size="50" [scAvatar]="{name: usuarioInstituto.nome, image: 'resultado.photo'}" [displayType]="'circle'"></sc-avatar>
      </div>
    </div>
    <p class="perfil-nome texto-card-header" id="nome">{{ usuarioInstituto.nome }}</p>
    <p class="texto-card-header" id="nome-perfil">{{ perfil ? obterPerfil(perfil) : 'Voluntário' }}</p>
    <p style="margin-bottom: 15px;" class="texto-card-header" id="cooperativa">Cooperativa: {{ usuarioInstituto.numeroCooperativa }}</p>

    <div *ngIf="!havePerfil(usuarioInstituto)" class="flex-container-h" style="justify-content: space-between;padding: 5px 20px;border-top: solid 1px #bbbbbb96;">
      <p style="font-weight: bold;">Horas Voluntárias:</p>
      <p style="font-weight: bold;">{{(totalHoras | async)}}h</p>
    </div>
  </div>
  <div class="ss-card-footer">
    <ng-template [ngxPermissionsExcept]="['PPE', 'GESTOR', 'CEO']">
      <button class="ss-btn ss-btn-outline-primary perfil-btn" id="baixarTermo" (click)="baixarTermo()">
        Termo de Compromisso
      </button>
    </ng-template>
  </div>
</div>
