<sc-modal id="dialogoToken" [headerTitle]="title" [showClose]="true" width="small" (close)="closeModal()">
    <div class="ss-modal-body">
        <div style="text-align: left">
            <img src="assets/images/key_black.png">
            <p>Enviamos um código para o e-mail {{data.email}}</p>
        </div>
        <form #formtoken="ngForm">
            <div class="ss-grid container-token">

                <div class="col-2 col-md-12 col-sm-12">
                    <input type="text" autofocus autocomplete="off" (keydown)='onKeyDownInputToken($event)' (keyup)='onKeyUpInputToken($event)' (paste)='pasteEvent($event)' class="ss-form-control input-bottom-border" [ngClass]="{'border-red': erro}" maxlength=1 id="tokenChar0"
                        name="tokenChar0" id="tokenChar0" [(ngModel)]="tokenChars[0]" required #tokenChar0="ngModel"><br>
                </div>
                <div class="col-2 col-md-12 col-sm-12">
                    <input type="text" autocomplete="off" (keydown)='onKeyDownInputToken($event)' (keyup)='onKeyUpInputToken($event)' (paste)='pasteEvent($event)' class="ss-form-control input-bottom-border" [ngClass]="{'border-red': erro}" maxlength=1 id="tokenChar1" name="tokenChar1"
                        id="tokenChar1" [(ngModel)]="tokenChars[1]" required #tokenChar1="ngModel"><br>
                </div>
                <div class="col-2 col-md-12 col-sm-12">
                    <input type="text" autocomplete="off" (keydown)='onKeyDownInputToken($event)' (keyup)='onKeyUpInputToken($event)' (paste)='pasteEvent($event)' class="ss-form-control input-bottom-border" [ngClass]="{'border-red': erro}" maxlength=1 id="tokenChar2" name="tokenChar2"
                        id="tokenChar2" [(ngModel)]="tokenChars[2]" required #tokenChar2="ngModel"><br>
                </div>
                <div class="col-2 col-md-12 col-sm-12">
                    <input type="text" autocomplete="off" (keydown)='onKeyDownInputToken($event)' (keyup)='onKeyUpInputToken($event)' (paste)='pasteEvent($event)' class="ss-form-control input-bottom-border" [ngClass]="{'border-red': erro}" maxlength=1 id="tokenChar3" name="tokenChar3"
                        id="tokenChar3" [(ngModel)]="tokenChars[3]" required #tokenChar3="ngModel"><br>
                </div>
                <div class="col-2 col-md-12 col-sm-12">
                    <input type="text" autocomplete="off" (keydown)='onKeyDownInputToken($event)' (keyup)='onKeyUpInputToken($event)' (paste)='pasteEvent($event)' class="ss-form-control input-bottom-border" [ngClass]="{'border-red': erro}" maxlength=1 id="tokenChar4" name="tokenChar4"
                        id="tokenChar4" [(ngModel)]="tokenChars[4]" required #tokenChar4="ngModel"><br>
                </div>
            </div>
            <p *ngIf="erro" style="margin-top: -15px;margin-left: 15px;color: red;"> O código que você forneceu está incorreto. Tente novamente.</p>
            <p>
                <label>
            <div *ngIf="!isPossivelReenviar">
              <countdown [config]="{leftTime: 60}" #cd1 (finished)="onFinished(cd1)">Não recebeu? Aguarde : $!m!:$!s!</countdown>
            </div>
          <a *ngIf="isPossivelReenviar" class="a-try-again" (click)="regenerateToken()" >Reenviar código</a>
        </label>
            </p>
            <p *ngIf="isReenviado && !isPossivelReenviar">Código reenviado.</p>
        </form>
    </div>
    <div class="ss-modal-footer">
        <div class="ss-modal-footer-buttons">
            <button type="button" id="cancelarVerificacao" class="ss-btn ss-btn-danger ss-modal-footer-button" (click)="closeModal()">
        Cancelar
      </button>
            <button type="submit" id="verificarToken" class="ss-btn ss-btn-primary ss-modal-footer-button" (click)="validateAcesso()" [disabled]="!formtoken.valid">
        Verificar
      </button>
        </div>
    </div>
</sc-modal>
