::ng-deep {
    #dialogoToken #modal>.ss-modal-content {
        width: 40%;
    }
    @media only screen and (max-width: 749px) {
        #dialogoToken #modal>.ss-modal-content {
            width: 80%;
        }
    }
}

@media only screen and (min-width: 1370px) {
    .container-token {
        margin-left: 88px;
    }
}

.container-token {
    margin-bottom: 22px;
}

.border-red {
    border-bottom: 2px solid red !important;
}

h5 {
    font-size: 18px !important;
}

.a-try-again {
    color: #260bc0 !important;
    font-weight: 500 !important;
}

@media only screen and (max-width: 1000px) {
    .input-bottom-border {
        width: 33% !important;
        margin-left: 33% !important;
    }
}

.input-bottom-border {
    margin-left: 30px;
    text-align: center;
    color: transparent;
    display: inline-block;
    font-size: 2em;
    text-shadow: 0 0 0 gray;
    width: 2em;
    &:focus {
        outline: none;
    }
}
