<sc-sins-home
  [cards]="cards">
</sc-sins-home>

<ng-template [ngxPermissionsOnly]="['PPE']">
  <sc-dashboard
    [scTotaisTarefas]="totaisPassoSituacao$ | async"
    [scTotaisInvestimentoProjetos]="totaisInvestimentoProjeto$ | async"
    [scInvestimentosProjeto]="orcamentoInvestimentosProjeto$ | async"
    [scAnosVigencia]="vigencias$ | async"
    [scTotalProjetosSituacao]="totalProjetosSituacao$ | async"
    (scDetalharProjetos)="detalharProjetos()"
    (scAtualizar)="atualizarDashboard($event)"></sc-dashboard>
</ng-template>
