::ng-deep {
  app-novo-fluxo-processo-modal sc-modal #modal > div {
    width: 40% !important;
  }


    @media only screen and (max-width: 749px) {
      app-novo-fluxo-processo-modal sc-modal #modal > div {
        width: 90% !important;
      }
    }


}
