<sc-modal [headerTitle]="title" [showClose]="true" width="small" (close)="closeModal()">
  <form (ngSubmit)="submitForm()" #fluxoProcessoForm="ngForm">
    <div class="ss-modal-body">
      <ng-template [ngIf]="hasInput">
        <label for="nameFluxo">
          <span [innerHTML]="message"></span>
          <input id="nameFluxo" name="nameFluxo" type="text" class="ss-form-control" [(ngModel)]="name" #fluxoProcessoName="ngModel" required="">
        </label>
      </ng-template>
      <ng-template [ngIf]="!hasInput">
          <span [innerHTML]="message"></span>
      </ng-template>
    </div>
    <div class="ss-modal-footer">
      <div class="ss-modal-footer-buttons">
        <button id="cancelButton" class="ss-btn ss-btn-outline-danger ss-modal-footer-button" (click)="closeModal()">
          Cancelar
        </button>
        <button id="submitButton" class="ss-btn ss-btn-primary ss-modal-footer-button" type="submit" [disabled]="!fluxoProcessoForm.valid">
          {{primaryAction}}
        </button>
      </div>
    </div>
  </form>
</sc-modal>
