.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 5px 30px 5px 20px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.dropdown-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dropdown-button:hover {
  background-color: #eeeeee;
}

.dropdown-input {
  display: none;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dropdown-input + .dropdown-menu {
  display: none;
}

.dropdown-input:checked + .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dropdown-menu li:hover {
  background-color: #f6f6f6;
}

.dropdown-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dropdown-menu li.divider {
  padding: 0;
  border-bottom: 1px solid #cccccc;
}
