<div class="ss-card card-center">
  <div class="ss-card-header" style="border-bottom: solid 2px #f2f2f2;padding: 14px;">
    <h6>Indicadores e metas</h6>
  </div>
  <div class="ss-card-body" style="padding: 0;padding-left: 20px;padding-right: 20px;"
    *ngIf="indicadores && metas && metas.length === indicadores.length">
    <p>Insira abaixo as metas para os indicadores apresentados</p>
    <form [formGroup]="metasForm" autocomplete="off">
      <div class="ss-grid">
        <div class="col-6">
          <b>Indicadores</b>
        </div>
        <div class="col-6">
          <b>Metas</b>
        </div>
      </div>
      <div class="ss-grid" formArrayName="metas" *ngFor="let indicador of indicadores; let i = index;">
        <div class="col-6">
          <p style="margin-bottom: -1px;">{{indicador.descricao}}</p>
        </div>
        <div class="col-6">
          <div class='ss-form-group' [class.ss-alert-success]='hasSuccess(metas.controls[i].controls.valor)' [class.ss-alert-warning]='hasWarning(metas.controls[i].controls.valor)' [class.ss-alert-danger]='hasError(metas.controls[i].controls.valor)'>
            <input type="number" scInput style="height: auto;padding: 5px;" class="ss-form-control" [formControl]="metas.controls[i].controls.valor">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="ss-card-footer" style="margin-top: 20px;">
    <div class="ss-group-inline">
      <button class="ss-btn ss-btn-outline-danger" cdkStepperPrevious id="voltar">Voltar</button>
      <button [disabled]="!metasForm.valid" class="ss-btn ss-btn-success" (click)="onConcluir()" cdkStepperNext
        id="concluir">Próximo</button>
    </div>
  </div>
</div>
