<!-- {{ breadcrumbs | json }} -->
<div #template>
  <ng-content></ng-content>
</div>
<div *ngIf="template.children.length == 0">
  <h6 class="ajustar-texto">{{title}}</h6>
  <ul class="ss-breadcrumb">
    <li *ngFor="let breadcrumb of breadcrumbs" class="ss-breadcrumb-item">
      <a routerLink="{{breadcrumb.url}}">
        <span class="ajustar-texto">{{ breadcrumb.label }}</span>
      </a>
    </li>
  </ul>
</div>
