<sc-actionbar id="filtro-actionbar" title="Vinculação do cronograma físico" width="auto" (close)="closeActionBar()">
    <div class="ss-grid" style="margin-bottom: 10px;">
        <div class="col-8" style="margin-top: 15px;">
            <small>Insira abaixo nos passos que são entregas as datas do seu cronograma</small>
        </div>
        <div class="col-4">
            <button style="margin-top: 7px;" class="ss-btn ss-btn-default" id="replanejar" (click)="replanejar()">
          Replanejar Datas
      </button>
        </div>
    </div>
    <form [formGroup]="fisicoForm" autocomplete="off">
        <table id="datas">
            <tr>
                <th width="40%">ENTREGAS</th>
                <th width="20%">DATA DE ENTREGA</th>
            </tr>
            <tr formArrayName="tarefas" *ngFor="let tarefaX of tarefas$ | async; let i = index;">
                <td>{{tarefaX.nome}}</td>
                <td>
                    <div class="input-wrapper">
                        <input type="text" style="height: auto;padding: 9px;" class="ss-form-control" #dpMDY="bsDatepicker" [attr.readonly]="tarefas.controls[i].valid ? '' : null" [isDisabled]="tarefas.controls[i].valid" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }"
                            [minDate]="dateControl" placeholder="dia/mês/ano" [ngStyle]="{'border-color': errorData ? '#EB5757' : ''}" [formControl]="tarefas.controls[i].controls.dataFim">
                    </div>

                    <!-- <sins-datepicker [minDate]="dateControl" [error]="tarefas.controls[i].errors" [isDisabled]="tarefas.controls[i].valid" [formControl]="tarefas.controls[i].controls.dataFim" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }" ></sins-datepicker> -->
                    <small id="erroData" *ngIf="tarefas.controls[i].errors?.dataFimMenor" style="color: #fd7474">A data de entrega não pode ser anterior à data de início do projeto ({{dateInicioProjeto | date:'dd/MM/yyyy'}})</small>
                    <small id="erroData" *ngIf="tarefas.controls[i].errors?.dataFimMenorControl" style="color: #fd7474">A data de entrega não pode ser anterior à data dos marcos anteriores({{dateControl | date:'dd/MM/yyyy'}})</small>
                    <small id="erroData" *ngIf="tarefas.controls[i].errors?.dataFimInvalida" style="color: #fd7474">Insira uma data válida</small>
                </td>

            </tr>
        </table>

    </form>
    <!-- Actions -->
    <div class="filter-actions">
        <button class="ss-btn ss-btn-outline-danger" id="cancelarActionFiltros" (click)="closeActionBar()">Cancelar</button>
        <button class="ss-btn ss-btn-primary" id="aplicarFiltros" [disabled]="!fisicoForm.valid" (click)="salvar()">Salvar Informações</button>
    </div>
</sc-actionbar>