#datas {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#datas td,
#datas th {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

#datas th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f1f1f1;
    color: black;
}

.flex-container-v {
    display: flex;
    flex-direction: column;
}

.flex-container-h {
    display: flex;
    flex-direction: row;
}

.filter-actions {
    padding: 8px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .ss-btn:nth-child(odd) {
        margin-right: 8px;
    }
    .ss-btn:nth-child(even) {
        margin-left: 8px;
    }
}

.input-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}


.input-wrapper {
    position: relative;
    width: 200px;
}

.input-wrapper:before {
    content: "\f133";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #848484;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    right: 0;
}

.ss-small-errorX {
    color: #EB5757;
}

.ng-valid {
    border-color: #00CC66 !important;
    color: #00CC66 !important;
}
