


 #outer {
  width: 100%;
  text-align: center;
  margin-top: 7%;
 }

 #inner {
  display: inline-block;
 }


 .sins-grid-welcome {
  display: flex;
  padding: 0 50px 0 50px;
 }

 .sins-button-color{
     width: 45%; 
     float: right;
     border-color: #7DB51B;
    background-color: #7DB51B;
 }
