<div id="outer">
  <div id="inner" class="ss-card">
    <div class="ss-card-body">
      <img src="assets/images/logo-sins.png" style="width: 200px" />

      <div align="center">
          <p  *ngIf="userName" style="font-size: 20px;"><b>Bem-vindo ao Sistema do Instituto Sicoob {{userName}}</b></p>
          <p  *ngIf="!userName"  style="font-size: 20px">Bem-vindo, </p>
          <p style="padding: 5px">A tela a seguir é destinada para cadastro de voluntários, deseja prosseguir?</p>
        </div>
        
        <div class="ss-grid">
          <div class="col-6 col-sm-12 col-md-6 ss-btn ss-btn-outline-primary" id="sobreSins" (click)="aboutSins()">Conheça mais sobre o sistema</div>
          <div class="col-6 col-sm-12 col-md-6 ss-btn ss-btn-primary" id="navegarPaginaTermo" (click)="navigatePaginaTermoVoluntario()">Realizar cadastro como voluntário<i class="mdi mdi-arrow-right" style="font-size: 23px;"></i></div>
        </div>
        <div style="font-size:12px; margin-top: 22px;color: rgb(245, 73, 73)">
          <p>*Para se cadastrar como voluntário é necessário possuir o certificado de "Voluntário Transformador."</p>
          <p style="margin-top: -15px">Caso não possua o mesmo, acesse a Universidade Corporativa.</p>
        </div>
      </div>
    </div>
</div>
