<div class="container" attachOutsideOnClick="true" (clickOutside)="onClickedOutside($event)" [emitOnBlur]="true">
    <div class="more" [ngClass]="{'show-more-menu': visible}">
        <button (click)="toogle($event);" id="more-btn" class="more-btn">
      <i class="more-dot mdi {{position}} mdi-24px"></i>
    </button>
        <div class="more-menu" [ngStyle]="{'margin-left': menuPosition}">
            <div class="more-menu-caret" [ngStyle]="{'left': caretPosition}">
                <div class="more-menu-caret-outer"></div>
                <div class="more-menu-caret-inner"></div>
            </div>
            <ul class="more-menu-items" tabindex="-1" role="menu" aria-labelledby="more-btn" aria-hidden="true">
                <li *ngFor="let item of listMenu" class="more-menu-item" role="presentation">
                    <button type="button" id="acaoMenuDropDown{{item.id}}" (click)="action(item, $event)" class="more-menu-btn" role="menuitem">{{item.title}}</button>
                </li>
            </ul>
        </div>
    </div>
</div>
