<ng-template #popTemplate>
  <ng-select style="width: 300px;height: fit-content;" placeholder="Selecione um responsável" #selectResp
    (open)="logicaParaMostrarPerfil()" (close)="inicializarUsuarios()" [items]="usuariosTrabalho" groupBy="perfil"
    placeholder="Selecione um responsável" (change)="setResponsavel($event, selectResp)" bindLabel="nome"
    [(ngModel)]="responsavel">
    <ng-template ng-option-tmp let-item="item" let-index="index">
      <div style="display: flex; align-items: center">
        <sc-avatar size="30" [scAvatar]="{name: item.nome}" [displayType]="'circle'"></sc-avatar>
        <div style="padding-left: 10px; display: flex; flex-direction: column;">
          <div id="nomeResponsavel" style="font-size: 12pt;">{{item.nome}}</div>
        </div>
      </div>
    </ng-template>
    <ng-template ng-typetosearch-tmp>
      <div id="msgErro" class="ng-option disabled">
        Digite para encontrar responsável
      </div>
    </ng-template>
    <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
      <div id="msgErro" class="ng-option disabled">
        Nenhum resultado encontrado para "{{searchTerm}}"
      </div>
    </ng-template>
    <ng-template ng-loadingtext-tmp let-searchTerm="searchTerm">
      <div id="msg" class="ng-option disabled">
        Procurando por "{{searchTerm}}"
      </div>
    </ng-template>
    <ng-template ng-optgroup-tmp let-item="item">
      {{item.perfil || 'Sem perfil'}}
    </ng-template>
  </ng-select>
</ng-template>



<sc-avatar class="passos-item-right-item" style="margin-top: -2px;" *ngIf="showComponent && responsavel" size="30"
  [scAvatar]="{name: responsavel.nome}" [displayType]="'circle'" [popover]="responsavel.nome"
  [popoverTitle]="getLabel(tipo)" triggers="mouseenter:mouseleave" (click)="isResponsavel ? pop.toggle() : null"
  container="body">
</sc-avatar>
<i *ngIf="showComponent && !responsavel"
  [ngClass]="{'mdi-account-check': tipo === 'aprovador', 'mdi-account' : tipo === 'responsavel'}"
  class="passos-item-right-item avatar-perfil mdi" [popover]="popoverResponsavel()" [popoverTitle]="getLabel(tipo)"
  triggers="mouseenter:mouseleave" (click)="isResponsavel ? pop.toggle() : null" container="body"></i>

<div #pop="bs-popover" [popover]="popTemplate" containerClass="avatarPerfilProjeto" placement="bottom"
  [outsideClick]="true" triggers="" container="body"></div>
