i.avatar-perfil {
  font-size: 35px;
  cursor: pointer;
}

::ng-deep {
  #passosRigth > avatar-perfil-projeto > sc-avatar > div {
    margin-top: -4px;
  }
  body > popover-container.avatarPerfilProjeto > div.popover-arrow.arrow {
    display: none !important;
  }
  body > popover-container.avatarPerfilProjeto > div.popover-content.popover-body {
    padding: 0 !important;
  }
  body > popover-container.avatarPerfilProjeto {
    border: none !important;
    margin-top: 2px !important;
  }

}

