.ss-mini-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  cursor: pointer;
  transition: 0.3s;
}

.ss-mini-card:hover {
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.12);
}

.ss-mini-card-text {
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
}


.ss-divider {
  border-bottom: 1px solid #C4C4C4;
}
