<div class="ss-card ss-mini-card" [routerLink]="['/configuracao-termo/', termo.tipo]">
    <img class="ss-card-img ss-divider" style="border-radius: 0px;padding: 5px 5px 5px 5px;height: 100px;" [src]="getSrc(termo.thumbnail)" />
    <div class="ss-mini-card-text">
        <strong style="text-transform: capitalize;">Termo {{termo.tipo}}</strong>
        <br>
        <small style="text-align: center;">Criado em {{termo.dataCriacao | date: 'dd-MM-yyyy'}}</small>
        <br>
        <small style="text-align: center;">Modificado em {{termo.dataModificacao | date: 'dd-MM-yyyy'}}</small>
    </div>
</div>