<div class="ss-grid">
  <div class="col-offset-start-2 col-offset-end-9">
    <sc-card>
      <sc-card-header>
        <sc-card-title>
          <h5>Materiais de apoio para o programa</h5>
        </sc-card-title>
      </sc-card-header>
      <sc-card-content>
        <div class="card-arquivos-inner">
          <sins-multiupload [scMultiple]="true"></sins-multiupload>
        </div>
      </sc-card-content>
      <sc-card-footer>
        <div class="app-header-actions-container">
          <div class="app-header-actions-item">
            <button class="ss-btn ss-btn-success" (click)="finalizar()" *ngIf="checkArquivosEnviados()" cdkStepperNext>
              Finalizar
            </button>
            <button class="ss-btn ss-btn-success" *ngIf="!checkArquivosEnviados()" cdkStepperNext>
              Anexar depois
            </button>
          </div>
        </div>
      </sc-card-footer>
    </sc-card>
  </div>
</div>

