<div [ngClass]="{ 'empty-card': scEmptyCard, 'card-selected': isSelect() && selecionado }" class="card" (click)="onClick()">
    <i *ngIf="scEmptyCard" class="mdi mdi-plus-box"></i>
    <span [ngClass]="{ 'card-title': !scEmptyCard }">{{scTitle}}</span>
    <div *ngIf="isSelect() && selecionado">
            <i class="material-icons card-selected-icon">
                    check_circle
                </i>
    </div>
    <div *ngIf="!scEmptyCard && isInteract()" class="card-menu">
        <sins-menu-dropdown (onAction)="onMenuItemSelect(menuFluxo, $event)" [position]="posicao" [listMenu]="scItensMenu" [menuPosition]="menuPosition" [caretPosition]="caretPosition" #menuFluxo></sins-menu-dropdown>
    </div>
</div>