.box-icon-projeto {
  display: flex;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.25rem rgba(0,0,0,0.4);
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  cursor: pointer;
}


#responsavel {
  small {
    margin-left: 6px;margin-bottom: 0px;margin-top: 4px;font-size: 14px;width: 185px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis
  }
}


.box-icon-projeto.active {
  background-color: #9B51E0;
}
.box-icon-projeto.default {
  background-color: #C4C4C4;
}
.box-icon-projeto.success {
  background-color: #0c6;
}
