<div class="ss-card">
  <div class="ss-card-header" style="display: flex;justify-content: space-between;">
    <div style="display: flex;">
      <div *ngIf="projeto.programa" triggers="mouseenter:mouseleave" container="body"
        popover="{{projeto.programa.nome}}" popoverTitle="Programa" class="box-icon-projeto">
        <img *ngIf="imagem" [src]="imagem" width="40px" height="40px" style="padding: 5px;" />
        <img *ngIf="!imagem" src="assets/images/sicoob-logo-min.png" style="padding: 5px;width: 40px;" />
      </div>
      <div triggers="mouseenter:mouseleave" container="body" popover="{{getSituacaoLabel(projeto.situacao)}}"
        popoverTitle="Situação" class="box-icon-projeto" style="margin-left: 10px;">
        <i class="mdi {{getSituacaoClass(projeto.situacao)}}" style="font-size: 18px"></i>
      </div>
      <div triggers="mouseenter:mouseleave" container="body" popover="{{projeto.dataInicio | date:'dd/MM/yyyy'}}"
        popoverTitle="Data de Início" class="box-icon-projeto" style="margin-left: 10px;">
        <i class="mdi mdi-calendar-month" style="font-size: 18px; color: gray"></i>
      </div>
    </div>
    <sins-menu-dropdown *ngIf="menus && menus.length > 0" #dropDown caretPosition="88px" menuPosition="-79px"
      size='155px' (onAction)="onAction($event)" [position]='position' [listMenu]="menus">
    </sins-menu-dropdown>
  </div>

  <div class="ss-card-body" style="cursor: pointer;padding-top: 10px;" (click)="navegateTo()">
    <h6 style="width: 250px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
      #{{projeto.codigoProjeto}} - {{projeto.nome}}
    </h6>
    <div *ngIf="projeto.responsavel" id="responsavel" style="display: flex;">
      <sc-avatar size="30" [displayType]="'circle'" [scAvatar]="{name: projeto.responsavel.nome}"></sc-avatar>
      <small>{{getResponsavel(projeto)}}</small>
    </div>
  </div>

</div>
