/deep/ .datatable-header {
  background-color: #EFEFEF !important;
  height: 54px !important;
}

/deep/ .datatable-header-cell {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 12px;
  color: #828282;
  text-transform: uppercase;
}

/deep/ .datatable-body-row {
  height: 76px;
  border-top: 1px solid #EAEAEA;
}

/deep/ .datatable-body-cell {
  display: flex !important;
  align-items: center !important;
}

/deep/ .datatable-body-cell-label {
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 16px;
  color: #828282;
}

/deep/ .datatable-body-cell-label .highlighted-cell {
  color: #4F4F4F !important;
}

/deep/ .empty-row {
  height: 76px !important;
  display: flex !important;
  align-items: center !important;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 16px;
  color: #828282;
}

/deep/ .ngx-datatable.material {
  box-shadow: none !important;
}


::ng-deep{
  datatable-body{
    overflow-y: hidden;
  }

  datatable-scroller{
    width: auto !important;
  }

  datatable-row-wrapper{
    height: 60px !important;
  }
}
