::ng-deep {
    .ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
        border-color: #00AE9D;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        outline: none;
    }
}

.flex-container-v {
    display: flex;
    flex-direction: column;
}

.flex-container-h {
    display: flex;
    flex-direction: row;
}

.filter-actions {
    padding: 8px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .ss-btn:nth-child(odd) {
        margin-right: 8px;
    }
    .ss-btn:nth-child(even) {
        margin-left: 8px;
    }
}
