<sc-actionbar id="filtro-actionbar" title="Filtros" width="auto" (close)="closeSidebar()">
  <div class="ss-grid">
    <div class="col-8">
      <p style="font-size: 12pt;">Selecione o tipo de filtro que deseja aplicar</p>
    </div>
  <!--   <div class="col-4">
      <button style="margin-top: 7px;" class="ss-btn ss-btn-default" id="limparFiltros" (click)="limparFiltros()">
        Limpar Filtros
      </button>
    </div> -->
  </div>
  <form [formGroup]="filtroForm" autocomplete="off">
    <div class="flex-container-v">
      <!-- Header -->
      <p style="margin-bottom: 0;">Buscar pelo nome do projeto</p>
      <input id="buscar" placeholder="Buscar" type="text" style="height: auto;padding: 9px;" class="ss-form-control"
        formControlName="nomeFiltro">
      <p *ngIf="cooperativasObservable" style="margin-bottom: 0;">Buscar por cooperativas</p>
      <ng-select *ngIf="cooperativasObservable" [items]="cooperativasObservable | async" [multiple]="true"
        [closeOnSelect]="false" [searchable]="true" placeholder="Selecione as cooperativas"
        formControlName="cooperativas">
      </ng-select>
      <p style="margin-bottom: 0;">Buscar por programa</p>
      <ng-select [items]="programasObservable | async" bindLabel="nome" [searchable]="true"
        placeholder="Selecione um programa" formControlName="programa">
      </ng-select>
      <p *ngIf="responsavelObservable" style="margin-bottom: 0;">Buscar por responsável</p>
      <ng-select *ngIf="responsavelObservable" [items]="responsavelObservable | async" bindLabel="nome"
        [searchable]="true" placeholder="Selecione um responsável" formControlName="responsavel">
      </ng-select>
    </div>
  </form>
  <!-- Actions -->
  <div class="filter-actions">
    <button class="ss-btn ss-btn-primary" id="aplicarFiltros" [disabled]="!filtroForm.valid" (click)="applyFilter()">
      Aplicar filtros
    </button>
    <button class="ss-btn ss-btn-outline-danger" id="cancelarActionFiltros" (click)="closeSidebar()">
      Cancelar
    </button>
  </div>
</sc-actionbar>
