<sc-modal [headerTitle]="title" [showClose]="true" width="small" (close)="closeModal()">
    <div class="sc-modal-body">
        <div style="padding: 25px;">
            Solicitamos que faça as seguintes correções:
            <p class="sins-texto-correcao">
                {{data.justificativa?.justificativa}}
            </p>
        </div>
    </div>
    <div class="ss-modal-footer">
        <div class="ss-modal-footer-buttons">
            <button id="confirmar" class="ss-btn ss-btn-success ss-modal-footer-button" (click)="closeModal()">
        Iniciar correções
      </button>
        </div>
    </div>
</sc-modal>
