<sc-actionbar [title]="getTitle()" width="auto" (close)="closeActionBar()">
  <sc-tab-panel>

    <!-- Dados -->
    <sc-tab [title]="'Dados do passo'">
      <form [formGroup]="passoForm" (ngSubmit)="salvar()">
        <div class="flex-container-v">

          <!-- Título -->
          <label for="titulo" style="flex: 1 0; padding-bottom: 20px;">
            <span>Título</span>
            <input id="titulo" name="titulo" type="text" class="ss-form-control" formControlName="titulo">
          </label>

          <!-- Responsável -->
          <div class="flex-container-h" style="flex: 1 0; padding-bottom: 20px;">
            <btn-circle
              id="responsavel-btn"
              icone="mdi-account-multiple-plus"
              title="Responsável pela ação"
              style="margin-right: 12px"
              (clicar)="responsavelPasso.alternar()"></btn-circle>
            <sc-select
              scPlaceholder="Recomendar responsável"
              scIdBotaoAcao="#responsavel-btn"
              [scItens]="perfis"
              formControlName="perfilResponsavel"
              (scSelecionarItem)="selecionarPerfilResponsavel($event)"
              #responsavelPasso></sc-select>
          </div>

          <!-- Pontuação -->
          <div class="flex-container-h" style="flex: 1 1 auto; padding-bottom: 20px;">
            <btn-circle
              id="pontuacao-btn"
              icone="mdi-counter"
              title="Pontuação"
              style="margin-right: 12px"
              (clicar)="pontuacaoPasso.alternar()">
            </btn-circle>
            <sc-select
              scPlaceholder="Selecione a pontuação da ação"
              scIdBotaoAcao="#pontuacao-btn"
              [scItens]="pontuacoes"
              formControlName="pontuacao"
              #pontuacaoPasso></sc-select>
          </div>

          <!-- Investimento -->
          <div style="flex: 1 0; padding-bottom: 20px;">
            <label class="ss-checkbox" style="font-size: 12pt;">Possui investimento?
              <input type="checkbox" formControlName="hasInvestment">
              <span style="margin-top: 5px;" class="ss-checkmark"></span>
            </label>
          </div>

          <!-- Rúbrica -->
          <div *ngIf="passoForm.value.hasInvestment" class="togglable" style="flex: 1 0; padding-bottom: 20px;">
            <sc-lista-rubricas formControlName="rubrica" [inititalValue]="passoForm.value.rubrica"></sc-lista-rubricas>
          </div>

          <!-- Aprovação -->
          <div style="flex: 1 0; padding-bottom: 20px;" *ngIf="perfisAprovacao && perfisAprovacao.length > 0">
            <label class="ss-checkbox" style="font-size: 12pt;">Precisa de aprovação de outro usuário?
              <input type="checkbox" formControlName="requiresApproval">
              <span style="margin-top: 5px;" class="ss-checkmark"></span>
            </label>
          </div>

          <!-- Aprovação Desativado -->
          <div
            style="flex: 1 0; padding-bottom: 20px;"
            *ngIf="!(perfisAprovacao && perfisAprovacao.length > 0)"
            triggers="mouseenter:mouseleave"
            popover="Perfil PPE não necessita de aprovação.">
            <label class="ss-checkbox" style="font-size: 12pt;">Precisa de aprovação de outro usuário?
              <input type="checkbox" [disabled]="true">
              <span style="margin-top: 5px;" class="ss-checkmark"></span>
            </label>
          </div>

          <!-- Aprovador -->
          <div *ngIf="passoForm.value.requiresApproval" class="togglable" style="flex: 1 0; padding-bottom: 20px;">
            <div class="flex-container-h">
              <btn-circle
                id="aprovador-btn"
                icone="mdi-account-multiple-plus"
                title="Recomendar Perfil Aprovador"
                style="margin-right: 12px"
                (clicar)="aprovadorPasso.alternar()"></btn-circle>
              <sc-select
                scPlaceholder="Recomendar Perfil Aprovador"
                scIdBotaoAcao="#aprovador-btn"
                [scItens]="perfisAprovacao"
                formControlName="perfilAprovador"
                #aprovadorPasso></sc-select>
            </div>
          </div>

          <hr style="border-top: 1px #000">

          <!-- Dependência -->
          <sc-accordion-item
            scTitle="Esta tarefa possui dependência"
            *ngIf="passos?.length > 0"
            [scInitOpen]="idPassoAnterior !== undefined"
            style="flex: 1 0; padding-bottom: 20px;" >
            <ng-select
              [items]="passos"
              [multiple]="false"
              [closeOnSelect]="true"
              [searchable]="true"
              bindLabel="titulo"
              bindValue="id"
              placeholder="Selecione o passo anterior a este"
              formControlName="dependencia">
            </ng-select>
          </sc-accordion-item>

          <!-- Decisão -->
          <sc-accordion-item *ngIf="false" scTitle="Criar uma decisão" style="flex: 1 0; padding-bottom: 20px;">
          </sc-accordion-item>
        </div>
      </form>

      <div id="passos-buttons" class="flex-container-h">
        <button *ngIf="passoFluxo.id && programaEditavel" class="ss-btn ss-btn-outline-danger" (click)="excluir()">Excluir</button>
        <button *ngIf="!passoFluxo.id" class="ss-btn ss-btn-outline-danger" (click)="cancel()">Cancelar</button>
        <button class="ss-btn ss-btn-primary" [disabled]="!passoForm.valid" (click)="salvar()">Salvar</button>
      </div>
    </sc-tab>

    <!-- Arquivos -->
    <!--<sc-tab title="Arquivos"></sc-tab>-->

    <!-- Formulário -->
    <sc-tab title="Formulário">
      <div class="flex-container-v">
        <div *ngIf="!formulario && programaEditavel">
          <button class="ss-btn ss-btn-outline-primary" (click)="manterFormulario()">Criar formulário</button>
        </div>

        <div *ngIf="formulario">
          <button
            *ngIf="programaEditavel"
            id="btn-editar-formulario" class="ss-btn ss-btn-outline-primary" style="margin-bottom: 20px;"
            (click)="manterFormulario()">Editar formulário</button>

          <sc-accordion-item scTitle="Clique aqui para visualizar o formulário" [scInitOpen]="false">
            <div class="well">
              O formulário abaixo serve apenas para fins de visualização. Nenhuma informação será enviada ou registrada.
            </div>

            <sc-formio-render [scFormulario]="formulario"></sc-formio-render>
          </sc-accordion-item>
        </div>
      </div>
    </sc-tab>
  </sc-tab-panel>

</sc-actionbar>
