#passos-buttons {
  .ss-btn:nth-child(odd) {
    margin-right: 8px;
  }
  .ss-btn:nth-child(even) {
    margin-left: 8px;
  }
}

@keyframes toggle {
  0% {
    display: none;
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
  100% {
    display: block;
    opacity: 1;
    height: auto;
    overflow: initial
  }
}

.togglable {
  animation-name: toggle;
  animation-duration: .7s;
}

.well {
  background-color: #C4C4C444;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  max-width: fit-content;
}
