::ng-deep {
  #dialogoNovoPrograma #modal>.ss-modal-content {
      width: 30%;
  }
  @media only screen and (max-width: 749px) {
      #dialogoNovoPrograma #modal>.ss-modal-content {
          width: 90%;
      }
  }
  .ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    border-color: #00AE9D;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    outline: none;
  }
  ng-select.ng-invalid.ng-touched .ng-select-container {
    border-color: #EB5757 !important;
    color: #EB5757 !important;
  }


  #dialogoNovoPrograma>#modal>div>form>div>sc-form-field>div>label {
    margin-bottom: 0px;
  }

}

.modal-body {
  padding: 20px;
}
