<sc-modal id="dialogoNovoPrograma" [headerTitle]="headerTitle" [width]="'small'">
  <form [formGroup]="criarProgramaForm" class="modal-form">
    <div class="ss-modal-body">
      <sc-form-field>
        <label>Em qual ano este programa será vigente?</label>
        <ng-select [items]="vigencias" placeholder="Selecione o ano de vigência do programa" formControlName="vigencia">
        </ng-select>
      </sc-form-field>
      <sc-form-field>
        <input type="text" scInput scLabel="Nome do Programa" formControlName="nome" />
      </sc-form-field>
    </div>
  </form>
  <div class="ss-modal-footer">
    <div class="ss-modal-footer-buttons">
      <button type="button" id="cancelar" class="ss-btn ss-btn-outline-danger ss-modal-footer-button"
        (click)="fechar()">
        Cancelar
      </button>
      <button type="button" id="criarPrograma" class="ss-btn ss-btn-success ss-modal-footer-button"
        (click)="criarPrograma()" [disabled]="!criarProgramaForm.valid">
        {{submitLabel}}
      </button>
    </div>
  </div>
</sc-modal>
