::ng-deep {
    .ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
        border-color: #00AE9D;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        outline: none;
    }
}

.ng-select.ngselect-custom ::ng-deep .ng-dropdown-panel {
    width: auto !important;
}

.ng-select.ngselect-custom ::ng-deep .ng-select-container {
    border: 0 none;
    min-height: 0;
    height: auto;
    border-radius: 0;
    box-shadow: none;
}

.ng-select.ngselect-custom ::ng-deep .ng-select-container:hover {
    cursor: pointer;
}

.ng-select.custom ::ng-deep .ng-select-container {
    background-color: transparent;
    border-radius: 0px;
    border: none;
    min-height: 36px;
    align-items: center;
    height: 41px;
    box-shadow: none;
}

.ng-select.custom ::ng-deep .ng-select-container:hover {
    box-shadow: none;
    cursor: pointer;
}
