<ng-select
  [items]="rubricas"
  [virtualScroll]="true"
  [typeahead]="rubricaTypeahead"
  [loading]="loading"
  groupBy="subcategoria"
  bindLabel="nome"
  placeholder="Selecione uma rubrica"
  appendTo="body"
  (scroll)="onScroll($event)" (scrollToEnd)="onScrollToEnd()" [(ngModel)]="inititalValue"
    (change)="_change($event)" (clear)="_change(null)">
    <ng-template ng-header-tmp>
        <small class="form-text text-muted">Carregando {{rubricas.length}} de {{paginacao.total}}</small>
    </ng-template>
    <ng-template ng-option-tmp let-item="item" let-index="index">
        {{item.nome}}
    </ng-template>
    <ng-template ng-optgroup-tmp let-item="item" let-index="index">
        {{nomeSubcategoria(item.subcategoria)}}
    </ng-template>
    <ng-template ng-typetosearch-tmp>
        <div id="msgErro" class="ng-option disabled">
            Digite para encontrar a rubrica
        </div>
    </ng-template>
    <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
        <div id="msgErro" class="ng-option disabled">
            Nenhum resultado encontrado para "{{searchTerm}}"
        </div>
    </ng-template>
    <ng-template ng-loadingtext-tmp let-searchTerm="searchTerm">
        <div id="msg" class="ng-option disabled">
            Procurando por "{{searchTerm}}"
        </div>
    </ng-template>
</ng-select>
