<div class="ss-card">
    <div class="ss-card-header">
        <div class="ss-grid" style="padding-bottom: 20px">
            <div class="col-9">
                <h5>Voluntários</h5>
            </div>
            <div class="col-3">
                <sc-search-input placeholder="Buscar" [text]="filtro$?.nome" (search)="onSearch($event)" (clear)="onClear($event)">
                </sc-search-input>
            </div>
        </div>
    </div>
    <sc-sins-analise-cadastros (changeTab)="onChangeTab($event)" [counters$]="totais$"></sc-sins-analise-cadastros>
    <sc-datatable [page$]="filtro$?.paginacao" [items$]="voluntarios$" [columns]="columns" [columnMode]="'flex'" [messages]="{ emptyMessage: 'Não há voluntários para essa situação', totalMessage: ' voluntários' }" (changePage)="onChangePage($event)">
    </sc-datatable>
</div>

<!-- ngx-datatable templates -->
<ng-template #dataRegistroTpl let-row="row" let-value="value">
    {{value | date: 'dd/MM/yyyy'}}
</ng-template>

<ng-template #situacaoTpl let-row="row" let-value="value">
    <div class="ss-label" [ngClass]="getSituacaoClass(value)">
        {{getSituacaoLabel(value)}}
    </div>
</ng-template>

<ng-template #acoesTpl let-row="row" let-value="value">
    <a style="text-decoration: none;" [id]="value" [routerLink]="'/analise-cadastros/' + value">
    Ver dados <i class="mdi mdi-arrow-right"></i>
  </a>
</ng-template>
