/*
Badges
========================================= */
.ss-badge-container {
    position: relative;
    overflow: visible;
  }
  
  .ss-badge {
    display: inline-block;
    padding: 5px;
    height: 17px;
    font-size: 80%;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 20px;
    color: #fefefe;
    margin-top: -20px;
    line-height: 7px;
  }

  .ss-badge.small{
    width: 17px;
  }

  .ss-badge.medium{
    width: 26px;
  }

  .ss-badge.large{
    width: 36px;
  }
  
  .ss-badge.default {
    background-color: $color-default;
  }
  
  .ss-badge.primary {
    background-color: $color-primary;
  }
  
  .ss-badge.success {
    background-color: $color-success;
  }
  
  .ss-badge.warning {
    background-color: $color-warning;
  }
  
  .ss-badge.danger {
    background-color: $color-danger;
  }
  
  .ss-badge.active {
    background-color: $color-active;
  }
  
  .ss-btn {
    .ss-badge {
      margin-right: -7px;
      top: 0;
      right: 0;
    }
  }