
<span>Para ativação do programa, confirme os indicadores existentes no fluxo de processo: </span>
<br/>
<div class="ss-grid" *ngIf="!isIndicadoresVazio()" style="padding: 25px;">
  <div class="col-4" *ngFor="let indicador of indicadoresDisponiveis">
    <div class="ss-card">
      <div class="ss-card-body">
        <span> {{ indicador.nomeIndicador }}</span>
      </div>
    </div>
  </div>
</div>
<div class="ss-grid">
  <div class="col-offset-start-8 col-offset-end-3" style="margin-bottom: 10px;">
    <button class="ss-btn ss-btn-success" (click)="ativarPrograma()">Ativar Programa</button>
  </div>
</div>