/* .ss-modal-content{
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%) !important;
    width: 30% !important;
}
 */

 ::ng-deep {
  app-dialogo-sucesso sc-modal #modal > div {
    width: 30% !important;
  }
    @media only screen and (max-width: 749px) {
      app-dialogo-sucesso sc-modal #modal > div {
        width: 90% !important;
      }
    }
}


.mdi-close-circle-outline::before{
  font-size: 72px;
  color: #f33f3f;
  margin-top: 22px;
}

.mdi-check-circle-outline::before{
  font-size: 72px;
  color: #48e6c8;
  margin-top: 22px;
}

.mdi-trophy::before{
  font-size: 72px;
  color: #48e6c8;
  margin-top: 22px;
}

.mdi-loading::before{
  font-size: 72px;
  margin-top: 22px;
}

h5 {
  font-size: 18px !important;
}
