<sc-modal [headerTitle]="data.header" [showClose]="false" width="small" (close)="close()">
    <div class="ss-modal-body">
        <div style="text-align: center">
            <i class="mdi" [ngClass]="data.buttonClass"></i>
            <div [innerHTML]="data.message"></div>
        </div>
    </div>
    <div *ngIf="data.textButton" class="ss-modal-footer ss-modal-footer-buttons">
        <div class="ss-btn ss-btn-success ss-modal-footer-button" style="margin: auto;" id="navegarRota" (click)="navigate(data.rota)">
            {{data.textButton}}
        </div>
    </div>
</sc-modal>
