<div class="ss-card card-center">
    <div class="ss-card-header" style="border-bottom: solid 2px #f2f2f2;padding: 14px;">
        <h6>Informações do projeto</h6>
    </div>
    <div class="ss-card-body">
        <form [formGroup]="infoForm" autocomplete="off" style="padding-top: 10px">
            <div class="ss-grid">
                <div class="col-12" style="margin-top: -17px;">
                    <p style="margin-bottom: -1px;">Qual será o nome do projeto? </p>
                    <sc-form-field class="ss-form-group">
                      <div class="input-group prefix">
                          <span class="input-group-addon">{{nameTemplate}}</span>
                          <input type="text" scInput style="height: auto;padding: 9px;" class="ss-form-control" formControlName="nome">
                      </div>
                    </sc-form-field>
                </div>
                <div class="col-6">
                    <p style="margin-bottom: -1px;margin-top: 0px;">Quem será o responsável?</p>
                    <sc-lista-usuarios formControlName="responsavel" [numeroCooperativa]="usuarioInstituto.numeroCooperativa"></sc-lista-usuarios>
                </div>
                <div class="col-6" style="height: 70px;">
                    <p style="margin-bottom: -1px;margin-top: 0px;">Quando será executado? </p>
                    <div class="flex-container" (click)="dpMDY.toggle()">
                        <btn-circle id="dataInicioFim" icone="mdi-calendar-plus" title="Selecione a Data de início"></btn-circle>
                        <p *ngIf="!(infoForm.value.dataInicio)" style="cursor: pointer;margin: 10px 0 0 6px;font-size: 12px;">
                            Selecione a Data de início</p>
                        <p *ngIf="infoForm.value.dataInicio" style="cursor: pointer;margin: 10px 0 0 6px;">
                            <b>{{infoForm.value.dataInicio | date:'dd/MM/yyyy'}}</b>
                        </p>
                    </div>
                    <small *ngIf="!(infoForm.value.dataInicio)">Campo Requerido</small>
                    <input style="margin-left: -60px;" class="dtPickerS" type="text" #dpMDY="bsDatepicker" formControlName="dataInicio" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }" [minDate]="minDate" [maxDate]="maxDate">
                </div>
                <div class="col-12">
                    <p style="margin-bottom: -1px;">Justificativa</p>
                    <sc-form-field class="ss-form-group">
                        <textarea scInput style="height: auto;padding: 5px;" class="ss-form-control" formControlName="justificativa" rows="4"></textarea>
                    </sc-form-field>
                </div>
            </div>
        </form>
    </div>
    <div class="ss-card-footer">
        <div class="ss-group-inline">
            <button [disabled]="!infoForm.valid" class="ss-btn ss-btn-success" (click)="onConcluir(false)" cdkStepperNext id="proximo">Próximo</button>
        </div>
    </div>
</div>
