.card-center {
    width: 50%;
    margin-left: 25%;
    overflow: inherit !important;

}

@media only screen and (max-width: 1000px) {
    .card-center {
        width: 100%;
        margin-left: 0;
    }
}

 @media only screen and (min-width: 1000px) and (max-width: 1280px) {
  .card-center {
    width: 80%;
    margin-left: 12%;
  }
}




.dtPickerS {
    border: none;
    height: 0px;
    width: 0px;
    position: relative;
    color: TRANSPARENT;
    cursor: pointer;
}

.dtPickerS:focus {
    outline: none;
}

.dtPickerS::selection {
    background: transparent;
    color: transparent;
}

.container-cronograma {
  cursor: pointer;
  margin-top: 15px
}
.texto-cronograma {
  margin: -6px 0 0 10px;
  color: #a0a0a0;
}

.texto-cronograma2{ margin: 1px 0 0 10px; color: #a0a0a0;}


.alterar-cronograma {
  margin-top: -15px;margin-left: 45px;
}


/* COMEÇO DO PREFIXO */
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
}
.prefix input {
  border-radius: 0px 4px 4px 0px;
}
.prefix .input-group-addon {
  border-right: 0;
  border-radius: 4px 0px 0px 4px;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
/* FIM DO PREFIXO */
