<div *ngIf="usuarios$ | async as usuarios" class="container-time-projeto">
  <div *ngIf="usuarios.voluntarios && usuarios.voluntarios.length > 0">
    <h5>Time</h5>
    <p *ngIf="isResponsavel$ | async">Aqui estão as pessoas que você pode associar as suas tarefas</p>
    <p *ngIf="!(isResponsavel$ | async)">Aqui estão as pessoas que fazem parte do time</p>
  </div>
  <h5>Voluntários</h5>
  <div *ngIf="!usuarios.voluntarios || usuarios.voluntarios.length === 0">
    <p *ngIf="(isResponsavel$ | async) && (conviteIntencao$ | async)">Agora é só esperar os voluntários aceitarem o seu
      convite e entrarem na sua
      equipe :)</p>
    <div *ngIf="(isResponsavel$ | async) && !(conviteIntencao$ | async)">
      <p>Ainda não existem voluntários na sua equipe, que tal convocar alguns?</p>
      <button id="convocarVoluntarios" (click)="abrirDialogoConvite()" style="width: auto;"
        class="ss-btn ss-btn-outline-primary">
        Convocar Voluntários
      </button>
    </div>
    <p *ngIf="!(isResponsavel$ | async)">Ainda não existem voluntários na equipe</p>
  </div>
  <div *ngIf="usuarios.voluntarios" class="ss-grid">
    <div *ngFor="let user of usuarios.voluntarios" class="col-2">
      <div class="ss-card ss-mini-card" (click)="irParaPerfil(user._id, 'voluntario')">
        <sc-avatar size="50" [scAvatar]="{name: user.nome}" [displayType]="'circle'"></sc-avatar>
        <div class="ss-mini-card-text ajustar-texto">
          <strong>{{user.nome}}</strong>
        </div>
      </div>
    </div>
  </div>
  <h5>PPE</h5>
  <div *ngIf="usuarios.ppes" class="ss-grid">
    <div *ngFor="let user of usuarios.ppes" class="col-2">
      <div class="ss-card ss-mini-card" (click)="irParaPerfil(user._id, 'ppe')">
        <sc-avatar size="50" [scAvatar]="{name: user.nome}" [displayType]="'circle'"></sc-avatar>
        <div class="ss-mini-card-text ajustar-texto">
          <strong>{{user.nome}}</strong>
        </div>
      </div>
    </div>
  </div>
  <h5>PDE</h5>
  <div *ngIf="usuarios.pdes" class="ss-grid">
    <div *ngFor="let user of usuarios.pdes" class="col-2">
      <div class="ss-card ss-mini-card" (click)="irParaPerfil(user._id, 'pde')">
        <sc-avatar size="50" [scAvatar]="{name: user.nome}" [displayType]="'circle'"></sc-avatar>
        <div class="ss-mini-card-text ajustar-texto">
          <strong>{{user.nome}}</strong>
        </div>
      </div>
    </div>
  </div>
  <h5>PAE</h5>
  <div *ngIf="usuarios.paes" class="ss-grid">
    <div *ngFor="let user of usuarios.paes" class="col-2">
      <div class="ss-card ss-mini-card" (click)="irParaPerfil(user._id, 'pae')">
        <sc-avatar size="50" [scAvatar]="{name: user.nome}" [displayType]="'circle'"></sc-avatar>
        <div class="ss-mini-card-text ajustar-texto">
          <strong>{{user.nome}}</strong>
        </div>
      </div>
    </div>
  </div>
</div>
