<div
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="10"
  [infiniteScrollContainer]="'.app-content'"
  [fromRoot]="true"
  (scrolled)="onScroll()"
  infiniteScroll>
  <app-listar-fluxos
    [scPagedData]="fluxoProcessoList$"
    [scTotals]="fluxoProcessoTotals$"
    (scTabSelected)="onTabSelect($event)"
    (scCloneFluxo)="cloneFluxo($event)"
    (scDeleteFluxo)="deleteFluxo($event)"
    (scOpenFluxo)="openFluxo($event)"l
    (scCreateFluxo)="createFluxo()"></app-listar-fluxos>
</div>

<div *ngIf="showLoadMore" (click)="onScroll()" class="load-more">
  <div class="ss-btn ss-btn-outline-primary">Carregar mais fluxos</div>
</div>

<ng-template #headerTpl>
  <div class="app-header-actions-container">
    <div class="app-header-actions-item">
      <sc-search-input
        id="pesquisarFluxo"
        placeholder="Pesquisar por nome"
        (search)="search($event)"
        (clear)="clearSearch()"></sc-search-input>
    </div>
    <div class="app-header-actions-item" >
      <button
        id="criarNovoFluxo"
        class="ss-btn ss-btn-primary"
        (click)="createFluxo()">
        <i class="mdi mdi-plus-circle-outline" style="margin-right: 4px;"></i> Novo processo
      </button>
    </div>
  </div>
</ng-template>

