.mdi-arrow-left-circle {
    font-size: 30px;
    margin-right: 10px;
}

.container-acoes {
  padding: 15px 75px 0 40px;
}

@media only screen and (max-width: 749px) {
  .container-acoes {
    padding: 15px 15px 0 9px;
  }

}
