<div infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="10" (scrolled)="onScroll()" [infiniteScrollContainer]="'.app-content'" [fromRoot]="true" class="container-acoes">
    <div class="ss-grid">
        <div class="col-6">
            <h6>Suas tarefas</h6>
        </div>
        <div class="col-4" style='margin-right: 20px'>
            <sc-search-input id="buscar" placeholder="Buscar" (search)="onSearch($event)" (clear)="onClear()">
            </sc-search-input>
        </div>
        <div class="col-2">
            <button id="planejarPlano" [routerLink]="['/plano-acao', idPlano, 'planejar']" routerLinkActive="active" style="border: none;color: #00d55c;font-size: 16px;" class="ss-btn">
            <i class="mdi mdi-arrow-left-circle"></i> Todas as tarefas do plano
      </button>
        </div>
    </div>
    <section class="card card-analitico no-padding">
        <div class="card-body">
            <filtro-acoes #filtroAcoes (changeTab)="onChangeTab($event)" [counters$]="counters$"></filtro-acoes>
            <div *ngFor="let acao of (acoes | async); let i = index">
                <sc-executar-acao (parar)="parar($event)" (iniciar)="iniciar($event)" (retomar)="retomar($event)" (concluir)="concluir($event)" [acao]="acao" id="divtarefa-{{i}}" (openDetalhar)="abrirActionBarDetalhes($event)">
                </sc-executar-acao>
            </div>
        </div>
    </section>
    <div *ngIf="(acoes | async)?.length != paginacaoAtualAcoes.total" (click)="onScroll()" class="mostrar-mais">Carregar mais tarefas...</div>
</div>
