<div class="lista-processo">
  <h5>Fluxo de Processo</h5>
  <p>Selecione abaixo um fluxo de processo para ser atribuído ao programa. Crie um novo se necessário.</p>
  <div id="fluxoProcessoList" class="flex-container-h">
    <sins-card
      [scTitle]="'Novo Fluxo de Processo'"
      [scEmptyCard]="true"
      (scClick)="abrirModalNovoFluxo()"></sins-card>
    <sins-card
      *ngFor="let fluxoProcesso of fluxosProcesso"
      [scTitle]="fluxoProcesso.nome"
      [scId]="fluxoProcesso.id"
      [scType]="'select'"
      [selecionado]="isSelecionado(fluxoProcesso.id)"
      (scClick)="receiverOutputClick($event)">
    </sins-card>
  </div>
  <div class="ss-grid">
    <div class="col-offset-start-10 col-offset-end-12">
      <button class="ss-btn ss-btn-success" (click)="finalizar()" [disabled]="!isStepCompleted()" cdkStepperNext>
        Finalizar
      </button>
    </div>
  </div>
</div>
