<ng-template #tpl>
    <div class="app-header-actions-container">
        <div class="app-header-actions-item">
            <button class="ss-btn ss-btn-{{buttonClass}}" (click)="updateTexto()">{{buttonText}}</button>
        </div>
    </div>
</ng-template>

<div id="toolbar">

    <span class="ql-formats">
    <button title="Negrito" class="ql-bold"></button>
    <button title="Itálico" class="ql-italic"></button>
    <button title="Sublinhado" class="ql-underline"></button>
    <button title="Tachado" class="ql-strike"></button>
  </span>

    <span class="ql-formats">
    <button title="Citação" type="button" class="ql-blockquote"></button>
  </span>

    <span class="ql-formats">
    <button title="Lista Numerada" type="button" class="ql-list" value="ordered"></button>
    <button title="Lista Marcada" type="button" class="ql-list" value="bullet"></button>
  </span>

    <span class="ql-formats">
    <button title="Sub" class="ql-script" value="sub"></button>
    <button title="Super" class="ql-script" value="super"></button>
  </span>

    <span class="ql-formats">
    <button title="-Tab" type="button" class="ql-indent" value="-1"></button>
    <button title="+Tab" type="button" class="ql-indent" value="+1"></button>
  </span>

    <span class="ql-formats">
    <select class="ql-size">
      <option value="small">Pequena</option>
      <option selected></option>
      <option value="large">Grande</option>
      <option value="huge">Imensa</option>
    </select>
  </span>

    <span class="ql-formats">
    <select class="ql-header">
      <option value="1">Título 1</option>
      <option value="2">Título 2</option>
      <option value="3">Título 3</option>
      <option value="4">Título 4</option>
      <option value="5">Título 5</option>
      <option value="6">Título 6</option>
      <option selected="selected"></option>
    </select>
  </span>

    <span class="ql-formats">
    <select title="Cor da letra" class="ql-color">
      <option selected="selected"></option>
      <option value="#e60000"></option>
      <option value="#ff9900"></option>
      <option value="#ffff00"></option>
      <option value="#008a00"></option>
      <option value="#0066cc"></option>
      <option value="#9933ff"></option>
      <option value="#ffffff"></option>
      <option value="#facccc"></option>
      <option value="#ffebcc"></option>
      <option value="#ffffcc"></option>
      <option value="#cce8cc"></option>
      <option value="#cce0f5"></option>
      <option value="#ebd6ff"></option>
      <option value="#bbbbbb"></option>
      <option value="#f06666"></option>
      <option value="#ffc266"></option>
      <option value="#ffff66"></option>
      <option value="#66b966"></option>
      <option value="#66a3e0"></option>
      <option value="#c285ff"></option>
      <option value="#888888"></option>
      <option value="#a10000"></option>
      <option value="#b26b00"></option>
      <option value="#b2b200"></option>
      <option value="#006100"></option>
      <option value="#0047b2"></option>
      <option value="#6b24b2"></option>
      <option value="#444444"></option>
      <option value="#5c0000"></option>
      <option value="#663d00"></option>
      <option value="#666600"></option>
      <option value="#003700"></option>
      <option value="#002966"></option>
      <option value="#3d1466"></option>
    </select>


    <select title="Fundo" class="ql-background">
      <option value="#000000"></option>
      <option value="#e60000"></option>
      <option value="#ff9900"></option>
      <option value="#ffff00"></option>
      <option value="#008a00"></option>
      <option value="#0066cc"></option>
      <option value="#9933ff"></option>
      <option selected="selected"></option>
      <option value="#facccc"></option>
      <option value="#ffebcc"></option>
      <option value="#ffffcc"></option>
      <option value="#cce8cc"></option>
      <option value="#cce0f5"></option>
      <option value="#ebd6ff"></option>
      <option value="#bbbbbb"></option>
      <option value="#f06666"></option>
      <option value="#ffc266"></option>
      <option value="#ffff66"></option>
      <option value="#66b966"></option>
      <option value="#66a3e0"></option>
      <option value="#c285ff"></option>
      <option value="#888888"></option>
      <option value="#a10000"></option>
      <option value="#b26b00"></option>
      <option value="#b2b200"></option>
      <option value="#006100"></option>
      <option value="#0047b2"></option>
      <option value="#6b24b2"></option>
      <option value="#444444"></option>
      <option value="#5c0000"></option>
      <option value="#663d00"></option>
      <option value="#666600"></option>
      <option value="#003700"></option>
      <option value="#002966"></option>
      <option value="#3d1466"></option>
    </select>

  </span>

    <span class="ql-formats">
    <select class="ql-font">
      <option selected="selected"></option>
      <option value="serif"></option>
      <option value="monospace"></option>
    </select>
  </span>

    <span class="ql-formats">
    <select title="Alinhamento" class="ql-align">
      <option selected="selected"></option>
      <option value="center"></option>
      <option value="right"></option>
      <option value="justify"></option>
    </select>
  </span>

    <span class="ql-formats">
    <button title="Limpar estilo" type="button" class="ql-clean"></button>
  </span>

    <span class="ql-formats">
    <button title="Incluir título" type="button" class="ql-link"></button>
  </span>



</div>

<quill-editor #quillEditor [(ngModel)]="editorContent" [options]="editorConfig" (ready)="onEditorCreated($event)" (focus)="onEditorFocused($event)" (change)="onContentChanged($event)">
</quill-editor>