.investimento-label {
  font-size: 14px;
  color: rgba(0, 0, 0, .5);
}

.investimento-valor {
  font-size: 16px;
  margin: 0 6px 0 0;
}

.container-invest {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
