<div class="ss-grid" *ngIf="totaisInvestimentoProjeto">
  <div class="col-12">
    <div class="investimento-label">Valor total estimado:</div>
    <p class="investimento-valor">{{totaisInvestimentoProjeto.orcamento | currency: 'BRL'}}</p>
  </div>
  <div class="col-12">
    <apx-chart [autoUpdateSeries]="true" [chart]="chart" [series]="series" [labels]="['']" [colors]="['#7DB61C']"
      [plotOptions]="plotOptions"></apx-chart>
  </div>
  <div class="col-12">
    <div class="container-invest">
      <div class="">
        <div class="investimento-label">Restam:</div>
        <p class="investimento-valor">
          {{totaisInvestimentoProjeto.orcamento - totaisInvestimentoProjeto.investimento | currency: 'BRL'}}</p>
      </div>
      <div class="">
        <div class="investimento-label">Investido:</div>
        <p class="investimento-valor">{{totaisInvestimentoProjeto.investimento | currency: 'BRL'}}</p>
      </div>
    </div>
  </div>
</div>