<sc-programa
  *ngIf="programa"
  [scPrograma]="programaForm"
  (scAtivar)="ativar()"
  (scFormChange)="atualizarPrograma($event)"
  (scNavegarFluxoProcesso)="navegarParaFluxoProcesso()">
</sc-programa>

<ng-template #botoesProgramas>
  <div class="app-header-actions-container">
    <div class="app-header-actions-item" *ngIf="!programa?.possuiProjetoVinculado; else edicaoBloqueada">
      <button class="ss-btn ss-btn-outline-primary" [disabled]="programa?.ativo ? !isProgramaFormValid : false" (click)="salvarRascunho()">
        {{ programa?.ativo ? 'Salvar' : 'Salvar Rascunho' }}
      </button>
    </div>
    <ng-template #edicaoBloqueada>
      <div class="app-header-actions-item"
           triggers="mouseenter:mouseleave"
           popover="Programas que possuem projetos vinculados não podem ser alterados."
           placement="left">
        <button class="ss-btn ss-btn-outline-primary" [disabled]="true">Salvar</button>
      </div>
    </ng-template>
  </div>
</ng-template>
