/*

  .ss-tab .ss-tab-links.active {
    border-bottom: 2px solid #000000 !important;
    color: #000000 !important;
  } */


.ss-tab {
  border-bottom: none !important;
}

.ss-tab .ss-tab-links:hover {
  background-color: initial !important;
}

.ss-tab .ss-tab-links {
  padding: 4px 20px !important;
}

.ss-mini-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  height: 160px;
  transition: 0.3s;
  cursor: pointer;
}

.ss-mini-card-value {
  background-color: #7d7d7d;
  display: inline-block;
  padding: 16px 21px;
  border-radius: 30px;
  box-shadow: 0 0 2px #888;
  span {
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
  }
}

.ss-mini-card-text {
  margin-top: 10px;
  text-align: center;
}

.ajustar-texto {
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
