<sc-banner (scClick)="navegarParaPerfil()"
 *ngIf="projeto$ | async as projeto" tema="sc-banner-info" [title]="projeto.nome" [subtitle]="subtitle(projeto)" [image64]="(programa$ | async)?.imagem" >
  <div style="margin-top: 16px;" class="ss-tab">
    <button *ngFor="let tab of tabsModel;let i = index;" (click)="navegateTo(tab.route)"
      [ngClass]="{'active': isActive(tab)}" class="ss-tab-links">{{tab.title}}</button>
  </div>
  <div style="width: 200px;display: flex;justify-content: flex-end;">
    <sc-avatar-list [avatars]="avatars" [moreTitle]="moreTitle" moreActionTitle="Visualizar Time"
      (onSelected)="selecionarAvatar($event)" (onInvited)="convidar()"></sc-avatar-list>
  </div>
</sc-banner>


<router-outlet></router-outlet>
