<div *ngFor="let option of options">
    <label class="container" (click)="setValue(option.value)" class="ss-radiobutton">
      {{option.label}}
      <input type="radio" [class.checked]="option.value === value" [checked]="option.value === value" >
      <span class="ss-checkmark"></span>
    </label>
</div>
  