//imports
@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/variaveis';
// @import '../grid/grid.component';

/*
Radio button
========================================= */

.ss-radiobutton {
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 8px;
    line-height: 20px;
    cursor: pointer;
    @include user-select();
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    .ss-checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: $color-base-1;
        border: $comp-border;
        // border-color: $color-base-5;
    }
    &:hover input~.ss-checkmark {
        background-color: $color-base-3;
    }
    input:checked~.ss-checkmark {
        background-color: $color-highlight;
        border-color: $color-highlight;
    }
    .ss-checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    input:checked~.ss-checkmark:after {
        display: block;
    }
}


/* Radio button */

.ss-radiobutton {
    .ss-checkmark {
        border-radius: 50%;
    }
    .ss-checkmark:after {
        top: 5px;
        left: 5px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $color-background;
    }
}
