.ss-card-divider {
  border-bottom: 1px solid rgba(201, 201, 201, .5);
  padding-bottom: 25px;
}

.ss-card-header-content {
  justify-content: space-between;
  align-items: center;
}

.ss-btn-sm {
  height: 26px !important;
  padding: 0 8px !important;
  font-size: 9pt;
}
