<sc-tarefas-dashboard [scTotaisPassosSituacao]="scTotaisTarefas"></sc-tarefas-dashboard>

<div id="projects-data" class="ss-grid" style="margin: 24px 48px 0 48px">
  <div class="col-9">
    <form [formGroup]="dadosProjetosForm">
      <div class="ss-card">
        <div class="ss-card-header ss-card-divider">
          <div class="flex-container-h ss-card-header-content">
            <div class="flex-container-h" style="align-items: baseline;">
              <div style="font-weight: bold;">Situação dos projetos</div>
              <ng-select
                class="ss-btn-sm"
                [items]="anosVigencia"
                [closeOnSelect]="true"
                [clearable]="false"
                formControlName="anoVigencia"
                style="margin-left: 24px;">
              </ng-select>
            </div>
            <div class="ss-btn ss-btn-sm ss-btn-outline-primary" style="flex: 0 0 0;" (click)="detalharProjetos()">
              Ver detalhes
            </div>
          </div>
        </div>
        <div class="ss-card-body">
          <div class="ss-grid">
            <div class="col-6">
              <sc-contador-projetos-chart
                scTitulo="Quantidade de projetos"
                scLargura="360px" scAltura="360px"
                [scTotalProjetosSituacao]="scTotalProjetosSituacao">
              </sc-contador-projetos-chart>
            </div>
            <div class="col-6">
              <sc-orcamento-projetos-chart
                scTitulo="Orçado x realizados de projetos"
                scAltura="300px"
                [scOrcamentoInvestimentoProjeto]="scInvestimentosProjeto">
              </sc-orcamento-projetos-chart>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-3">
    <div class="ss-card">
      <div class="ss-card-header ss-card-divider">
        <div class="flex-container-h ss-card-header-content">
          <div style="font-weight: bold;">Investimentos</div>
        </div>
      </div>
      <div class="ss-card-body">
        <sc-investimento-projetos-chart
          [scTotaisInvestimentoProjeto]="scTotaisInvestimentoProjetos"
          [scTamanho]="200">
        </sc-investimento-projetos-chart>
      </div>
    </div>
  </div>
</div>
