::ng-deep {
    #plano .ss-card {
        background-color: #FFFFFF;
        display: block;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        overflow: initial;
    }
    #plano .ss-card:hover {
        box-shadow: 0 2px 4px -1px;
        cursor: pointer;
    }
    #plano .ss-card .ss-card-footer {
        padding: 0 22px 11px 22px;
    }
    #plano .ss-card .ss-card-body {
        padding: 0 22px 10px 22px;
    }
    #plano .ss-progress-bar {
        margin-top: 4px !important;
        height: 10px;
    }
    #plano .ss-progress-bar .ss-progress {
        font-size: 0px;
        height: 10px !important;
        color: transparent;
    }
}

.ss-mini-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    height: 180px;
    cursor: pointer;
    transition: 0.3s;
}

.ss-mini-card:hover {
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.12);
}

.ss-mini-card-text {
    margin-top: 10px;
    text-align: center;
}

.ajustar-texto {
    width: 215px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-novo-item {
    justify-content: center;
    text-align: center;
    background-color: #FFF;
}

.card-novo {
    border: 1px dashed black !important;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    height: 235px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    background: unset;
}
