<div class="ss-grid" style="margin: 20px">
    <div *ngIf="(planosAcao | async)?.length <= 0" class="col-3 col-sm-12 col-md-4">
        <div id="criarPlanoTop" (click)="abrirCriar()" class="card-novo card-novo-item">
            <i class="mdi mdi-plus-box" style="color: #00a091; font-size: 64px; padding-bottom: 12px"></i>
            <span>Novo Plano de Ação</span>
        </div>
    </div>
    <div class="col-3 col-sm-12 col-md-4" *ngFor="let planoAcao of planosAcao | async; let i=index" title="Acessar o plano de Ação">
        <sc-card id="plano">
            <sc-card-header>
                <sins-menu-dropdown #dropDown style="float: right;margin: -12px -17px 0px 0px" size='155px' (onAction)="onAction($event)" [position]='position' [listMenu]="montarMenu(planoAcao)">
                </sins-menu-dropdown>
                <div class="flex-container-h">
                    <span id="situacaoPlano" style="position: relative;margin: -10px 0px 0px -16px;" class="ss-label ss-label-outline {{getSituacaoClass(planoAcao.situacao)}}">{{getSituacaoLabel(planoAcao.situacao)}}</span>
                    <h6 style="margin: -10px 0px 0px 10px;">{{planoAcao.vigencia}}</h6>
                </div>
            </sc-card-header>
            <sc-card-content [routerLink]="['/plano-acao/', planoAcao.id, 'planejar']">
                <div [id]="planoAcao.nome">
                    <h6 class="ajustar-texto" id="nomePlano">{{planoAcao.nome}}</h6>
                    <span style="font-weight: bold;" id="dataCriacaoPlano"><small style="font-weight: initial;margin-right: 4px;">Criado em:</small>{{planoAcao.dataCriacao | date:'dd/MM/yyyy'}}</span><br>
                    <span style="font-weight: bold;" id="periodoRevisaoPlano" ><small style="font-weight: initial;margin-right: 4px;">Próxima revisão em:</small>{{planoAcao.dataProximaRevisao | date:'dd/MM/yyyy'}}</span>
                    <div class="flex-container" style="margin-top: 5px;">
                        <div class="ss-tooltip" style="margin: 0;">
                            <sc-avatar size="30" [scAvatar]="{name: planoAcao.responsavel.nome}" [displayType]="'circle'">
                            </sc-avatar>
                            <span id="responsavelPlano" class="ss-tooltiptext ss-tooltip-bottom">{{planoAcao.responsavel.nome}}</span>
                        </div>
                        <p id="cooperativaPlano" style="margin: 5px 0 0 6px;">Cooperativa: {{planoAcao.numeroCooperativa}}</p>
                    </div>
                </div>
            </sc-card-content>
            <sc-card-footer>
                <div class="ss-grid" style="margin-top: 5px;">
                    <div class="col-4 col-sm-4 col-md-4" style="text-align: center;" *ngFor="let situacao of planoAcao.situacaoAcoes.totalSituacao">
                        <div [id]="getSituacaoLabel(situacao.situacao)" style="font-size: 16px;">{{situacao.total}}</div>
                        <div style="font-size: 10px;margin-top: -9px;">{{getSituacaoLabel(situacao.situacao)}}</div>
                    </div>
                </div>
                <sc-progress-bar *ngIf="!planoAcao.situacaoAcoes.impedida" [progress]="planoAcao.situacaoAcoes.percentual" color="#00CC66">
                </sc-progress-bar>
                <sc-progress-bar *ngIf="planoAcao.situacaoAcoes.impedida" [progress]="planoAcao.situacaoAcoes.percentual" color="#EB5757">
                </sc-progress-bar>
            </sc-card-footer>
        </sc-card>
    </div>
</div>
