<app-banco-voluntarios
  [voluntarios$]="voluntarios$"
  [filtro$]="filtro$"
  [filtrosCooperativa]="filtrosCooperativa$"
  [total$]="total$"
  (pesquisar)="pesquisar()"
  (desativar)="desativarVoluntario($event)"
  (manterHoras)="abrirActionBarManterHoras($event)"
  (detalhar)="abrirActionBarDetalharVoluntario($event)"
  (filtrar)="abrirActionBarFiltrarVoluntarios()"></app-banco-voluntarios>

<ng-template #headerTpl>
  <div class="app-header-actions-container">
    <div class="app-header-actions-item">
      <button
        *ngxPermissionsOnly="['PPE', 'PDE', 'PAE']"
        id="analise-cadastros"
        class="ss-btn ss-btn-outline-success"
        routerLink="/analise-cadastros/">Consultar voluntários em análise</button>
    </div>
  </div>
</ng-template>
