.accordion-header {
  width: 100%;
  padding: 8px 0;
  cursor: pointer;
  font-size: 12pt;
  border-bottom: 1px #bfcccf solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  i {
    font-size: 15pt;
  }
}

.accordion-content {
  padding: 8px 0;
  overflow: hidden;
}
