<div class="ss-grid" style="margin-top: 10px; margin-bottom: 10px;">
  <div class="col-1">
    <i class="material-icons sins-year-button" (click)="reduzAno()" *ngIf="!verificaAnoEAtualOuMenor()">keyboard_arrow_left</i>
  </div>
  <div class="col-10">
      <input type="number" maxlength="9999" minlength="" class="ss-form-control ss-validation-field" value="{{ ano }}" [(ngModel)]="ano" (change)="verificaValor()">
  </div>
  <div class="col-1">
      <i class="material-icons sins-year-button" (click)="somaAno()">keyboard_arrow_right</i>
  </div>
</div>
 