.sins-year-button {
    cursor: pointer;
    font-size: 36px;
    transition: 0.8s
}

.sins-year-button:hover{
    cursor: pointer;
    color: #00AE9D;
    font-size: 36px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

