/* ::ng-deep{
    .ss-modal-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 25vw !important;
    }
} */

::ng-deep {
  #dialogoConfirmacao #modal>.ss-modal-content {
      width: 40%;
  }
  @media only screen and (max-width: 749px) {
      #dialogoConfirmacao #modal>.ss-modal-content {
          width: 80%;
      }
  }
}

.dialogo-confirmacao{
    display: grid;
    grid-template-rows: 50px 1fr 65px;

    header{
        padding: 15px;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-column-gap: 1vw;

        .dialogo-confirmacao-title{
            line-height: 20px;
            font-size: 16px;
            grid-column: 1/2;
        }

        .dialogo-confirmacao-icones{
            display: grid;
            grid-template-columns: 20px;
            grid-template-rows: 20px;
            grid-auto-flow: column;
            grid-column-gap: 5px;
            grid-column: 2/3;

            i{
                font-size: 20px;
                width: 20px;
                height: 20px;
                line-height: 20px;
                cursor: pointer;
            }
        }
    }

    article{
        padding: 0 15px;
    }

    footer{
        padding: 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1vw;

        button{margin: 0}
    }

}
