<sc-modal id="dialogoConfirmacao" [headerTitle]="data.header" [showClose]="true" width="small">
    <div class="ss-modal-body">
        <p *ngIf="!data.pergunta">Deseja confirmar a operação?</p>
        <p *ngIf="data.pergunta">{{data.pergunta}}</p>
        <p *ngIf="data.adicional">{{data.adicional}}</p>
    </div>
    <div class="ss-modal-footer ss-modal-footer-buttons">
        <button id="cancelar" class="ss-btn ss-btn-outline-danger ss-modal-footer-button" (click)="decidir(false)">
          {{txtNao}}
        </button>
        <button id="confirmar" class="ss-btn ss-btn-success ss-modal-footer-button" (click)="decidir(true)">
          {{txtSim}}
        </button>
    </div>
</sc-modal>
