.banner {
  display: flex;
  flex-direction: row;
  height: 70px;
  padding: 0 20px;
  margin: -20px -20px 0 -20px;
  box-shadow: 2px -4px 5px #888;
  align-items: center;
  justify-content: space-between;

  .banner-img-blank {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    box-shadow: 1px 0 5px #888;
  }

  .banner-img {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    box-shadow: 1px 0 5px #888;
  }

  .banner-title-container {
    display: flex;
    flex-direction: column;
    margin-left: 15px;

    .banner-title {
      font-weight: bold;
      font-size: 14pt;
      width: 270px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .banner-subtitle {
      font-size: 12pt
    }
  }

}

.sc-banner-info {
  background-color: #fefefe !important;
  color: #656565 !important;
}
.sc-banner-success {
  background-color: #5081eb!important;
  color: #656565 !important;
}
.sc-banner-default {
  background-color: #00AE9D;;
  color: white !important;
}

.banner-clickable {
  cursor: pointer;
}
