<sc-tab-panel #tabPanelFiltro [headerTemplate]="customTabsHeader" (selectedIndexChange)="onTabSelected($event)">
  <sc-tab #tabAguardandoAnalise></sc-tab>
  <sc-tab #tabAguardandoAssinatura></sc-tab>
  <sc-tab #tabDevolvidoAjuste></sc-tab>
  <sc-tab #tabAjusteVoluntario></sc-tab>
</sc-tab-panel>

<ng-template #customTabsHeader>
  <div class="ss-tab">
    <div
      class="ss-tab-links"
      [ngClass]="{'active': tabAguardandoAnalise.selected}"
      (click)="tabPanelFiltro.selectTab(tabAguardandoAnalise)"
      [id]="'tabAguardandoAnalise'">
      <div class="ss-badge-container">
        <p>
          Aguardando análise
          <span scBadge color="primary">{{getCounter('aguardandoAnalise')}}</span>
        </p>
      </div>
    </div>
    <div
      class="ss-tab-links"
      [ngClass]="{'active': tabAguardandoAssinatura.selected}"
      (click)="tabPanelFiltro.selectTab(tabAguardandoAssinatura)"
      [id]="'tabAguardandoAssinatura'">
      <div class="ss-badge-container">
        <p>
          Aguardando assinatura
          <span scBadge color="active">{{getCounter('aguardandoAssinatura')}}</span>
        </p>
      </div>
    </div>
    <div
      class="ss-tab-links"
      [ngClass]="{'active': tabDevolvidoAjuste.selected}"
      (click)="tabPanelFiltro.selectTab(tabDevolvidoAjuste)"
      [id]="'tabDevolvidoAjuste'">
      <div class="ss-badge-container">
        <p>
          Devolvido para ajuste
          <span scBadge color="danger">{{getCounter('devolvidoAjuste')}}</span>
        </p>
      </div>
    </div>
    <div
      class="ss-tab-links"
      [ngClass]="{'active': tabAjusteVoluntario.selected}"
      (click)="tabPanelFiltro.selectTab(tabAjusteVoluntario)"
      [id]="'tabAjusteVoluntario'">
      <div class="ss-badge-container">
        <p>
          Ajuste do voluntário
          <span scBadge color="danger">{{getCounter('ajusteVoluntario')}}</span>
        </p>
      </div>
    </div>
  </div>
</ng-template>
