::ng-deep {
    sc-sins-analise-cadastros>sc-tab-panel>sc-tab:nth-child(2)>div {
        display: none;
    }
    sc-sins-analise-cadastros>sc-tab-panel>sc-tab:nth-child(3)>div {
        display: none;
    }
    sc-sins-analise-cadastros>sc-tab-panel>sc-tab:nth-child(4)>div {
        display: none;
    }
    sc-sins-analise-cadastros>sc-tab-panel>sc-tab:nth-child(5)>div {
        display: none;
    }
}
