Seus Programas:
<div *ngIf="programas$.length == 0" class="empty-state">
</div>
<div *ngIf="programas$.length == 0" class="ss-grid">
    <div style="text-align: center;grid-column-start: 6;grid-column-end: 9;">
        <p style="color: #005d5e;font-size: 13px;margin: -70px 0 0 -70px;">Você ainda não realizou o cadastro de
            nenhum programa.</p>
        <button (click)="adicionarPrograma()" style="margin-left: -33px;" class="ss-btn ss-btn-primary">Novo
            Programa</button>
    </div>
</div>
