<div formGroupName="produtoForm" style="padding-top: 10px">
  <sc-form-field scLabel="Produto">
    <input scInput formControlName="produto" [disableControl]="!scEditavel" />
  </sc-form-field>
  <sc-form-field scLabel="Benefícios">
    <textarea scInput class="ss-form-control" formControlName="beneficios" rows="4" [disableControl]="!scEditavel"></textarea>
  </sc-form-field>

  <!-- PREMISSAS -->
  <div style="margin-bottom: 16px;">
    <sc-accordion-item scTitle="Premissas" [scInitOpen]="true">
      <div formArrayName="premissas">
        <div class="flex-container-h" style="align-items: baseline;" *ngFor="let premissa of premissas.controls; index as i">
          <div class="ss-form-group" style="flex: 1 1 auto;">
            <input type="text" class="ss-form-control ss-input-container" formControlName="{{i}}" [disableControl]="!scEditavel">
            <i class="material-icons ss-input-icon-right" style="cursor: pointer;" *ngIf="scEditavel && premissas.length > 1" (click)="removerPremissa(i)">close</i>
          </div>
        </div>
        <div class="sins-add-control" (click)="adicionarPremissa()" *ngIf="scEditavel">
          <i class="material-icons">add</i> Adicionar Premissa
        </div>
      </div>
    </sc-accordion-item>
  </div>

  <!-- RISCOS -->
  <div style="margin-bottom: 16px;">
    <sc-accordion-item scTitle="Riscos" [scInitOpen]="false">
      <div formArrayName="riscos">
        <div class="flex-container-h" *ngFor="let risco of riscos.controls; index as i">
          <div class="ss-form-group" style="flex: 1 1 auto;">
            <input type="text" class="ss-form-control ss-input-container" [formControlName]="i" [disableControl]="!scEditavel">
            <i class="material-icons ss-input-icon-right" style="cursor: pointer" *ngIf="scEditavel && riscos.length > 1" (click)="removerRisco(i)">close</i>
          </div>
        </div>
        <div class="sins-add-control" (click)="adicionarRisco()" *ngIf="scEditavel">
          <i class="material-icons">add</i> Adicionar Risco
        </div>
      </div>
    </sc-accordion-item>
  </div>

  <!-- RESTRIÇÕES -->
  <div style="margin-bottom: 16px;">
    <sc-accordion-item scTitle="Restrições" [scInitOpen]="false">
      <div formArrayName="restricoes">
        <div style="display: flex;" *ngFor="let restricao of restricoes.controls; index as i">
          <div class="ss-form-group" style="flex: 1 1 auto;">
            <input type="text" class="ss-form-control ss-input-container" [formControlName]="i" [disableControl]="!scEditavel">
            <i class="material-icons ss-input-icon-right" style="cursor: pointer;" *ngIf="scEditavel && restricoes.length > 1" (click)="removerRestricao(i)">close</i>
          </div>
        </div>
        <div class="sins-add-control" (click)="adicionarRestricao()" *ngIf="scEditavel">
          <i class="material-icons">add</i> Adicionar Restrição
        </div>
      </div>
    </sc-accordion-item>
  </div>

  <!-- REQUISITOS -->
  <div style="margin-bottom: 16px;">
    <sc-accordion-item scTitle="Requisitos" [scInitOpen]="false" style="margin-bottom: 16px;">
      <div formArrayName="requisitos">
        <div style="display: flex;" *ngFor="let requisito of requisitos.controls; index as i">
          <div class="ss-form-group" style="flex: 1 1 auto;">
            <input type="text" class="ss-form-control ss-input-container" [formControlName]="i" [disableControl]="!scEditavel">
            <i class="material-icons ss-input-icon-right" style="cursor: pointer;" *ngIf="scEditavel && requisitos.length > 1" (click)="removerRequisito(i)">close</i>
          </div>
        </div>
        <div class="sins-add-control" (click)="adicionarRequisito()" *ngIf="scEditavel">
          <i class="material-icons">add</i> Adicionar Requisito
        </div>
      </div>
    </sc-accordion-item>
  </div>

</div>
