#timeline-wrap {
    margin: 6% 15%;
    top: 100;
    position: relative;
}

#timeline {
    height: 1px;
    width: 100%;
    background-color: #aabbc4;
    position: relative;
}

.marker {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    margin-left: -25px;
    background-color: #999999;
    border-radius: 50%;
}

.marker:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.marker.error {
    background: rgb(247, 114, 114) !important;
    box-shadow: 0 0 0 0 rgba(253, 108, 108, 0.678);
    -webkit-animation: pulse 1.5s infinite;
    -moz-animation: pulse 1.5s infinite;
    -o-animation: pulse 1.5s infinite;
    -ms-animation: pulse 1.5s infinite;
}

.marker.current {
    background: #3e886c;
    box-shadow: 0 0 0 0 rgba(90, 212, 206, 0.5);
    -webkit-animation: pulse 1.5s infinite;
    -moz-animation: pulse 1.5s infinite;
    -o-animation: pulse 1.5s infinite;
    -ms-animation: pulse 1.5s infinite;
}

.marker.complete {
    background-color: #3e886c !important;
}

.label {
    margin-top: 60px;
    margin-left: -50px;
    text-align: center;
    position: absolute;
}

.m1 {
    top: -25px;
}

.m2 {
    top: -25px;
    left: 32.5%
}

.m3 {
    top: -25px;
    left: 66%
}

.m4 {
    top: -25px;
    left: 100%
}

p.label.m4 {
    margin-left: -35px;
}

@-webkit-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    }
}

@-moz-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    }
}

@-ms-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    }
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    }
}
