<div id="timeline-wrap">
    <div id="timeline"></div>

    <p class="label {{'m' + (i + 1)}}" *ngFor="let situacao of listaSituacao; let i = index">{{situacao.label}}</p>

    <div class="marker {{'m' + (i + 1)}}" [ngClass]="{'complete': situacao.complete, 'current': situacao.current, 'error' : situacao.error}" *ngFor="let situacao of listaSituacao; let i = index">
        <i class="mdi mdi-{{situacao.icon}}"></i>
    </div>
</div>