.mdi-plus::before{
  color: #4da191;
}

.inline-box {
  display: inline-block;
}

.icon-add-task {
  margin-left: -6px;padding: 10px 0 0 0;cursor: pointer;
}

.toolbar-planoacao {
  background: #007164;
  color: white;
  padding-left: 30px;
  z-index: 1;
  width: 100%;
}


.flex-container > div {
  margin: 10px;
  text-align: center;
}


.pipe {
  border-left: 1px solid #ffffff7d;
  height: 20px;
  margin-top: 3px !important;
  margin-bottom: 0px !important;
}
