<div id="toolbarPlanoAcao" *ngIf="(planoAcao | async) as planoAcao"  class="toolbar-planoacao flex-container">
    <div style="text-align: left;">
        <span id="planoAcaoNome" style="font-size: 20px;">{{planoAcao.nome }}</span>
    </div>
    <div> <span class="ss-label {{getSituacaoClass(planoAcao.situacao)}}">{{getSituacaoLabel(planoAcao.situacao)}}</span>
    </div>
    <div class="flex-container" style="margin-bottom: 0;">
        <span id="planoAcaoDataCriacao">Criado em {{planoAcao.dataCriacao | date: 'dd/MM/yyyy' }} </span><div class="pipe"></div>
        <span id="planoAcaoDataProxRevisao">Próxima revisão em: {{planoAcao.dataProximaRevisao | date: 'dd/MM/yyyy' }}  </span> <div class="pipe"></div>
        <span id="planoAcaoVigencia">Vigência: {{planoAcao.vigencia}}</span><div class="pipe"></div>
        <div *ngIf="planoAcao.responsavel && planoAcao.responsavel.nome"  style="margin: 0;margin-top: -3px;" class="flex-container">
            <div class="ss-tooltip" style="margin: 0;">
                <sc-avatar size="30" [scAvatar]="{name: planoAcao.responsavel.nome}" [displayType]="'circle'">
                </sc-avatar>
                <span id="planoAcaoResponsavel" style="margin-top: -15px;" class="ss-tooltiptext ss-tooltip-bottom">{{planoAcao.responsavel.nome}}</span>
            </div>
            <p id="planoAcaoNumeroCooperativa" style="margin: 5px 0 0 6px;">Cooperativa: {{planoAcao.numeroCooperativa}}</p>
        </div>
    </div>
</div>
