<form [formGroup]="stepInfoForm" autocomplete="off">
  <div class="ss-grid" style="margin: 0 48px 0 48px">
    <div class="col-4">
      <sc-card>
        <sc-card-content>
          <div class="ss-grid">
            <div class="col-12" style="margin: 0 auto;margin-bottom: 5px;">
              <!-- <img class="ss-user-img" [src]="resultado.photo || emptyImg"> -->
            </div>
          </div>
          <div formGroupName="programaForm" style="padding-top: 10px">
            <div class="ss-grid">
              <div class="col-offset-start-5">
                <sins-upload-img
                  style="flex: 0 0 auto"
                  [scTexto]="'Imagem do Programa'"
                  (scFeedback)="receiveFeedbackUploadImagem($event)"
                  [scPreloadImagem]="scPrograma.imagem"></sins-upload-img>
                <small *ngIf="!programaForm.get('imagem').valid" style="color: red">Campo Requerido</small>
              </div>
            </div>

            <sc-form-field scLabel="Nome do programa">
              <input id="nomePrograma" class="ss-form-control" placeholder="Insira o nome do programa"
                     formControlName="nome">
            </sc-form-field>

            <label for="portfolio">
              Portfolio
              <select id="portfolio" name="portfolio" type="text" class="ss-form-control" style="margin: 8px 0 16px 0;"
                      formControlName="portfolio" required>
                <option value="">Selecione o portfólio</option>
                <option *ngFor="let item of portfolios" [value]="item._id">
                  {{item.nome}}
                </option>
              </select>
            </label>

            <label for="anoVigencia">
              Ano correspondente a este programa
              <select id="anoVigencia" name="anoVigencia" class="ss-form-control" style="margin: 8px 0 16px 0;"
                      formControlName="vigencia">
                <option [value]="ano" *ngFor="let ano of anos">{{ ano }}</option>
              </select>
            </label>
          </div>
        </sc-card-content>
      </sc-card>
    </div>
    <div class="col-8">
      <sc-card>
        <sc-card-content>
          <sins-cadastro-programas-tabs [parentForm]="stepInfoForm" (scFinalizar)="finalizar(true)"></sins-cadastro-programas-tabs>
        </sc-card-content>
        <sc-card-footer>
        </sc-card-footer>
      </sc-card>
    </div>
  </div>
</form>
