.upload-circle {
    border-radius: 5%;
    background-color: #9CC9FF;
    color: #FFFFFF;
    width: 90px;
    height: 90px;
}

.upload-circle:hover {
    border-radius: 5%;
    background-color: #7c8ca0;
    color: #DADADA;
    width: 90px;
    height: 90px;
    cursor: pointer;
}

.inner-upload-circle {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    top: 40px;
}

.inner-upload-circle:hover {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    transition: 0.2;
}

.inner-upload-circle i{
    font-size: 35px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.imageElem {
    width: 90px;
    height: 90px;
}

.image-circle {
    border-radius: 5%;
    width: 90px;
    height: 90px;
}

.image-circle:hover {
    background-color: #9CC9FF;
    width: 90px;
    height: 90px;
    border-radius: 5%;
    bottom: 100%;
}

.image-circle img {
    border-radius: 5%;
    width: 90px;
    height: 90px;
    cursor: pointer;
}

.image-circle img:hover{
    border-radius: 5%;
    width: 90px;
    height: 90px;
    opacity: 0.7;

}
