<!--<div class="upload-circle" (click)="clicado()" #uploadCircle>-->
<!--    <div class="inner-upload-circle">-->
<!--        <i class="mdi mdi-camera"></i>-->
<!--    </div>-->
<!--</div>-->

<div style="width: 90px; height: 90px; display: flex; justify-content: center; border-radius: 5%; align-items: center; background-color: #eaeaf3;" (click)="clicado()" #uploadCircle>
  <i class="mdi mdi-camera" style="font-size: 44px; margin-top: 10px; color: #c4c6cc;"></i>
</div>

<div class="image-circle" style="display: none" #imageCircle>
    <img #imgUp src="." style="display: none;" (click)="file.click()"/>
</div>
<input type="file" accept="image/*" style="opacity: 0; height: 0;" #file [(ngModel)]="imageFile" (change)="uploadImage($event)">
