<div class="ss-grid" *ngIf="voluntario" style="padding-bottom: 5px;">

    <div class="ss-card col-4 ">

        <div style="padding: 40px 40px 0 40px" class="ss-card-body">
            <div class="ss-label" [ngClass]="getSituacaoClass(voluntario.situacao)" style="margin-left: -25px;margin-top: -50px;">
                {{getSituacaoLabel(voluntario.situacao)}}
            </div>

            <div class="ss-grid" style="padding-right: 65px;">
                <div class="col-6"></div>
                <div class="col-6">
                    <sc-avatar size="60" [scAvatar]="{name: (voluntario.nome | slice:0:1)}" [displayType]="'circle'"></sc-avatar>
                </div>
            </div>

            <div style="text-align: center;">
                <h6 title="{{voluntario.nome}}">
                    {{ (voluntario.nome.length>20)? (voluntario.nome | slice:0:20)+'..':(voluntario.nome) }}</h6>
            </div>

            <div style="margin-left: -17px;margin-top: 18px">
                <div>
                    <p style="font-weight: bold;font-size: larger;">Dados cadastrados</p>
                </div>
                <div class="line-top ">
                    <p class="pline">Nome: {{voluntario.nome}}</p>
                </div>
                <div class="line-top ">
                    <p class="pline" style="text-transform: capitalize">Gênero: {{ voluntario.genero }}</p>
                </div>
                <div class="line-top ">
                    <p class="pline">Cooperativa: {{voluntario.numeroCooperativa}}</p>
                </div>
                <div class="line-top">
                    <p class="pline">RG: {{voluntario.rg | mask: '00.000.000-0'}}</p>
                </div>
                <div class="line-top">
                    <p class="pline">CPF: {{voluntario.cpf | cpf}}</p>
                </div>
                <div class="line-top">
                    <p class="pline">Data de nascimento: {{voluntario.dataNascimento | date: 'dd/MM/yyyy'}}</p>
                </div>
                <div class="line-top">
                    <p class="pline">Nacionalidade: {{voluntario.nacionalidade}}</p>
                </div>
                <div class="line-top">
                    <p class="pline">Naturalidade: {{voluntario.naturalidade}}</p>
                </div>
                <div class="line-top">
                    <p class="pline">Profissão: {{voluntario.profissao}}</p>
                </div>
                <div class="line-top">
                    <p class="pline">Telefone: {{voluntario.telefone | telefone }}</p>
                </div>
                <div class="line-top line-bottom">
                    <p class="pline">Email: {{voluntario.email}}</p>
                </div>
            </div>
            <div [ngClass]="open ? '' : 'contentA' " style="margin-left: -17px;margin-top: 35px;">
                <div>
                    <p style="font-weight: bold;font-size: larger;">Endereço</p>
                </div>
                <div class="line-top">
                    <p class="pline">CEP: {{voluntario.endCep | cep}}</p>
                </div>
                <div class="line-top">
                    <p class="pline">Logadouro: {{voluntario.endLogradouro}}</p>
                </div>
                <div class="line-top">
                    <p class="pline">Número: {{voluntario.endNumero}}</p>
                </div>
                <div class="line-top">
                    <p class="pline">Bairro: {{voluntario.endBairro}}</p>
                </div>
                <div class="line-top">
                    <p class="pline">Cidade: {{voluntario.endCidade}}</p>
                </div>
                <div class="line-top">
                    <p class="pline">UF: {{voluntario.endUf}}</p>
                </div>
                <div class="line-top" *ngIf="open">
                    <p (click)="toggle()" class="toggle">Visualizar menos dados
                        <i id="iconUp" class="mdi mdi-24px mdi-chevron-down" style=" transform: rotate(180deg);"></i>
                    </p>
                </div>
            </div>
            <div class="line-top" *ngIf="!open">
                <p (click)="toggle()" class="toggle">Visualizar todos os dados
                    <i id="iconDown" class="mdi mdi-24px mdi-chevron-down" style=" transform: rotate(180deg);"></i>
                </p>
            </div>
        </div>
    </div>

    <div class="pdf-container col-8">
        <pdf-viewer [src]="pdfSrc" [original-size]="true" [zoom]="0.7" [autoresize]="true"></pdf-viewer>
    </div>

</div>

<div *ngIf="(justificativasAjustes)?.length > 0">
    <div *ngIf="(justificativasAjustes)[0];let just" class="ss-grid" style="padding: 10px 0px 5px 0px;">
        <div class="col-4 ss-card" style="padding: 40px 40px 8px 40px;">
            <div class="justificativa-header">
                <p><i class="mdi mdi-24px mdi-account-edit"></i>&nbsp;&nbsp;<span style="font-weight: bold">Motivo do pedido de
            ajuste</span></p>
            </div>
            <div class="ss-grid">
                <div class="col-2" style="margin-left: -25px;margin-top: 10px;">
                    <sc-avatar size="40" [scAvatar]="{name: (just.nomeVoluntarioCriador | slice:0:1)}" [displayType]="'circle'"></sc-avatar>
                </div>
                <div class="col-10" style="margin-left: -10px;">
                    <p>{{just.justificativa}}</p>
                    <small style="color: #2289e9">Por {{just.nomeVoluntarioCriador}} em
            {{just.dataCriacao | date:'dd/MM/yyyy H:mm'}}</small>
                </div>
            </div>
        </div>
        <div class="col-8"></div>
    </div>
</div>
