thead th {
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;

  span {
    visibility: hidden;
  }

  &.active {
    color: #000;

    span {
      visibility: visible;
    }
  }
}


#circle{
  background: #75cad4;
  width: 50px;
  height: 50px;
  border-radius: 64px;
}
#circle div {
  position: relative;
  top: 12px;
  font-size: 21px;
  color: white;
  text-align: center;
 }


 .line-top {
  border-top: solid 1px #cfedff;
 }

 .line-bottom {
  border-bottom: solid 1px #cfedff;
 }

 .col-right-first {
  grid-column: -8 / span 2;
 }

 .col-right-second {
  grid-column: 10 / span 2;
 }


 textarea {
  resize: none;
}

.contentA {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}


.hideChildren>div{
  display: none;
}


.justificativa-header {
  margin-bottom: 15px;
  margin-top: -42px;
  width: 126%;
  margin-left: -40px;
  border-bottom: 1px solid #DADFE6;
  padding: 14px;
  padding-bottom: 0px;
}

.message {
  height: 96%;
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  overflow: hidden;
  box-sizing: border-box;
}

.message h1 {
  color:#FFF;
}

#toggle {
  position:absolute;
  appearance:none;
  cursor:pointer;
  left:-100%;
  top:-100%;
}

#toggle + label {
  cursor:pointer;
  padding:10px;
  background: #26ae90;
  width: 100px;
  border-radius: 3px;
  padding: 8px 10px;
  color: #FFF;
  line-height:20px;
  font-size:12px;
  text-align:center;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
    margin:20px 50px;
    transition:all 500ms ease;
}
#toggle + label:after {
  content:"Open"
}

.container {
  transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  /*padding:5em 3em; */
  margin-top: 15px;
}

#toggle:checked ~ div > .message {
  height: 100%;
}

#toggle:checked ~ .container {
  margin-top: 650px;
}

#toggle:checked + label {
  background:#dd6149;
}

#toggle:checked + label:after {
  content:"Close"
}

#iconUp::before{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  display: inline-block;
}

.mdi-close-circle-outline::before{
  font-size: 72px;
  color: #f33f3f;
  margin-top: 22px;
}

.mdi-check-circle-outline::before{
  font-size: 72px;
  color: #48e6c8;
  margin-top: 22px;
}

.mdi-loading::before{
  font-size: 72px;
  margin-top: 22px;
}


.pline {
  margin-bottom: 5px;
  margin-top: 5px;
}


.toggle{
  cursor: pointer;text-align: right;color: blue
}

.open {
  height: 95%;
}



.openJ {
  margin-top: 420px;
}

.close {
  height: 44%;
  overflow: hidden;
  box-sizing: border-box;
}

.closeJ{
  margin-top: 10px;
}

/* @media only screen and (max-height: 600px) {
  .closeJ{
    margin-top: 50px;
  }

} */




