<form [formGroup]="horasForm" autocomplete="off" style="padding-top: 10px">
  <div class="ss-grid">
    <div class="col-12" >
      <p style="margin-bottom: 2px;">Selecione o programa</p>
      <ng-select [items]="programas$ | async" bindLabel="nome" [searchable]="true" placeholder="Selecione o programa"
        appendTo="body" formControlName="programa">
      </ng-select>
    </div>
    <div class="col-12" style="height: 70px;">
      <p style="margin-bottom: 2px;">Quantidade de horas</p>
      <sc-form-field class="ss-form-group">
        <input type="number" min="1" scInput style="height: auto;padding: 9px;width: 80px;" placeholder="00"
          class="ss-form-control" formControlName="horas"><span style="margin-left: 3px;">horas</span>
      </sc-form-field>
    </div>
  </div>
</form>
<div class="ss-grid" style="margin-top: 30px;">
  <div id="criarNova" *ngIf="!horasVoluntarioEditar" class="col-12">
    <button [disabled]="!horasForm.valid" (click)="_criar()" class="ss-btn ss-btn-success">Adicionar horas</button>
  </div>
  <div id="salvarModificacoes" *ngIf="horasVoluntarioEditar" class="col-12">
    <button [disabled]="!horasForm.valid" (click)="_editar()" class="ss-btn ss-btn-success">Salvar modificações</button>
  </div>
  <div id="cancelar" class="col-12">
    <button (click)="_voltar()" class="ss-btn ss-btn-default">Voltar</button>
  </div>
</div>
