.card-novo-item {
  justify-content: center;
  text-align: center;
  background-color: #FFF;
}

.card-novo {
  border: 1px dashed black !important;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  height: 200px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  background: unset;
}
