<div class="ss-grid">
    <div class="col-6">
        <h5>Entregas do Projeto</h5>
        <p>Inserir texto descrevendo para que o usuário deve criar um Marco</p>
    </div>
</div>

<div *ngIf="{programa: (programa$ | async)} as vars" class="ss-grid" style="margin: 20px" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="10" (scrolled)="onScroll()" [infiniteScrollContainer]="'.app-content'" [fromRoot]="true">
    <div class="col-3 col-sm-12 col-md-4" *ngIf="!!(programaEditavel$ | async)">
        <div id="criarMarco" (click)="criarMarco(vars.programa)" class="card-novo card-novo-item">
            <i class="mdi mdi-plus-box" style="color: #00a091; font-size: 64px; padding-bottom: 12px"></i>
            <span>Nova Entrega</span>
        </div>
    </div>
    <div class="col-3 col-sm-12 col-md-4" *ngFor="let marco of marcos$ | async; let i = index">
        <sc-marco [scEditavel]="!!(programaEditavel$ | async)" (scDetalhar)="detalharMarco($event)" (scEditar)="editarMarco($event, vars.programa)" (scExcluir)="excluirMarco($event)" [marco]="marco"></sc-marco>
    </div>
</div>
<div *ngIf="(marcos$ | async)?.length != filtro.paginacao.total" (click)="onScroll()" class="mostrar-mais">Carregar mais marcos...</div>
