  <ng-template #tpl>
      <div class="app-header-actions-container">
          <div class="app-header-actions-item" *ngIf="{infos: informacoes$ | async} as g">
              <button id="salvarComoRascunho" (click)="salvarRascunho(g.infos)" [disabled]="!!!g.infos" class="ss-btn ss-btn-outline-primary">
                  {{g.infos && g.infos.id ? 'Editar projeto' : 'Salvar como rascunho' }}
              </button>
          </div>
      </div>
  </ng-template>

<div *ngIf="{informacoes: (informacoes$ | async), indicadores: (indicadores$ | async), metas: (metas$ | async) } as global">
    <sins-stepper linear>
        <!-- linear -->
        <cdk-step [label]="'Informações Adicionais'" [completed]="completedInfo">
            <step-informacoes-projeto (concluir)="concluir($event)" [programa]="programa$" [informacoes]="global.informacoes" [programaId]="programaId" (completed)="completeStep1($event)"></step-informacoes-projeto>
        </cdk-step>
        <cdk-step [label]="'Escopo'" [completed]="completedEscopo">
            <step-escopo-projeto (concluir)="concluir($event)" (completed)="completeStep2($event)"></step-escopo-projeto>
        </cdk-step>
        <cdk-step *ngIf="global.indicadores && global.indicadores.length > 0" [label]="'Indicadores'" [completed]="completedIndicadores">
            <step-indicadores-projeto [indicadores]="global.indicadores" [metasEditar]="global.metas"  (concluir)="concluir($event)"  (completed)="completeStep3($event)"></step-indicadores-projeto>
        </cdk-step>
        <cdk-step [label]="'Financeiro'" [completed]="completedFinanceiro">
            <step-financeiro-projeto (completed)="completeStep4($event)" (concluir)="concluir($event)" [orcamento]="global.informacoes?.orcamento"></step-financeiro-projeto>
        </cdk-step>
        <!--  <cdk-step [label]="'Cronogramas'" [completed]="completedCronograma">
            <step-cronogramas-projeto (completed)="completeStep5($event)"></step-cronogramas-projeto>
        </cdk-step> -->
    </sins-stepper>
</div>
