<sc-modal id="dialogoNovoPortfolio" [headerTitle]="headerTitle" [width]="'small'">
  <form [formGroup]="criarPortfolioForm">
    <div class="ss-modal-body">
      <sc-form-field>
        <input type="text" scInput scLabel="Nome do Eixo de atuação" formControlName="nome" />
      </sc-form-field>
      <sc-form-field>
        <textarea rows="4" style="height: auto;padding: 5px;" scInput scLabel="Descrição"
          formControlName="descricao"></textarea>
      </sc-form-field>
      <div class="ss-grid">
        <div class="col-6">
          <sc-form-field>
            <input readonly class="ss-form-control" scInput scLabel="De" placeholder="Começo da vigência" [minDate]="minDate"
              style="height: auto;padding: 9px;" type="text" #dpMDY="bsDatepicker" formControlName="inicioVigencia"
              bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY', minMode: 'year', showWeekNumbers: false }">
          </sc-form-field>
        </div>
        <div class="col-6">
          <sc-form-field>
            <input class="ss-form-control" [disableControl]="true" scInput scLabel="Até" placeholder="Fim da vigência" readonly
              style="height: auto;padding: 9px;" type="text"  formControlName="fimVigencia">
          </sc-form-field>
        </div>

      </div>
    </div>
  </form>
  <div class="ss-modal-footer">
    <div class="ss-modal-footer-buttons">
      <button type="button" id="cancelar" class="ss-btn ss-btn-outline-danger ss-modal-footer-button"
        (click)="fechar()">
        Cancelar
      </button>
      <button type="button" id="criarPortfolio" class="ss-btn ss-btn-success ss-modal-footer-button"
        (click)="criarPortfolio()" [disabled]="!criarPortfolioForm.valid">
        {{submitLabel}}
      </button>
    </div>
  </div>
</sc-modal>
