::ng-deep {
  #dialogoNovoPortfolio #modal>.ss-modal-content {
      width: 40%;
  }
  @media only screen and (max-width: 749px) {
      #dialogoNovoPortfolio #modal>.ss-modal-content {
          width: 90%;
      }
  }
  #dialogoNovoPortfolio>#modal>div>form>div>sc-form-field>div>label {
    margin-bottom: 0px;
  }

}
