<i (click)="isResponsavel ? dpMDY.toggle() : null"
*ngIf="!passo.execucao.dataFimPlanejada" class="passos-item-right-item avatar-perfil mdi mdi-calendar-month"
  [popover]="isResponsavel ? 'Seleciona a data de entrega' : 'Data de entrega'" triggers="mouseenter:mouseleave"></i>
<!-- Não possui data planejada -->
<small class="data-small passos-item-right-item" (click)="isResponsavel ? dpMDY.toggle() : null"
  *ngIf="passo.execucao.dataFimPlanejada"
  >{{passo.execucao.dataFimPlanejada | date:'dd MMM'}}</small>
<!-- Possui data planejada -->
<input type="text" #dpMDY="bsDatepicker" [outsideClick]="true" class="dtPickerS passos-item-right-item ss-input-date-inline"
  [(ngModel)]="passo.execucao.dataFimPlanejada" bsDatepicker (bsValueChange)="setDataFimPlanejada($event, passo)"
  [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false, adaptivePosition: true }"
  [maxDate]="maxDate" [minDate]="minDate">
<!-- DatePicker para escolher data  -->
