i.avatar-perfil {
  font-size: 30px;
  cursor: pointer;
}
.ss-input-date-inline {
  height: 27px;
  border: 1px solid #E0E0E0;
  padding: 0 5px;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}
.data-small {
  min-width: 50px;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}


.dtPickerS {
  border: none;
  height: 0px;
  width: 0px;
  position: relative;
  color: TRANSPARENT;
  cursor: pointer;
}

.dtPickerS:focus {
  outline: none;
}

.dtPickerS::selection {
  background: transparent;
  color: transparent;
}
