.ss-tab {
    border-bottom: none !important;
}

::ng-deep {
  sc-tab-informacoes-usuario > sc-tab-panel > sc-tab:nth-child(2) > div {
    display: none;
  }sc-tab-informacoes-usuario > sc-tab-panel > sc-tab:nth-child(3) > div {
    display: none;
  }
  sc-tab-informacoes-usuario > sc-tab-panel > sc-tab:nth-child(4) > div {
    display: none;
  }
}
