<sc-tab-panel #tabPanelFiltro [headerTemplate]="customTabsHeader" (selectedIndexChange)="onTabSelected($event)">
  <sc-tab #tabCursos></sc-tab>
  <sc-tab #tabProjetos></sc-tab>
  <sc-tab #tabTarefas></sc-tab>
</sc-tab-panel>

<ng-template #customTabsHeader>
  <div class="ss-tab">
    <div class="ss-tab-links" [ngClass]="{'active': tabCursos.selected}" (click)="tabPanelFiltro.selectTab(tabCursos)"
      [id]="'tabCursos'">
      <p>Cursos</p>
    </div>
    <div class="ss-tab-links" *ngIf="mostrarProjetos" [ngClass]="{'active': tabProjetos.selected}"
      (click)="tabPanelFiltro.selectTab(tabProjetos)" [id]="'tabProjetos'">
      <div class="ss-badge-container">
        <p style="text-transform: capitalize;">Projetos
          <span scBadge color="success">{{totalProjetos | async}}</span>
        </p>
      </div>
    </div>
    <ng-template [ngxPermissionsOnly]="['VOLUNTARIO']">
      <div class="ss-tab-links" [ngClass]="{'active': tabTarefas.selected}"
        (click)="tabPanelFiltro.selectTab(tabTarefas)" [id]="'tabTarefas'">
        <div class="ss-badge-container">
          <p style="text-transform: capitalize;">Convites
            <span scBadge color="success">{{totalConvites | async}}</span>
          </p>
        </div>
      </div>
    </ng-template>
  </div>
</ng-template>
