.sins-file-info-line {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  color: #ABABAB;
  margin-top: 5px;
  cursor: pointer;
}

.sins-file-info-line:hover {
  background-color: #EBEBEB;
  color: #ABABAB;
  margin-top: 5px;
  transition: 0.8s;
}


.ajustar-texto {
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  font-weight: bold;
}
