<div class="sins-file-info-line" *ngFor="let item of filesForm; let i=index">
  <div style="display: flex;">
    <div style="margin-top: 10px;" *ngIf="item.estado === 2">
      <i (click)="downloadFile(item)" class="mdi mdi-24px mdi-download" style="cursor: pointer; color: #00D55C;"></i>
    </div>
    <div style="margin-left: 10px;">
      <p class="ajustar-texto">{{ item.nome }}</p>
      <span style="font-size: 11px;">
        {{ item.tamanho / 1000 }} KB
      </span>
    </div>
    <div style="margin: -8px 10px 0 0;width: 159px;" *ngIf="item.estado === 1">
      <sc-progress-bar [progress]="item.progress" [color]="'#00a091'"></sc-progress-bar>
    </div>
  </div>
  <div title="Excluir Arquivo" container="body" outsideClick="true" popoverTitle="Excluir Arquivo?" #pop="bs-popover"
    [popover]="popTemplate">
    <i *ngIf="item.estado === 2" style="color: rgb(247, 107, 107);margin: 10px 20px 0 0"
      class="mdi mdi-24px mdi-close"></i>
  </div>
  <ng-template #popTemplate>
    <div class="flex-container-h" style="justify-content: space-between;">
      <button (click)="excluirArquivo(item)" class="ss-btn ss-btn-danger" style="width: 40px">Sim</button>
      <button class="ss-btn ss-btn-default" style="width: 40px" (click)="pop.hide()">Não</button>
    </div>
  </ng-template>
</div>
