<ng-template [ngxPermissionsOnly]="['PPE', 'PDE', 'PAE']">
    <app-lista-analise-cadastro [voluntarios$]="voluntarios$" [filtro$]="filtro$" [totais$]="totais$" (pesquisar)="pesquisar()"></app-lista-analise-cadastro>
</ng-template>

<ng-template #headerTpl>
    <div class="app-header-actions-container" *ngxPermissionsOnly="['PPE', 'PDE', 'PAE']">
        <div class="app-header-actions-item">
            <button class="ss-btn ss-btn-outline-success" routerLink="/relatorios/banco-voluntarios">
        Acessar banco de voluntários
      </button>
        </div>
    </div>
</ng-template>

<ng-template [ngxPermissionsOnly]="['GESTOR']">
    <div class="ss-grid" style="margin: 0 48px 0 48px">
        <div class="col-2">
            <app-relatorio-card [icone]="'mdi-pen'" [texto]="'Assinar voluntários'" [rota]="'/analise-cadastros/assinatura'" [id]="'banco-voluntarios'"></app-relatorio-card>
        </div>
    </div>
</ng-template>
