.container
{
	font-family: Lato;
	font-size:14px;
	margin: 25px 150px;
	text-align: justify;
}

.ss-grid
{
    padding:6px 4px;
	text-align: right;
}

.checkTermo
{
  margin-top: 25px;
  margin-bottom: 25px;
}

#cancelar
{
	color:#fff;
	background: #FF3434;
	padding: 13px 50px;
	border-radius: 5px;
	margin-right: 25px;
}

#proximo
{
	color:#FFF;
	background: #7DDC1C;
	padding: 13px 50px;
	border-radius: 5px;
}

.margin-top-button
{
  margin-top: 20px;
}


h6 {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .width-buttons {
    width: 100%;
    float: right;
  }
}

@media screen and (min-width: 768px) {
  .width-buttons {
    width: 30%;
    float: right;
  }
}

