<div class="ss-card" style="padding: 40px">

    <div *ngIf="isPaeOuPde()">
        <h6 style="text-align: center">Termo de Responsabilidade {{perfil.toUpperCase()}}</h6>
        <p>Pelo presente termo de responsabilidade, eu, {{nome}}, CPF {{cpf}}:</p>
    </div>

   <!--  <p [innerHTML]="(termoCompromisso$ | async)?.textoTermo | safeHtml"> </p> -->
   <div id="toolbar">
    </div>
    <quill-editor  [(ngModel)]="editorContent" [options]="editorConfig"  (ready)="onEditorCreated($event)" >
    </quill-editor>

    <label class="ss-checkbox">Li e aceito os termos acima estabelecidos
        <input id="aceiteTermo" type="checkbox" [(ngModel)]="checkTermoValue">
        <span style="margin-top: 5px;" class="ss-checkmark"></span>
     </label>

  <div style="padding-bottom: 10px">
    <div class="width-buttons">
      <div class="ss-btn ss-btn-danger"  style="width: 45%; float: left" id="cancelarTermo" (click)="cancelTermo()">Cancelar</div>
      <div class="ss-btn ss-btn-primary" style="width: 45%; float: right" id="navegarDadosCadastrais" (click)="navigatePaginaDadosCadastrais()">Próximo</div>
    </div>

  </div>
</div>
