<ng-template #tpl>
    <div class="app-header-actions-container">
        <ng-template [ngxPermissionsOnly]="['PPE', 'GESTOR']">
          <div class="app-header-actions-item">
            <button id="abrirFiltroActionBar" (click)="abrirFiltroActionBar()" class="ss-btn ss-btn-outline-primary">
              <i class="mdi mdi-filter-variant"></i> Filtrar Dados
            </button>
          </div>
        </ng-template>

        <ng-template [ngxPermissionsOnly]="['PDE', 'PAE']">
            <div class="app-header-actions-item">
                <sc-search-input id="buscar" placeholder="Buscar plano de ação" [(text)]="nomeFiltro" (search)="onSearch($event)" (clear)="onClearNomeFiltro()">
                </sc-search-input>
            </div>
        </ng-template>

        <div class="app-header-actions-item">
            <button id="criarPlanoTop" (click)="abrirCriar()" class="ss-btn ss-btn-primary">
        <i class="mdi mdi-plus-circle-outline"></i> Plano de Ação
      </button>
        </div>
    </div>
</ng-template>

<div class="ss-grid">
  <div class="col-6">
    <h5>Seus planos de ação</h5>
  </div>
</div>

<div style="display: flex; flex-direction: row; align-items: center;">
    <span *ngIf="numeroCooperativa || nomeFiltro || vigencia" style="margin-right: 2px;">Mostrando os resultados para os filtros: </span>
    <sc-chip *ngIf="numeroCooperativa" style="margin: 2px;" [text]="numeroCooperativa" [color]="'success'" (click)="onClearCooperativas()"></sc-chip>
    <sc-chip *ngIf="nomeFiltro" style="margin: 2px;" [text]="nomeFiltro" [color]="'success'" (click)="onClearNomeFiltro()"></sc-chip>
    <sc-chip *ngIf="vigencia" style="margin: 2px;" [text]="vigencia" [color]="'success'" (click)="onClearVigencia()"></sc-chip>
</div>

<div class="ss-grid" style="margin: 20px">
    <div class="col-12">
        <filtro-acoes #filtroAcoes (changeTab)="onChangeTab($event)" [counters$]="counters$"></filtro-acoes>
    </div>
</div>
<div infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="10" (scrolled)="onScroll()" [infiniteScrollContainer]="'.app-content'" [fromRoot]="true">
    <sc-plano-acao (excluirPlano)="onExcluirPlano($event)" (atualizarPlanoAcao)="atualizarPlanoAcao($event)" (criarPlanoAcao)="abrirCriar()" [planosAcao]="planosAcao$"></sc-plano-acao>
</div>
<div *ngIf="(planosAcao$ | async)?.length != paginacaoAtual.total" (click)="onScroll()" class="mostrar-mais">Carregar mais planos...</div>
