.card-center {
    width: 50%;
    margin-left: 25%;
}

@media only screen and (max-width: 1000px) {
    .card-center {
        width: 100%;
        margin-left: 0;
    }
}


@media only screen and (max-width: 556px) {
  .ss-grid-column-start-10 {
    grid-column-start: 1 !important;
    grid-column: span 12;
  }

  .ss-grid-column-start-9 {
    grid-column-start: 1 !important;
    grid-column: span 12;
  }
}


p {
    margin: 0;
}


.container-projeto-programa {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}




.ss-grid-column-start-10 {
  grid-column-start: 10;
}

.ss-grid-column-start-9 {
  grid-column-start: 9;
}
