<div class="ss-card card-center" *ngIf="(programa$ | async) as programa">
  <div class="ss-card-header" style="border-bottom: solid 2px #f2f2f2;padding: 14px;">
    <h6>Informações gerais do programa</h6>
  </div>
  <div class="ss-card-body">
    <div class="ss-grid">
      <div class="col-1">
        <img style="height: 70px;width: 70px;"
          src="{{programa.imagem ? getImagem(programa) : '/assets/images/empty-state-imagem-programas.svg'}}">
      </div>
      <div class="col-12" style="margin-top: 15px">
        <p>{{programa.nome}} {{programa.vigencia}}</p>
        <small>{{programa.portfolio && programa.portfolio.nome  ? programa.portfolio.nome : 'Nome do Portifolio'}}</small>
      </div>
      <div class="col-12">
        <p><b>Descrição</b></p>
        <p>{{programa.descricao}}</p>
      </div>
      <div class="col-12">
        <p><b>Objetivo Geral</b></p>
        <p>{{programa.objetivoGeral}}</p>
      </div>
      <div class="col-12">
        <p><b>Objetivo Específico</b></p>
        <p>{{programa.objetivoEspecifico}}</p>
      </div>
    </div>
  </div>
  <div class="ss-card-footer">
    <div class="ss-grid">
      <div class="ss-grid-column-start-9 col-md-6 col-sm-12">
        <button class="ss-btn ss-btn-outline-danger" (click)="alterarPrograma()" id="voltar">Alterar Programa</button>
      </div>
      <div class="ss-grid-column-start-10 col-md-6 col-sm-12">
        <button class="ss-btn ss-btn-success" (click)="router.navigate(['projetos/novo/' + programaId])" id="concluir">Continuar criando projeto</button>
      </div>
    </div>
  </div>
</div>
