.ss-mini-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  height: 180px;
  cursor: pointer;
  transition: 0.3s;
}

.ss-mini-card:hover {
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.12);
}

.ss-mini-card-icon {
  background-color: #00AE9D;
  display: inline-block;
  padding: 15px 10px;
  border-radius: 50%;
  box-shadow: 0 0 2px #888;

  i {
    color: #FFF;
    display: flex;
    justify-content: center;
  }
}

.ss-mini-card-text {
  margin-top: 10px;
  text-align: center;
}


.ajustar-texto {
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.border-dotted {
  background: none;
  border: 2px dotted gray;
  box-shadow: none;
}


