<div *ngIf="programa$ | async as programa">
  <sc-banner
    [image64]="programa.imagem"
    [title]="programa.nome"
    [subtitle]="programa?.vigencia?.toString()"
    (scClick)="redirecionarParaPrograma()"
    #banner></sc-banner>
</div>

<router-outlet></router-outlet>
