<ng-template #correcoesDados>
    <div id="header-actions-termo-voluntario">
      <!--<button class="ss-btn sc-btn-correcoes" *ngIf="existeJustificativas" (click)="apresentarCorrecoes()"  [outsideClick]="true" popoverTitle="Solicitamos que faça as seguintes correções:" [popover]="(justificativasAjustes | async)[0]?.justificativa" placement="left" >Correções a serem feitas</button>-->
    </div>
</ng-template>
<router-outlet></router-outlet>
