.sc-btn-correcoes {
    background-color: #ffff50;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.sc-btn-correcoes:hover {
    background-color: #aaaa50;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.sins-popover-correcoes {
    z-index: 1;
}