h2 {
    text-align: justify;
}

h4 {
    line-height: 20px !important;
    margin-bottom: 16px !important;
    margin-top: 16px !important;
}

h5 {
    color: red;
    line-height: 0px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

hr {
    border-color: #aaa;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
}

input,
select {
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 8px;
    padding: 9px
}

#formularioTermo input,
#formularioTermo select {
    width: 100%;
}

.container {
    font-family: Lato;
    font-size: 14px;
    margin: 10px 150px 10px 150px;
    text-align: justify;
}

.btn-custom {
    padding: 6px 4px;
    text-align: right;
}

.margin-top-button {
    margin-top: 20px;
}

.label-single-file {
    color: #260bc0;
    font-weight: 500;
    text-decoration: underline;
}

.label-single-file2 {
    color: #000000;
    font-weight: 700;
}

.margin-fields-cadastro {
    margin-bottom: 5px !important;
}

small {
    margin-bottom: 12px;
    font-size: 85%;
    color: red;
}

.padding-dtpicker {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    max-width: 100% !important;
}

.mbottom-dtpicker {
    margin-bottom: -6px !important;
}

@media screen and (max-width: 768px) {
    .width-buttons {
        width: 100%;
        float: right;
    }
}

@media screen and (min-width: 768px) {
    .width-buttons {
        width: 30%;
        float: right;
    }
}

.input-bottom-border {
    border: 0 !important;
    outline: 0 !important;
    background: transparent !important;
    border-bottom: 2px solid black !important;
    border-radius: inherit !important;
    font-size: 20px !important;
    text-align: center;
}

#formularioTermo {
    display: flex;
    flex-direction: column;
}

#formularioTermo label {
    margin-bottom: 22px;
}

.flex-col-3 *:nth-child(3n+1) {
    flex: 3;
    margin-right: 12px;
}

.flex-col-3 *:nth-child(3n+2) {
    flex: 3;
    margin: 0 12px;
}

.flex-col-3 *:nth-child(3n+3) {
    flex: 3;
    margin-left: 12px;
}

.mdi-information-outline:before {
    color: #eb5757;
    font-size: 25px;
}

.ss-popover {
    padding: 0;
}

.ss-popover-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.ss-popover-container .ss-popover {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.ss-popover-container:hover .ss-popover {
    visibility: visible;
    opacity: 1;
}

.file-upload-wrapper {
    $defaultColor: #4daf7c;
    $height: 60px;
    position: relative;
    width: 100%;
    height: $height;
    &:after {
        content: attr(data-text);
    }
    &:hover {
        &:before {
            background: darken($defaultColor, 10%);
        }
    }
    input {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        /* z-index: 99; */
        height: $height - 20px;
        margin: 0;
        padding: 0;
        display: block;
        cursor: pointer;
        width: 100%;
    }
}

.sc-btn-correcoes {
    background-color: #ffff50;
    border: none;
    font-weight: bold;
    cursor: pointer;
    width: 200px;
}

.sc-btn-correcoes:hover {
    background-color: #aaaa50;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.sins-popover-correcoes {
    z-index: 1;
}

.space-between {
	justify-content: space-between;
}

.container {
	margin: 0;
	display: flex;
}

section h2{
    font-size: 16px;
    width: 50%;
}

.item {
	margin: 5px;
	text-align: initial;
}
