<br>
<div class="ss-card" style="padding: 17px 40px 40px 40px">
  <section class="container space-between">
    <h2 class="item">Anexar Curso Voluntário Transformador</h2>
    <button class="item ss-btn sc-btn-correcoes" *ngIf="existeJustificativas" (click)="apresentarCorrecoes()"
      [outsideClick]="true" popoverTitle="Solicitamos que faça as seguintes correções:"
      [popover]="(justificativasAjustes | async)[0]?.justificativa" placement="left">Correções a serem feitas</button>
  </section>
  <div class="center" ng2FileSelect>
    <ngx-file-drop (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)"
      dropZoneClassName="drop-zone-custom">
      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
        <div>
          <p style="text-align: center"><img
              [src]="isFileLoaded ? './assets/images/attachment.png' : './assets/images/upload-certificado.png'"
              style="width: 100px; margin-top: 100px" /></p>
          <div class="file-upload-wrapper" [attr.data-text]="isFileLoaded ? 'Selecione outro' : 'selecione um arquivo'">
            <label class="label-single-file2">
              {{isFileLoaded ? 'Arquivo "' + selectedFileCert + '" selecionado.' : 'Solte o arquivo aqui ou'}}
            </label>
            <input (change)="fileChangeEvent($event)" type="file" accept="application/pdf" />
          </div>
        </div>
      </ng-template>
    </ngx-file-drop>
    <!--
          <file-drop (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)" customstyle="drop-zone-custom">
            <div>
                <p style="text-align: center"><img [src]="isFileLoaded ? './assets/images/attachment.png' : './assets/images/upload-certificado.png'" style="width: 100px; margin-top: 100px" /></p>
                <div class="file-upload-wrapper" [attr.data-text]="isFileLoaded ? 'Selecione outro' : 'selecione um arquivo'">
                    <label class="label-single-file2">
            {{isFileLoaded ? 'Arquivo "' + selectedFileCert + '" selecionado.' : 'Solte o arquivo aqui ou'}}
          </label>
                    <input (change)="fileChangeEvent($event)" type="file" accept="application/pdf" />
                </div>
            </div>
        </file-drop>
      -->
  </div>

  <div *ngIf="isFileLoaded">
    <h2 style="font-size: 14px;">
      TERMO DE COMPROMISSO DE SERVIÇO VOLUNTÁRIO COM O INSTITUTO SICOOB PARA O DESENVOLVIMENTO SUSTENTÁVEL
    </h2>

    <p>O INSTITUTO SICOOB, pessoa jurídica de direito privado, constituída na forma de associação civil, de fins não
      econômicos, inscrita no CNPJ nº 07.147.834/0002-54, com sede e foro na cidade de Brasília/DF, situado no SIG Qd.
      06, Lote 2.080, 3º andar,
      Torre II, CEP 70610-460, vem, por meio deste instrumento, nos termos da Lei Federal nº 9.608/1998, celebrar o
      presente “TERMO DE COMPROMISSO DE SERVIÇO VOLUNTARIO COM O INSTITUTO SICOOB”, com:</p>
    <h4 style="font-size: 14px; margin-top: 24px">Insira os dados solicitados abaixo:</h4>

    <div style="font-size: 16px; width: 100%;" class="alert alert-danger">Todos os campos solicitados são obrigatórios
    </div>

    <strong style="font-size: 16px">Informações pessoais</strong>
    <hr />

    <form (ngSubmit)="solicitarAcesso()" #voluntarioForm="ngForm">
      <div id="formularioTermo">
        <label>
          CPF:
          <input id="cpf" name="cpf" type="text" class="ss-form-control margin-fields-cadastro" mask='000.000.000-00'
            required [cpf]="voluntario.cpf" [readOnly]="true" style="cursor: not-allowed;" [(ngModel)]="voluntario.cpf"
            #numeroCpf="ngModel">
          <small *ngIf="(numeroCpf.dirty || numeroCpf.touched) && numeroCpf.invalid && numeroCpf.errors.cpf"
            class="ss-small-error"> CPF inválido </small>
          <small *ngIf="(numeroCpf.dirty || numeroCpf.touched) && numeroCpf.invalid && numeroCpf.errors.required"
            class="ss-small-error"> Campo requerido </small>
        </label>

        <label>
          Nome:
          <input id="nome" name="nome" type="text" class="ss-form-control margin-fields-cadastro" required
            [readOnly]="true" style="cursor: not-allowed;" [(ngModel)]="voluntario.nome" #nome="ngModel">
          <small *ngIf="(nome.dirty || nome.touched) && nome.invalid && nome.errors.required" class="ss-small-error">
            Campo requerido </small>
        </label>


        <label>
          E-mail:
          <input id="email" name="email" type="email" class="ss-form-control margin-fields-cadastro" required
            [readOnly]="false" [pattern]="emailPattern" [(ngModel)]="voluntario.email" #email="ngModel">
          <small *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.pattern"
            class="ss-small-error">E-mail inválido</small>
          <small *ngIf="email.invalid && email.errors.required" class="ss-small-error">Campo requerido</small>
        </label>
        <label>
          Gênero:
          <sc-radio #genero [options]="generos" name="genero" [(ngModel)]="voluntario.genero" required>
          </sc-radio>
        </label>
        <small *ngIf="voluntario.genero === undefined" class="ss-small-error">
          Campo requerido </small>
        <label>
          RG:
          <input id="rg" name="rg" type="text" class="ss-form-control margin-fields-cadastro" required
            [(ngModel)]="voluntario.rg" #rg="ngModel">
          <small *ngIf="(rg.dirty || rg.touched) && rg.invalid && rg.errors.required" class="ss-small-error">Campo
            Requerido</small>
        </label>

        <label>
          Data de Nascimento:
          <input id="dataNascimento" name="dataNascimento" type="text" class="ss-form-control margin-fields-cadastro"
            mask="00/00/0000" required pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])(0[1-9]|1[012])(1[09]|2[0-1])([0-9]){2}"
            autocomplete="off" [(ngModel)]="voluntario.dataNascimento" #dataNascimento="ngModel">
          <small
            *ngIf="(dataNascimento.dirty || dataNascimento.touched) && dataNascimento.invalid && dataNascimento.errors.required"
            class="ss-small-error">Campo requerido</small>
          <small
            *ngIf="(dataNascimento.dirty || dataNascimento.touched) && dataNascimento.invalid && dataNascimento.errors.pattern"
            class="ss-small-error">Data inválida</small>
        </label>

        <label>
          Nacionalidade:
          <input id="nacionalidade" name="nacionalidade" type="text" class="ss-form-control margin-fields-cadastro"
            required [(ngModel)]="voluntario.nacionalidade" #nacionalidade="ngModel">
          <small
            *ngIf="(nacionalidade.dirty || nacionalidade.touched) && nacionalidade.invalid && nacionalidade?.errors?.required"
            class="ss-small-error">Campo requerido</small>
        </label>

        <label>
          Naturalidade:
          <input id="naturalidade" name="naturalidade" type="text" class="ss-form-control margin-fields-cadastro"
            required [(ngModel)]="voluntario.naturalidade" #naturalidade="ngModel">
          <small
            *ngIf="(naturalidade.dirty || naturalidade.touched) && naturalidade.invalid && naturalidade?.errors?.required"
            class="ss-small-error">Campo requerido</small>
        </label>

        <label>
          Profissão:
          <input id="profissao" name="profissao" type="text" class="ss-form-control margin-fields-cadastro" required
            [(ngModel)]="voluntario.profissao" #profissao="ngModel">
          <small *ngIf="(profissao.dirty || profissao.touched) && profissao.invalid && profissao?.errors?.required"
            class="ss-small-error">Campo requerido</small>
        </label>

        <label>
          Telefone:
          <input id="telefone" name="telefone" type="text" class="ss-form-control margin-fields-cadastro"
            mask="(00)00000-0000" pattern="\d{2}\d{4,5}\d{4}" [(ngModel)]="voluntario.telefone" #telefone="ngModel">
          <small *ngIf="(telefone.dirty || telefone.touched) && telefone.invalid && telefone?.errors?.required"
            class="ss-small-error">Campo requerido</small>
          <small *ngIf="(telefone.dirty || telefone.touched) && telefone.invalid && telefone?.errors?.pattern"
            class="ss-small-error">Telefone inválido</small>
        </label>

        <strong style="font-size: 16px">Endereço</strong>
        <hr />

        <div class="flex-container-v">
          <div class="flex-container-h flex-col-3">
            <label>
              CEP:
              <input id="cep" name="cep" type="text" class="ss-form-control margin-fields-cadastro" mask="00.000-000"
                required pattern="\d{2}\d{3}\d{3}" [(ngModel)]="voluntario.endCep" #cep="ngModel"
                (blur)="onLostFocusFieldCep()">
              <small *ngIf="(cep.dirty || cep.touched) && cep.invalid && cep?.errors?.required"
                class="ss-small-error">Campo requerido</small>
              <small *ngIf="(cep.dirty || cep.touched) && cep.invalid && cep?.errors?.pattern"
                class="ss-small-error">CEP inválido</small>
            </label>
            <label>
              Logradouro:
              <input id="logradouro" name="logradouro" type="text" class="ss-form-control margin-fields-cadastro"
                required [(ngModel)]="voluntario.endLogradouro" #logradouro="ngModel">
              <small
                *ngIf="(logradouro.dirty || logradouro.touched) && logradouro.invalid && logradouro?.errors?.required"
                class="ss-small-error">Campo requerido</small>
            </label>
            <label>
              Número:
              <input id="numero" name="numero" type="text" class="ss-form-control margin-fields-cadastro" required
                [(ngModel)]="voluntario.endNumero" #numero="ngModel">
              <small *ngIf="(numero.dirty || numero.touched) && numero.invalid && numero?.errors?.required"
                class="ss-small-error">Campo requerido</small>
            </label>
          </div>

          <div class="flex-container-h flex-col-3">
            <label>
              Bairro:
              <input id="bairro" name="bairro" type="text" class="ss-form-control margin-fields-cadastro" required
                [(ngModel)]="voluntario.endBairro" #bairro="ngModel">
              <small *ngIf="(bairro.dirty || bairro.touched) && bairro.invalid && bairro?.errors?.required"
                class="ss-small-error">Campo requerido</small>
            </label>
            <label>
              Cidade:
              <input id="cidade" name="cidade" type="text" class="ss-form-control margin-fields-cadastro" required
                [(ngModel)]="voluntario.endCidade" #cidade="ngModel">
              <small *ngIf="(cidade.dirty || cidade.touched) && cidade.invalid && cidade?.errors?.required"
                class="ss-small-error">Campo requerido</small>
            </label>
            <label>
              UF:
              <select id="uf" name="uf" type="text" class="ss-form-control margin-fields-cadastro" required
                [(ngModel)]="voluntario.endUf" #uf="ngModel">
                <option value="AC">AC</option>
                <option value="AL">AL</option>
                <option value="AP">AP</option>
                <option value="AM">AM</option>
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="ES">ES</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MT">MT</option>
                <option value="MS">MS</option>
                <option value="MG">MG</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PR">PR</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="RJ">RJ</option>
                <option value="RN">RN</option>
                <option value="RS">RS</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="SC">SC</option>
                <option value="SP">SP</option>
                <option value="SE">SE</option>
                <option value="TO">TO</option>
              </select>
              <small *ngIf="(uf.dirty || uf.touched) && uf.invalid && uf?.errors?.required" class="ss-small-error">Campo
                requerido</small>
            </label>
          </div>
        </div>
      </div>
      <hr style="display: inline-flex; border-color: transparent;" />
      <div class="margin-top-button" style="padding-bottom: 10px;">
        <div class="width-buttons">
          <button type="button" class="ss-btn ss-btn-danger" style="width: 45%; float: left"
            id="cancelarDadosCadastrais" (click)="cancelarClick()">Voltar</button>
          <button class="ss-btn ss-btn-primary" type="submit" style="width: 45%; float: right"
            [disabled]="!voluntarioForm.valid" id="solicitarAcesso">Solicitar acesso</button>
        </div>
      </div>
    </form>
  </div>
</div>
