<div *ngIf="convites.length == 0" class="empty">
    <img id="imagemEmptyCurso" src="assets/images/empty_state.png">
    <p class="empty-title" id="mensagemEmptyCurso">Você ainda não foi convidado a nenhum projeto</p>
</div>
<div class="ss-card" *ngFor="let convite of convites; let i = index" style="margin-top: 20px; max-width: 1200px;overflow: initial;">
    <div class="ss-card-body">
        <convite-detalhes-accordion [convite]="convite" (participar)="participar($event)" >
        </convite-detalhes-accordion>
    </div>
</div>
