<sc-actionbar title="{{novo ? 'Adicionando Capacitação' : 'Editando capacitação'}}" width="auto">
    <span style="color: #b7b7b7">Insira abaixo as informações solicitadas</span>
    <form [formGroup]="cursoForm" autocomplete="off" style="padding-top: 10px">
        <div class="ss-grid">
            <div class="col-12" style="margin-top: -17px;">
                <p style="margin-bottom: -1px;">Nome da Capacitação </p>
                <sc-form-field class="ss-form-group">
                    <input type="text" scInput style="height: auto;padding: 5px;" class="ss-form-control" formControlName="nome">
                </sc-form-field>
            </div>
            <div class="col-12" style="margin-top: -30px;">
                <p style="margin-bottom: -1px;">Quantidade de horas: </p>
                <sc-form-field class="ss-form-group">
                    <input type="number" scInput style="height: auto;padding: 5px;" class="ss-form-control" formControlName="quantidadeHoras">
                </sc-form-field>
            </div>
            <div class="col-12" style="margin-top: -30px;">
                <p style="margin-bottom: -1px;">Data de conclusão: </p>
                <div class="ss-form-group">
                    <input type="date" [ngStyle]="{'border-color': errorData ? '#EB5757' : ''}" (keyup)="keyUpData($event)" (blur)="blurData($event)" style="height: auto;padding: 5px;" type="text" #dataConclusao class="ss-form-control" mask="00/00/0000" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])(0[1-9]|1[012])(1[09]|2[0-1])([0-9]){2}"
                        formControlName="dataConclusao">
                    <small [ngClass]="{'ss-small-errorX': errorData}">{{dataMsg}}</small>

                </div>
            </div>
            <div class="col-12" style="margin-top: -30px;    margin-bottom: 20px;">
                <p style="margin-bottom: -1px;">Conte-nos um pouco sobre sua capacitação: </p>
                <textarea style="height: auto;padding: 5px;margin-bottom: -7px;" class="ss-form-control" formControlName="descricao" id="descricao" rows="4"></textarea>
            </div>
            <div class="col-12" style="margin-top: -30px;">
                <p style="margin-bottom: -1px;">Selecione a categoria da capacitação:</p>
                <div class="flex-container-v">
                    <div class="cards-container">
                        <div class="mini-card" (click)="selecionarCategoriaCurso(categoriaCurso)" [ngClass]="{'mini-card-selected': categoriaCurso.selecionado}" *ngFor="let categoriaCurso of categoriasCurso">
                            <i *ngIf="categoriaCurso.selecionado" class="mini-card-icon mdi mdi-check-circle"></i>
                            <div class="mini-card-image">
                                <img *ngIf="categoriaCurso.icone" [src]="categoriaCurso.icone">
                            </div>
                            <span class="mini-card-text" title="{{categoriaCurso.nome}}">{{categoriaCurso.nome}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <p style="margin-bottom: -1px;">Anexe aqui o certificado:</p>
                <div class="center" ng2FileSelect>
                    <ngx-file-drop
                    (onFileDrop)="dropped($event)"
                    dropZoneClassName="drop-zone-custom">
                        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                                <div>
                                        <p style="text-align: center">
                                            <i *ngIf="!isFileLoaded" style="font-size: 50px;color: #00cc66;" class="mdi mdi-cloud-upload-file mdi-cloud-upload"></i>
                                            <i *ngIf="isFileLoaded" style="font-size: 50px;color: #00cc66;" class="mdi  mdi-check-circle-file mdi-check-circle"></i>
                                        </p>
                                        <p style="margin-bottom: -75px;">
                                            <label style="color: #000000">
                              {{isFileLoaded ? 'Arquivo "' + selectedFileCert + '" selecionado.' : 'Solte o arquivo aqui ou'}}
                            </label>
                                            <label>
                              {{isFileLoaded ? 'Selecione outro.&nbsp;' : 'selecione um arquivo.&nbsp;'}}
                              <input style="display: none" (change)="fileChangeEvent($event)" type="file"
                                accept="application/pdf" />
                            </label>
                                        </p>
                                    </div>
                        </ng-template>
                    </ngx-file-drop>
                    <!--
                        <file-drop (onFileDrop)="dropped($event)" customstyle="drop-zone-custom">
                        <div>
                            <p style="text-align: center">
                                <i *ngIf="!isFileLoaded" class="mdi mdi-cloud-upload-file mdi-cloud-upload"></i>
                                <i *ngIf="isFileLoaded" class="mdi  mdi-check-circle-file mdi-check-circle"></i>
                            </p>
                            <p style="margin-bottom: -75px;">
                                <label style="color: #000000">
                  {{isFileLoaded ? 'Arquivo "' + selectedFileCert + '" selecionado.' : 'Solte o arquivo aqui ou'}}
                </label>
                                <label>
                  {{isFileLoaded ? 'Selecione outro.&nbsp;' : 'selecione um arquivo.&nbsp;'}}
                  <input style="display: none" (change)="fileChangeEvent($event)" type="file"
                    accept="application/pdf" />
                </label>
                            </p>
                        </div>
                    </file-drop>
                    -->
                    <p style="margin-top: 0;color: #EB5757" id="mensagemError-upload">{{mensagemError}}</p>
                </div>
                <small *ngIf="showProgress">Enviando dados...</small>
                <sc-progress-bar *ngIf="showProgress" [progress]="fileProgress | async" color="#00d4bf">
                </sc-progress-bar>
            </div>

            <!--       <div class="col-12">
            <p>{{cursoForm.value | json}}</p>
        </div> -->
        </div>
    </form>
    <div class="ss-modal-footer-buttons">
        <div class="ss-modal-footer-button">
            <button id="cancelar" class="ss-btn ss-btn-outline-danger" (click)="cancelar()">Cancelar</button>
        </div>
        <div *ngIf="novo" class="ss-modal-footer-button">
            <button id="salvarCurso" [disabled]="!cursoForm.valid" (click)="salvarCurso()" class="ss-btn ss-btn-primary">Salvar informações</button>
        </div>
        <div *ngIf="!novo" class="ss-modal-footer-button">
            <button id="editarCurso" [disabled]="!cursoForm.valid" (click)="editarCurso()" class="ss-btn ss-btn-primary">Salvar alterações</button>
        </div>
    </div>

</sc-actionbar>
