@import "~src/assets/styles/colors";
 ::ng-deep {
    #actionbar .ss-progress-bar .ss-progress {
        height: 6px !important;
        color: transparent;
        font-size: 0px;
    }
}

.mini-card {
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    width: 107px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
    position: relative;
    i.mini-card-icon {
        position: absolute;
        font-size: 20px;
        right: 2px;
        top: -1px;
        color: $color-success;
    }
    div.mini-card-image {
        padding: 10px;
        height: 110px;
        text-align: center;
    }
    span.mini-card-text {
        border-top: 1px solid #c4c4c4;
        padding: 10px;
        width: 100%;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.mini-card.mini-card-selected {
    border: 2px solid $color-success;
    border-radius: 5px;
}

.cards-container {
    display: flex;
    max-height: 450px;
    overflow-y: auto;
}

.ss-small-errorX {
    color: #EB5757;
}
