<div class="ss-grid">
  <div class="col-5">
    <h5>{{passo?.titulo}}</h5>
    <p>Crie o formulário do passo arrastando os componentes listados à esquerda para o centro da página.</p>
  </div>
</div>

<sc-formio *ngIf="formulario" [scFormulario]="formulario" (scFormularioAlterado)="formularioAlterado($event)" #formio></sc-formio>

<ng-template #headerTpl>
  <div class="app-header-actions-container">
    <div class="app-header-actions-item">
      <button class="ss-btn ss-btn-primary" (click)="salvarFormulario()">Salvar</button>
    </div>
  </div>
</ng-template>
