<div class="ss-grid" style="margin: 0 48px 0 48px">
  <div class="col-12">
    <h5>Bem-vindo de volta {{ nomeUsuario }}</h5>
  </div>
  <div class="col-2" *ngFor="let card of cards" >
    <app-relatorio-card  [id]="card.id" [icone]="card.icone" [rota]="card.rota"
      [texto]="card.texto" [textoSmall]="card.textoSmall" >
    </app-relatorio-card>
  </div>
</div>
