.ss-card {
  background-color: #FEFEFE;
  padding: 14px;
  border: 1px solid #D5DDE5;
  border-radius: 4px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.16); }
  .ss-card .ss-card-img {
    width: 100%;
    border-radius: 4px; }


#outer {
  width: 100%;
  text-align: center;
}

#inner {
  display: inline-block;
}


.icone-fluxograma {
  background: #9edab7;
  padding: 5px 5px 5px 5px;
  border-radius: 50%;
  color: white;
}

.checkbox-template-fluxograma {
  height: 92px;
  width: 159px;
  border: solid;
  border-radius: 5%;
  margin-left: 110px;
  cursor: pointer;
  border-color: #dcd8d8;
  box-shadow: 0px 2px 10px 1px #e2dddd;
}
