<div class="flex-container-v">
  <h5>Fluxos de processo</h5>

  <sc-tab-panel [headerTemplate]="customTabsHeader" (selectedIndexChange)="onTabSelected($event)" #tabPanelFluxos>
    <sc-tab #tabTodos></sc-tab>
    <sc-tab #tabRascunhos></sc-tab>
    <sc-tab #tabFinalizados></sc-tab>
  </sc-tab-panel>

  <div id="fluxoProcessoList" class="flex-container-h">
    <app-card scTitle="Novo processo" [scEmptyCard]="true" (scClick)="emptyCardClick()"></app-card>
    <app-card
      *ngFor="let fluxo of (scPagedData | async)?.data"
      [scTitle]="fluxo.nome"
      [scEmptyCard]="false"
      [scItensMenu]="menuItems"
      (scClick)="openCardClick(fluxo)"
      (scMenuItemSelect)="itemMenuSelected(fluxo, $event)"></app-card>
  </div>
</div>

<ng-template #customTabsHeader>
  <div class="ss-tab">
    <div
      id="tabTodos"
      class="ss-tab-links"
      [ngClass]="{'active': tabTodos.selected}"
      (click)="tabPanelFluxos.selectTab(tabTodos)">
      <div class="ss-badge-container">
        <p>Todos <span scBadge color="default">{{(scTotals | async)?.todos}}</span></p>
      </div>
    </div>
    <div
      id="tabRascunhos"
      class="ss-tab-links"
      [ngClass]="{'active': tabRascunhos.selected}"
      (click)="tabPanelFluxos.selectTab(tabRascunhos)">
      <div class="ss-badge-container">
        <p>Rascunhos <span scBadge color="primary">{{(scTotals | async)?.rascunho}}</span></p>
      </div>
    </div>
    <div
      id="tabFinalizados"
      class="ss-tab-links"
      [ngClass]="{'active': tabFinalizados.selected}"
      (click)="tabPanelFluxos.selectTab(tabFinalizados)">
      <div class="ss-badge-container">
        <p>Finalizados <span scBadge color="active">{{(scTotals | async)?.finalizado}}</span></p>
      </div>
    </div>
  </div>
</ng-template>
