<form [formGroup]="programaForm" autocomplete="off">
  <div class="ss-grid">
    <div class="ss-grid col-offset-start-2 col-offset-end-8">
      <div class="col-4">
        <sc-card>
          <sc-card-content>
            <div formGroupName="infosBasicasForm">
              <div class="ss-grid">
                <div class="col-offset-start-5">
                  <sins-upload-img
                    style="flex: 0 0 auto;"
                    scTexto="Image do Programa"
                    [scPreloadImagem]="scPrograma.imagem"
                    (scFeedback)="atualizarImagemPrograma($event)">
                  </sins-upload-img>
                  <small *ngIf="infosBasicasForm.get('imagem').invalid" style="color: red; font-size: .8em">Campo requerido</small>
                </div>
              </div>

              <sc-form-field scLabel="Nome do Programa">
                <input id="nomePrograma" class="ss-form-control" type="text" formControlName="nome" [disableControl]="!programaEditavel">
              </sc-form-field>

              <label for="anoVigencia">
                Ano correspondente a este programa
                <select id="anoVigencia" name="anoVigencia" class="ss-form-control" formControlName="vigencia" [disableControl]="!programaEditavel">
                  <option *ngFor="let ano of anos" [value]="ano">{{ano}}</option>
                </select>
              </label>
            </div>
          </sc-card-content>
        </sc-card>
      </div>
      <div class="col-8">
        <sc-card>
          <sc-card-content>
            <sins-cadastro-programas-tabs
              [parentForm]="programaForm"
              (scAtivar)="ativar()"
              (scNavegarFluxoProcesso)="navegarFluxoProcesso()"></sins-cadastro-programas-tabs>
          </sc-card-content>
        </sc-card>
      </div>
    </div>
  </div>
</form>
