<div infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="10" (scrolled)="onScroll()" [infiniteScrollContainer]="'.app-content'" [fromRoot]="true" *ngIf="{vigencia: (planoAcao | async)?.vigencia, planejando: (planoAcao | async)?.situacao == 'planejando', naoPossuiAcoesExec: acoesExecutar?.total == 0} as flag">
    <div class="container-acoes" *ngIf="{condition: !flag.planejando && flag.naoPossuiAcoesExec} as mensagem">
        <div class="flex-container-h" style="justify-content: space-between;flex-wrap: wrap;" >
            <h6 style="flex: 0 0 auto;" >Tarefas do plano</h6>
            <div class="flex-container-h" style="align-items: baseline;flex-wrap: wrap;"  [ngStyle]="{'width': !flag.planejando && !flag.naoPossuiAcoesExec && flag.vigencia  !== anoAtual ? '900px' : '580px'}" >
              <sc-search-input style="flex: 0 1 350px;" id="buscar" placeholder="Buscar" (search)="onSearch($event)" (clear)="onClear()">
              </sc-search-input>
              <span id="aletarExecutar" *ngIf="!flag.planejando && !flag.naoPossuiAcoesExec && flag.vigencia  !== anoAtual" style="flex: 0 0 auto;padding-left: 30px;font-weight: bold;">Este plano de ação só poderá ser executado a partir de janeiro de {{flag.vigencia}}</span>
              <button id="criarNovaAcaoTop" *ngIf="flag.planejando" (click)="abrirActionBar({tipo: 1, acaoPai: ''})" style="flex: 0 0 200px;margin-left: 30px;" class="ss-btn ss-btn-success"><i class="mdi mdi-plus-circle-outline"></i> Criar Nova Ação</button>
              <button id="executarSuasTarefas" *ngIf="!flag.planejando && !flag.naoPossuiAcoesExec && flag.vigencia === anoAtual" [routerLink]="['/plano-acao', idPlano, 'executar']" routerLinkActive="active" style="flex: 0 0 200px;border: none;color: #00d55c;font-size: 16px;" class="ss-btn">Executar suas tarefas <i class="mdi mdi-arrow-right-circle"></i></button>
            </div>
        </div>
        <section class="card card-analitico no-padding">
            <div class="card-body">
                <filtro-acoes #filtroAcoes (changeTab)="onChangeTab($event)" [counters$]="counters$"></filtro-acoes>
                <sc-detail-action [acoes]="acoes" (onExcluir)="excluir($event)" [planoAcao]="planoAcao" (open)="abrirActionBar($event)" (openDetalhar)="abrirActionBarDetalhes($event)">
                </sc-detail-action>
            </div>
        </section>
    </div>
    <div *ngIf="(acoes | async)?.length != paginacaoAtualAcoes.total" (click)="onScroll()" class="mostrar-mais">Carregar mais tarefas...</div>
</div>
