.mdi-plus-box::before {
    color: #00D55C;
}

.mdi-plus::before {
    color: #4da191;
}

.mdi-plus-circle-outline {
    font-size: 18px;
    margin-right: 10px;
}

.mdi-arrow-right-circle {
    font-size: 30px;
    margin-left: 10px;
}

.inline-box {
    display: inline-block;
}

.icon-add-task {
    margin-left: -6px;
    padding: 10px 0 0 0;
    cursor: pointer;
}


.container-acoes {
  padding: 15px 75px 0 40px;
}

@media only screen and (max-width: 749px) {
  .container-acoes {
    padding: 15px 15px 0 9px;
  }

}


