<sc-actionbar id="filtro-actionbar" title="Filtros" width="auto">
    <div class="flex-container-v">
        <!-- Header -->
        <p style="font-size: 12pt;">Selecione o tipo de filtro que deseja aplicar</p>
        <p>
            Ao selecionar uma central somente a singulares associadas a ela estarão disponíveis.
        </p>

        <!-- Selected Filters -->
        <sc-section title="Filtros selecionados">
            <ng-template [ngIf]="cooperativasFiltradas().length != 0">
                <sc-chip style="margin: 2px;" *ngFor="let c of cooperativasFiltradas()" [text]="c.numero" [color]="'success'" (click)="removerFiltro(c.numero)"></sc-chip>
            </ng-template>
            <ng-template [ngIf]="cooperativasFiltradas().length == 0">
                <span class="ss-label ss-label-outline ss-label-danger">Nenhum</span>
            </ng-template>
        </sc-section>

        <!-- Filters -->
        <sc-accordion-item scTitle="Cooperativas ({{cooperativas$.length}})" [scInitOpen]="true">
            <div class="flex-container-v">
                <!-- Filter Search -->
                <sc-search-input placeholder="Digite o nome da cooperativa" (search)="onSearch($event)" (clear)="onClear($event)"></sc-search-input>
                <!-- Filter Options -->
                <sc-selection-list>
                    <sc-list-option *ngFor="let c of cooperativas$" [ngModel]="c.selecionado" (select)="adicionarFiltro(c.numero, $event)" [id]="c.numero">
                        {{c.numero}}
                    </sc-list-option>
                </sc-selection-list>
                <p *ngIf="cooperativas$.length == 0">Nenhuma cooperativa corresponde com o termo procurado.</p>
            </div>
        </sc-accordion-item>

        <!-- Actions -->
        <div class="filter-actions">
            <button class="ss-btn ss-btn-primary" id="aplicarFiltros" [disabled]="disableApplyFilterButton()" (click)="applyFilter()">
        Aplicar filtros
      </button>
            <button class="ss-btn ss-btn-outline-danger" id="cancelarActionFiltros" (click)="closeSidebar()">
        Cancelar
      </button>
        </div>
    </div>
</sc-actionbar>
