::ng-deep {
    #card-marco.ss-card {
        height: 100%;
    }
}

.title{
    overflow-wrap: break-word;
    word-wrap: break-word;
    // max-width: 235px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: -2px;
  }
  