<div id="card-marco" class="ss-card" style="overflow: inherit;">
    <sins-menu-dropdown *ngIf="scEditavel" caretPosition="88px" menuPosition="-79px" #dropDown style="float: right;margin-top: 7px" size='155px' (onAction)="onAction($event)" [position]='position' [listMenu]="menus">
    </sins-menu-dropdown>
    <div class="ss-card-body" style="cursor: pointer;" (click)="detalhar()" >
        <h5 class="title" style="font-size: 20px;">{{marco.nome}}</h5>
        <div class="flex-container-h">
          <i class="mdi mdi-calendar-blank" style="font-size: 20px;padding-right: 4px;"></i>
          <p style="margin: 3px 0 0 0;color: #9a9898">{{ marco.dataEntrega ? (marco.dataEntrega | date:'dd/MM/yyyy') : 'Este marco não possui data de entrega padrão'}}</p>
        </div>
        <!-- Está fixo -->
        <p style="font-weight: bold">0 Tarefas</p>
    </div>
</div>
