

.passo-titulo {
  text-align: justify;
  width: 450px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0px;
}

.mdi-information-outline:before {
  color: #eb5757;
  font-size: 22px;
  cursor: pointer;
}

.passos-item-left {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.passos-item-left-column-first {
  display: flex;
}

.passos-item-right {
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: flex-end;
  .passos-item-right-item {
      flex: 0 auto;
  }
  .passos-item-right-item:nth-child(1) {
      margin-right: 8px;
  }
  .passos-item-right-item:last-child {
      margin-left: 8px;
  }
  .passos-item-right-item:not(:last-child),
  .passos-item-right-item:not(:nth-child(1)) {
      margin: 0 8px;
  }
}

.passos-item {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  max-height: 70px;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #fafafa radial-gradient(circle, transparent 1%, #fafafa 1%) center/15000%;
}
.ripple:active {
  background-color: #f5f5f5;
  background-size: 100%;
  transition: background 0s;
}

.ss-radiobutton, .ss-checkbox {
  display: initial !important;
}


