<div class="passos-item ripple" *ngIf="{depende: depende(passo) || !podeExecutar(passo, isResponsavel)} as vars">
  <div *ngIf="stateExec" [@hover]="vars.depende ? stateExec : null" class="passos-item-left">
    <div class="passos-item-left-column-first">
      <label (click)="openPassoActionBar(passo, isResponsavel); $event.preventDefault();" class="ss-checkbox"><input
          type="checkbox" [checked]="passo.execucao.situacao === 'concluida'"><span style="margin-top: 2px;"
          class="ss-checkmark"></span></label>
      <p class="passo-titulo">{{passo.titulo}}<span>{{' - '+nomeMarco}}</span>
      </p>
    </div>
    <div class="passos-item-left-column-second">
      <i *ngIf="passo.idPassoDependencia" style="font-size: 20px;" class="mdi mdi-call-missed"
        [popover]="getPassoDependencia(passo)" triggers="mouseenter:mouseleave"></i>
      <i *ngIf="passo.formulario" style="font-size: 20px;margin: 0;" class="mdi mdi-file-document-box-outline"
        popover="Possui formulário" triggers="mouseenter:mouseleave"></i>
    </div>
  </div>
  <div class="passos-item-center" *ngIf="stateInfo && vars.depende" [@hover]="stateInfo">
    <div class="cancel-execucao">
      <div style="display: flex;">
        <i class="mdi mdi-lock" style="font-size: 26px;align-self: center;margin-right: 10px;"></i>
        <div class="passo-titulo" [innerHtml]="getTextoNaoPodeExecutar(passo, isResponsavel)"></div>
      </div>
    </div>
  </div>
  <div class="passos-item-right" id="passosRigth">
    <i class="mdi mdi-information-outline"
      *ngIf="passo.execucao.situacao === 'ajusteSolicitado' && passo.execucao.motivoRejeicao" popoverTitle="Motivo"
      [popover]="passo.execucao.motivoRejeicao" triggers="mouseenter:mouseleave"></i>

    <span id="situacaoPasso"
      class="passos-item-right-item ss-label ss-label-outline {{getSituacaoClass(passo.execucao.situacao)}}">{{getSituacaoLabel(passo.execucao.situacao)}}</span>

    <data-planejamento class="passos-item-right-item" [isResponsavel]="isResponsavel" [passo]="passo"
      [maxDate]="dataEntrega" [minDate]="minDate" (addDate)="setDataFimPlanejada($event)">
    </data-planejamento>

    <avatar-perfil-projeto *ngIf="passo.perfilAprovador" class="passos-item-right-item"
      (addResponsavel)="setAprovador($event)" [isResponsavel]="isResponsavel" [passo]="passo" tipo="aprovador">
    </avatar-perfil-projeto>

    <avatar-perfil-projeto class="passos-item-right-item" (addResponsavel)="setResponsavel($event)"
      [isResponsavel]="isResponsavel" tipo="responsavel" [passo]="passo">
    </avatar-perfil-projeto>
  </div>
</div>
