<ng-template #botoesPortfolio>
  <div class="app-header-actions-container">
    <div class="app-header-actions-item">
      <button id="criarEixoTop" (click)="abrirModalPortfolio(null)" class="ss-btn ss-btn-default">
        <i class="mdi mdi-plus-box"></i> Eixo de atuação
      </button>
    </div>
  </div>
</ng-template>

<div class="lists-container" *ngIf="{portfolios: portfolios$ | async} as infos">
  <div class="list" *ngFor="let portfolio of infos.portfolios">
    <h6 class="list-title">
      <span class="title-box">{{ portfolio.nome }}</span>
      <div class="actions">
        <i title="Editar Eixo" (click)="abrirModalPortfolio(portfolio)" class="mdi mdi-lead-pencil"></i>
        <i title="Deletar Eixo" *ngIf="!portfolio.programas || portfolio.programas.length === 0 || !portfolio.programas[0].nome" (click)="excluirPortfolio(portfolio)" class="mdi mdi-close"></i>
      </div>
    </h6>
    <ul class="list-items" *ngIf="portfolio.programas && portfolio.programas.length > 0 && portfolio.programas[0].nome">
      <li *ngFor="let programa of portfolio.programas">
        <div class="container-programa">
          <span id="situacaoPrograma" class="ss-label ss-label-outline {{getLabel(programa).class}}">
            {{getLabel(programa).title}}</span>
          <div class="buttonOver" (click)="editarPrograma(programa)">
            <i class="mdi mdi-lead-pencil"></i>
          </div>
        </div>
        <div style="display: flex;flex-direction: column;">
          <p style="margin: 0px">{{programa.nome}}</p>
          <small style="font-size: 12px;">{{programa.vigencia}}</small>
          <span style="margin: 0px;font-size: 14px;">{{tratarTotalProjetos(programa.totalProjetos)}}</span>
        </div>
      </li>
    </ul>
    <div class="add-card" (click)="abrirModalPrograma(portfolio)">Cadastrar Programa...</div>
  </div>
  <div class="add-list" (click)="abrirModalPortfolio(null)">Adicionar Eixo...</div>
</div>
