
@import '../../../../../assets/styles/colors';

.title-box{
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 235px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: -2px;
}

.mdi-lead-pencil:hover {
  background: #cccccd;
  color: #333333;
}

.mdi-lead-pencil {
  color: #989494;
  cursor: pointer;
  padding: 2px 4px;
  border-radius: 5px;
}

.mdi-close:hover {
  background: #ff8f8f;
  color: #fff;
}

.mdi-close {
  color: #ff8f8f;
  cursor: pointer;
  padding: 1px 2px;
  border-radius: 5px;
}

#criarEixoTop {
  padding: 0 20px;
  background: $color-success;
}

.mdi-plus-box::before {
  font-size: 17px;
  margin-right: 6px;
}

li:hover>.container-programa>.buttonOver {
  opacity: 1 !important;
}
li>.container-programa>.buttonOver {
  opacity: 0 !important;
}

.container-programa {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.lists-container::-webkit-scrollbar {
	height: 1rem;
}

.lists-container::-webkit-scrollbar-thumb {
	background-color: #c1c1c1;
	border: 0.8rem solid #c1c1c1;
	border-top-width: 0;
}

.lists-container {
	display: flex;
	align-items: start;
	padding: 0 0.8rem 0.8rem;
	overflow-x: auto;
	height: calc(100vh - 9.6rem);
}

.list {
	flex: 0 0 20rem;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	max-height: calc(100vh - 11.8rem);
	border-radius: 0.3rem;
  margin-right: 1rem;
  max-width: 300px;
}

.list:last-of-type {
	margin-right: 0;
}

.list-title {
  display: flex;
  justify-content: space-between;
  margin: 0px;
	font-size: 1rem;
	font-weight: 700;
	color: #333;
  padding: 10px 10px 0;
}

.list-items {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-content: start;
	padding: 0 0.6rem 0.5rem;
  overflow-y: auto;
  margin-bottom: 0px !important;
}

.list-items::-webkit-scrollbar {
	width: 1.6rem;
}

.list-items::-webkit-scrollbar-thumb {
	background-color: #c4c9cc;
	border-right: 1rem solid #ffffff;
}

.list-items li {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.3;
	background-color: #fff;
	padding: 0.65rem 0.6rem;
  color: #4d4d4d;
  border: 0.7px solid #ccc;
  box-shadow: 0px 1px 1px 0px #d7d7d7;
	border-radius: 0.3rem;
	margin-bottom: 0.6rem;
	word-wrap: break-word;
	cursor: pointer;
}

.list-items li:last-of-type {
	margin-bottom: 0;
}

.list-items li:hover {
	background-color: #eee;
}

.add-card {
	font-size: 1rem;
	font-weight: 400;
	color: #838c91;
	padding: 1rem;
  cursor: pointer;
  box-shadow: 0px 0px 1px 0px #aaa;
  border-top: 1px solid #c4c9cc;
}

.add-card:hover {
  background-color: #e1e1e1;
  color: #4d4d4d;
  text-decoration: underline;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}



.add-list {
    flex: 0 0 20rem;
    font-size: 1rem;
    font-weight: 400;
    background-color: #e2e4e6;
    padding: 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 150ms;
  }

  .add-list:hover {
    background-color: #d7d6d6;
  }
