<sc-modal headerTitle="Cortar imagem" width="small" [showClose]="true">
  <div class="ss-modal-body">
    <p>Selecione uma área para recortar a imagem selecionada para que seja fique adequada à disponibilização.</p>
    <div class="crop-area">
      <img src="" alt="">
      <image-cropper
        [imageBase64]="base64Img"
        [resizeToWidth]="180"
        [resizeToHeight]="180"
        [cropperMinWidth]="180"
        [cropperMinHeight]="180"
        (imageCropped)="imageCropped($event)"></image-cropper>
    </div>
  </div>
  <div class="ss-modal-footer">
    <div class="ss-modal-footer-buttons">
      <button class="ss-btn ss-btn-primary ss-modal-footer-button" (click)="cortar()">Cortar</button>
    </div>
  </div>
</sc-modal>
