.ss-modal textarea {
  width: 100%;
  resize: none;
}

.mdi-close-circle-outline::before{
  font-size: 72px;
  color: #f33f3f;
  margin-top: 22px;
}

.mdi-check-circle-outline::before{
  font-size: 72px;
  color: #48e6c8;
  margin-top: 22px;
}

.mdi-loading::before{
  font-size: 72px;
  margin-top: 22px;
}

/deep/ .cell-align-center {
  display: flex !important;
  align-items: center !important;
}
