<div class="ss-card">
  <div class="ss-card-header">
    <div class="ss-grid" style="padding-bottom: 20px">
      <div class="col-9">
        <h5>Voluntários - Aguardando assinatura</h5>
      </div>
      <div class="col-3">
        <!-- Pesquisa -->
        <sc-search-input
          [placeholder]="'Buscar'"
          [text]="filtro$.nome"
          (search)="onSearch($event)"
          (clear)="onClear($event)">
        </sc-search-input>
      </div>
      <div class="col-12">
        <!-- Total -->
        <strong>{{renderMensagemTotal()}}</strong>
      </div>
    </div>
  </div>
  <!-- Tabela de Voluntários -->
  <sc-datatable
    [page$]="filtro$.paginacao"
    [items$]="voluntarios$"
    [columnMode]="'flex'"
    [columns]="columns"
    [messages]="{ emptyMessage: 'Não existem voluntários para serem assinados', totalMessage: ' contratos' }"
    (changePage)="onChangePage($event)">
  </sc-datatable>
</div>

<!-- ngx-datatable templates -->
<ng-template #dataRegistroTpl let-row="row" let-value="value">
  {{value | date: 'dd/MM/yyyy'}}
</ng-template>

<ng-template #acoesTpl let-row="row" let-value="value">
    <div style="display: flex; flex-direction: row; align-items: center;">
      <div style="margin-right: 5px;" id="assinar-{{row.cpf}}" class="ss-btn ss-btn-outline-success" (click)="assinarContrato(row)">
        <i class="mdi mdi-check"></i> Assinar
      </div>
      <div id="ajuste-{{row.cpf}}" class="ss-btn ss-btn-borderless-danger" (click)="solicitarAjustes(row);">
        <i class="mdi mdi-close"></i> Solicitar ajustes
      </div>
  </div>
</ng-template>
