<div class="accordion-header">
    <div class="ss-grid" style="    width: 100%;">
        <div class="col-1">
            <img class="programa-img" *ngIf="convite.projeto.programa" [src]="'data:image/jpeg;base64,'+convite.projeto.programa.imagem" id="{{convite.projeto.programa.nome}}" >
        </div>
        <div class="col-5">
            <span style="color: #005d5e;font-weight: bold;font-size: 15px;" id="convite-nome">{{this.convite.projeto.nome}}</span>
            <br>
            <span id="convite-data" style="color: #b7b7b7;">{{getDataIniticio()}}</span>
        </div>
        <div class="col-6">
          <div class="flex-container-h" style="justify-content: flex-end">
            <div id="participar" style="cursor: pointer;" (click)="onParticipar()">Quero Participar</div>
            <div id="toggle" (click)="toggle()" >
                <p style="border: none;color: #707070;outline: none;font-size: 15px;cursor: pointer;">Mais Detalhes</p>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="accordion-content" [@toggle]="expansionState()">
    <div class="container-detalhe-convite-projeto">
      <div class="container-detalhe-convite-projeto-item">
          <p class="title-info" id="label-responsavel">Responsável:</p>
          <div style="margin-top: 7px;" class="flex-container-h">
            <!-- <img class="ss-user-img" *ngIf="convite.convidador.foto" [src]="'data:image/jpeg;base64,'+convite.convidador.foto" id="{{convite.convidador.nome}}" > -->
            <sc-avatar   size="40" [scAvatar]="{name: convite.convidador.nome}" [displayType]="'circle'"></sc-avatar>
            <p style="margin-top: 10px;margin-left: 10px;"  id="label-nome">{{convite.convidador.nome}}</p>
          </div>
      </div>
      <div class="container-detalhe-convite-projeto-item">
        <p class="title-info" id="label-responsavel">Nome da Central:</p>
        <div style="margin-top: 15px;" class="flex-container-h">
          <i class="mdi mdi-map-marker" style="color: #b7b7b7; font-size: 35px;"></i>
          <p style="margin-top: 2px;"  id="label-cooperativa">{{convite.convidador.numeroCooperativa}}</p>
        </div>
      </div>
  <!--     <div class="container-detalhe-convite-projeto-item">
          <p class="title-info" id="label-responsavel">Tarefas:</p>
          <div  style="margin-top: 15px;"class="flex-container-h">
            <i class="mdi mdi-thumb-up" style="color: #b7b7b7; font-size: 35px;"></i>
            <p style="margin-top: 2px;margin-left: 10px;"  id="label-tarefas">Você pode executar 25 tarefas neste projeto</p>
          </div>
      </div> -->
    </div>
</div>
