@import '../../containers/container-perfil-usuario/container-perfil-usuario.component.scss';


.accordion-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  i {
    font-size: 15pt;
  }
}

.accordion-content {
  padding: 8px 0;
  overflow: hidden;
}


.title-info  {
  color: #b7b7b7;
  margin: 0 0 0 10px;

}

#participar {
  border: none;
  color: #00d55c;
  outline: none;
  font-size: 15px;
  margin-right: 30px;
  margin-top: 10px;
}

.container-detalhe-convite-projeto{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .container-detalhe-convite-projeto-item {
    display: flex;
    flex-direction: column;
  }
}
