#passos-container {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

#passos-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  #passos-header-title {
    flex: 1 0 0;
    justify-self: flex-start;
    font-size: 20px;
    font-weight: bold;
  }

  #passos-header-action {
    flex: 0 0 0;
    justify-self: flex-end
  }
}

#passos-body {
  display: flex;
  flex-direction: column;
}
