<div
  *ngIf="{marco: marco$ | async, isResponsavel: isResponsavel$ | async, passos: passos$ | async, projeto: projeto$ | async} as infos">
  <div *ngIf="!infos.marco && (!infos.passos || infos.passos.length === 0)" class="empty">
    <img id="imagemEmptyCurso" src="assets/images/empty_state.png">
    <p class="empty-title" id="mensagemEmptyTarefas">Você ainda não possui tarefas nesse projeto</p>
  </div>
  <div class="ss-grid" style="padding-top: 30px;">
    <div class="col-offset-start-2 col-offset-end-8">
      <div id="passos-container">
        <div *ngIf="infos.marco || infos.passos.length > 0" id="passos-header">
          <div id="passos-header-title">
            {{infos.marco ? 'Tarefas do marco: ' + infos.marco.nome : 'Suas Tarefas'}}
          </div>
          <div id="passos-header-action">
          </div>
        </div>
        <div id="passos-body">
          <div class="container-passos-body" *ngFor="let passo of infos.passos;">
            <passo-projeto [passo]="passo" [usuarioLogado]="usuarioLogado" [isResponsavel]="infos.isResponsavel"
              [nomeMarco]="infos.marco ? infos.marco.nome : passo.marco.nome"
              [dataEntrega]="infos.marco ? infos.marco.dataEntrega : passo.marco.dataEntrega" [minDate]="infos.projeto.dataInicio"
              (onResponsavel)="setResponsavel($event)" (onAprovador)="setAprovador($event)"
              (onExecutar)="openPassoActionBar(passo, $event, infos.marco && infos.marco.dataEntrega ? infos.marco.dataEntrega : passo.marco.dataEntrega ? passo.marco.dataEntrega : getAnoAtual(infos.projeto), infos.projeto.dataInicio, infos.isResponsavel)"
              (onDataFimPlanejada)="setDataFimPlanejada($event)">
            </passo-projeto>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
