<div style="padding: 7px;" class="flex-container">
  <label class="ss-checkbox">
    <div class="" #text>
      <ng-content></ng-content>
    </div>
    <input
      type="checkbox"
      (change)="onSelect($event)"
      [checked]="checked">
    <span style="margin-top: 5px;" class="ss-checkmark"></span>
  </label>
</div>
