 ::ng-deep {
    #dialogoConcluirCadastroProjeto #modal>.ss-modal-content {
        width: 30%;
    }
    @media only screen and (max-width: 749px) {
        #dialogoConcluirCadastroProjeto #modal>.ss-modal-content {
            width: 90%;
        }

        .modal-concluir-cadastro {
            .modal-concluir-cadastro-item:nth-child(odd) {
              margin-right: 0px !important;
            }
            .modal-concluir-cadastro-item:nth-child(even) {
              margin-left: 0px !important;
            }
        }
    }

}

.modal-concluir-cadastro {
  flex-wrap: wrap;
    justify-content: center;
    display: flex;
    flex-direction: row;
    .modal-concluir-cadastro-item {
      flex: 0 0 0;
    }
    .modal-concluir-cadastro-item:nth-child(odd) {
      margin-right: 5px;
    }
    .modal-concluir-cadastro-item:nth-child(even) {
      margin-left: 5px;
    }
}

.ss-center {
  margin: auto;
  width: 50%;
  text-align: center;
}
