<sc-modal id="dialogoConcluirCadastroProjeto" headerTitle="Sucesso" [showClose]="true" width="small" (close)="closeModal(false)">
  <div class="ss-modal-body">
    <div class="ss-center">
      <img src="assets/images/positive-vote.png" alt="positive-vote">
      <p>Seu projeto foi {{acao}} com sucesso</p>
    </div>
  </div>
  <div class="ss-modal-footer">
    <div class="modal-concluir-cadastro" >
      <button class="ss-btn ss-btn-success modal-concluir-cadastro-item" (click)="closeModal(true)" id="irParaProjetos">
        Tarefas
      </button>
      <button class="ss-btn ss-btn-outline-danger modal-concluir-cadastro-item" (click)="closeModal(false)" id="verDetalhes">
        Voltar
      </button>
    </div>
  </div>
</sc-modal>
