<!--<div class="ss-grid">-->
<!--  <div class="col-offset-start-1 col-offset-end-10">-->
<!--    <sins-stepper (concluir)="concluir($event)" linear>-->
<!--      <cdk-step label="Informações do Programa" [completed]="stepInfoCompleto">-->
<!--        <sins-step-infos (scCompleted)="stepInfosCompleto($event)"></sins-step-infos>-->
<!--      </cdk-step>-->
<!--      <cdk-step label="Arquivos" [completed]="stepArquivosCompleto">-->
<!--        <sins-step-arquivos (onFinalizar)="receiveFeedbackArquivos($event)"></sins-step-arquivos>-->
<!--      </cdk-step>-->
<!--      <cdk-step label="Tarefas" [completed]="stepTarefasCompleto">-->
<!--        <sins-step-tarefas [programa]="programa" (feedback)="receiveFeedbackTarefas($event)"></sins-step-tarefas>-->
<!--      </cdk-step>-->
<!--      <cdk-step label="Ativar Programa" [completed]="stepAtivarProgramaCompleto">-->
<!--        <sins-step-ativar [programa]="programa"></sins-step-ativar>-->
<!--      </cdk-step>-->
<!--    </sins-stepper>-->
<!--  </div>-->
<!--</div>-->
