.dtPickerS {
    border: none;
    height: 0px;
    width: 0px;
    position: relative;
    color: TRANSPARENT;
    cursor: pointer;
  }

  .dtPickerS:focus{
    outline: none;
  }

  .dtPickerS::selection{
    background: transparent;
    color: transparent;
  }

.conteudo-header {
  padding: 10px;
  display: table;
}
