.dtPickerS {
    border: none;
    height: 0px;
    width: 0px;
    position: relative;
    color: TRANSPARENT;
    cursor: pointer;
}

.dtPickerS:focus {
    outline: none;
}

.dtPickerS::selection {
    background: transparent;
    color: transparent;
}

.ajustar-texto {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


::ng-deep {
  #dialogoNovoPlanoAcao #modal>.ss-modal-content {
      width: 40%;
  }
  @media only screen and (max-width: 749px) {
      #dialogoNovoPlanoAcao #modal>.ss-modal-content {
          width: 90%;
      }
  }
  .ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    border-color: #00AE9D;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    outline: none;
  }
  ng-select.ng-invalid.ng-touched .ng-select-container {
    border-color: #EB5757 !important;
    color: #EB5757 !important;
  }

}

.ng-select.ngselect-custom ::ng-deep .ng-dropdown-panel {
  width: auto !important;
}

.ng-select.ngselect-custom ::ng-deep .ng-select-container {
  border: 0 none;
  min-height: 0;
  height: auto;
  border-radius: 0;
  box-shadow: none;
}

.ng-select.ngselect-custom ::ng-deep .ng-select-container:hover {
  cursor: pointer;
}

.ng-select.custom ::ng-deep .ng-select-container {
  background-color: transparent;
  border-radius: 0px;
  border: none;
  min-height: 36px;
  align-items: center;
  height: 41px;
  box-shadow: none;
}

.ng-select.custom ::ng-deep .ng-select-container:hover {
  box-shadow: none;
  cursor: pointer;
}
