<sc-modal id="dialogoNovoPlanoAcao" [headerTitle]="label" [showClose]="true" width="small" (close)="closeModal(false)">
  <form [formGroup]="planoAcaoForm" autocomplete="off">
    <div class="ss-modal-body">
      <div class="flex-container-v">
        <p style="margin-bottom: -1px;">Insira um título para esse plano de ação: </p>
        <sc-form-field class="ss-form-group" style="margin-bottom: 0px;">
            <input type="text" scInput style="height: auto;padding: 9px;" class="ss-form-control" formControlName="nome">
        </sc-form-field>
        <p style="margin-bottom: -1px;margin-top: -9px;">Ano de realização: </p>
        <sc-form-field class="ss-form-group">
            <ng-select [items]="anos" placeholder="Selecione uma vigência" formControlName="vigencia" (change)="tratarVigencia($event, null)">
            </ng-select>
        </sc-form-field>
      </div>
        <div class="ss-grid">
            <div class="col-6">
              <div style="display: flex;">
                <div style="display: flex; flex-direction: column;justify-content: space-evenly;">
                  <btn-circle icone="mdi-calendar-plus" (clicar)="dpMDY.toggle()" title="Selecione a Data de Revisão">
                  </btn-circle>
                  <small class="ss-small-error" *ngIf="!(planoAcaoForm.value.dataProximaRevisao)"> Campo Requerido </small>
                </div>
                <input class="dtPickerS" [disableControl]="!vigencia.value" type="text" #dpMDY="bsDatepicker" formControlName="dataProximaRevisao" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',  showWeekNumbers: false }" [minDate]="minDate" [maxDate]="maxDate">
                <span (click)="dpMDY.toggle()" id="campoDataRevisaoEmpty" *ngIf="!(planoAcaoForm.value.dataProximaRevisao)" style="margin: 7px 0 0 -45px;cursor: pointer;">Data da próxima revisão</span>
                <span (click)="dpMDY.toggle()" id="campoDataRevisaoFull" *ngIf="planoAcaoForm.value.dataProximaRevisao" style="margin: 7px 0 0 10px;margin-right: 42px;cursor: pointer;"><span>Próxima Revisão: </span><b>{{planoAcaoForm.value.dataProximaRevisao | date:'dd/MM/yyyy'}}</b></span>
              </div>
            </div>
            <div class="col-6">
                <sc-lista-usuarios formControlName="responsavel" [numeroCooperativa]="usuarioInstituto.numeroCooperativa"></sc-lista-usuarios>
            </div>
        </div>
    </div>
    <div class="ss-modal-footer">
      <div class="ss-modal-footer-buttons">
        <button type="button" id="cancelar" class="ss-btn ss-btn-outline-danger ss-modal-footer-button" (click)="closeModal(false)">
          Cancelar
        </button>
        <button type="button" id="criarPlano" class="ss-btn ss-btn-success ss-modal-footer-button" (click)="onSubmit()" [disabled]="!planoAcaoForm.valid">
          {{labelAction}}
        </button>
      </div>
    </div>
  </form>
</sc-modal>
