.flex-container-v {
    display: flex;
    flex-direction: column;
}

.flex-container-h {
    display: flex;
    flex-direction: row;
}

.filter-actions {
    margin-top: 10px;
    padding: 8px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .ss-btn:nth-child(odd) {
        margin-right: 8px;
    }
    .ss-btn:nth-child(even) {
        margin-left: 8px;
    }
}
