<sc-actionbar id="filtro-actionbar" title="Filtros" width="auto">
    <form [formGroup]="filtroForm" autocomplete="off">
        <div class="ss-grid">
            <div class="col-8">
                <p style="font-size: 12pt;">Selecione o tipo de filtro que deseja aplicar</p>
            </div>
            <div class="col-4">
                <button style="margin-top: 7px;" class="ss-btn ss-btn-default" id="limparFiltros" (click)="limparFiltros()">
                Limpar Filtros
             </button>
            </div>
        </div>
        <div class="flex-container-v">
            <!-- Header -->
            <p style="margin-bottom: 0;">Buscar pelo nome do plano de ação</p>
            <input id="buscar" placeholder="Plano de ação" type="text" style="height: auto;padding: 9px;" class="ss-form-control" formControlName="nomeFiltro">
            <p style="margin-bottom: 0;">Buscar por cooperativas</p>
            <ng-select [items]="cooperativasObservable | async" [multiple]="false" [closeOnSelect]="true" [searchable]="true" placeholder="Selecione as cooperativas" formControlName="cooperativas">
            </ng-select>
            <p style="margin-bottom: 0;">Buscar pela vigência</p>
            <input  class="ss-form-control" placeholder="Ano de Vigência" [minDate]="minDate" [maxDate]="maxDate" style="height: auto;padding: 9px;" type="text" #dpMDY="bsDatepicker" formControlName="vigencia" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY', minMode: 'year', showWeekNumbers: false }" >
        </div>
    </form>
    <!-- Actions -->
    <div class="filter-actions">
        <button class="ss-btn ss-btn-primary" id="aplicarFiltros" [disabled]="!filtroForm.valid" (click)="applyFilter()">
      Aplicar filtros
    </button>
        <button class="ss-btn ss-btn-outline-danger" id="cancelarActionFiltros" (click)="closeSidebar()">
      Cancelar
    </button>
    </div>
</sc-actionbar>
