
.mdi-play-circle:before {
  font-size: 35px;
}
.mdi-pause:before {
  font-size: 24px;
  border: 1px solid;
  border-radius: 50%;
  padding: 2px;
}
.mdi-check-circle:before {
  font-size: 35px;
  margin-top: 3px;
}


.ss-popover {
  padding: 0;
}



.ss-popover-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.ss-popover-container .ss-popover {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.ss-popover-container:hover .ss-popover {
  visibility: visible;
  opacity: 1;
}