<div *ngIf="acao.situacao == 'naoIniciada'" (click)="onIniciar()" class="flex-container"
  style="cursor: pointer;margin-left: 25px;" id="iniciarTarefa">
  <p style="margin: 4px 5px 0 0;">Iniciar Tarefa</p>
  <i style="color: #00A091" class="mdi mdi-play-circle"></i>
</div>
<div *ngIf="acao.situacao == 'impedida'" (click)="onRetomar()" class="flex-container"
  style="cursor: pointer;margin-left: -2px;" id="continuarTarefa">
  <p style="margin: 4px 5px 0 0;">Continuar Tarefa</p>
  <i style="color: #00A091" class="mdi mdi-play-circle"></i>
</div>
<div *ngIf="acao.situacao == 'iniciada'" class="flex-container" style="margin-left: 63px;">
  <div (click)="onParar()" class="ss-popover-container" id="pararTarefa">
    <div class="ss-popover bottom" role="tooltip" style="width: fit-content;margin-left: -33px;margin-top: -37px;">
      <div class="arrow"></div>
      <p class="ss-popover-title" style="margin: 5px;">Impedimento</p>
    </div>
    <i title="Impedimento" style="margin-right: 15px;cursor: pointer;color: #EB5757" class="mdi mdi-pause"></i>
  </div>

  <div (click)="onConcluir()" class="ss-popover-container" id="concluirTarefa">
    <div class="ss-popover bottom" role="tooltip" style="width: fit-content;margin-left: -15px;margin-top: -37px;">
      <div class="arrow"></div>
      <p class="ss-popover-title" style="margin: 5px;">Concluir</p>
    </div>
    <i title="Concluir" style="cursor: pointer;color: #00D55C" class="mdi mdi-check-circle"></i>
  </div>
</div>
