<div class="sins-dropzone">
  <ngx-file-drop
    dropZoneLabel="Drop files here"
    dropZoneClassName="sins-dropzone"
    (onFileDrop)="dropped($event)"
    (onFileOver)="fileOver($event)"
    (onFileLeave)="fileLeave($event)"
    [multiple]="scMultiple">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
      <i class="material-icons sins-upload-icon">backup</i>
      <span class="sins-upload-text">Solte seus arquivos aqui ou </span>
      <p class="sins-upload-link" (click)="openFileSelector()">&nbsp;Selecione um arquivo</p>
    </ng-template>
  </ngx-file-drop>
</div>
<div style="max-height: 4000px; overflow-y: scroll; margin: 10px">
  <div class="ss-grid sins-file-info-line" *ngFor="let item of files; let i=index">
    <div class="col-9">
      <strong>{{ item.relativePath }}</strong>
    </div>
    <div class="col-2" *ngIf="item.inProgressState === 0">
      {{ item.size / 1000 }} KB
    </div>
    <div class="col-2" *ngIf="item.inProgressState === 1">
      <sc-progress-bar [progress]="item.progress" [color]="'#00D55C'"></sc-progress-bar>
    </div>
    <div class="col-2" *ngIf="item.inProgressState === 2">
      <sc-progress-bar [progress]="100" [color]="'#00D55C'"></sc-progress-bar>
    </div>
    <div class="col-1" *ngIf="item.inProgressState !== 2">
      <b><i class="material-icons " style="cursor: pointer; color: #000000" (click)="remove($event, item)">close</i></b>
    </div>
    <div class="col-1" *ngIf="item.inProgressState === 2">
      <i class="material-icons" style="cursor: pointer; color: #00D55C;">check_circle</i>
    </div>

  </div>
</div>
<hr *ngIf="files.length > 0"/>
<div class="ss-grid" *ngIf="files.length > 0">
  <div class="col-6" *ngIf="transferring === false">
    <span *ngIf="files.length > 0">{{ totalFiles }} arquivo(s) - {{ calcularTamanhoArquivos() }} </span>
  </div>
  <div class="col-6" *ngIf="transferring === true">
    <sc-progress-bar [progress]="calcularProgressoTotal()" [color]="'#00D55C'"></sc-progress-bar>
  </div>
  <div class="col-3">

  </div>
  <div class="col-3">
    <button class="ss-btn ss-btn-primary" style="background-color: #71728D; border-color: #71728D" (click)="transfer()">
      Transferir
    </button>
  </div>
</div>
