.sins-upload-icon {
    font-size: 30px;
    margin: 5px;
    color: #818181;
}

.sins-upload-text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 14px;
    color: #ABABAB;
}

.sins-upload-link {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 14px;
    color: #0782d0;
    cursor: pointer;
}

.sins-file-info-line {
    background-color: transparent;
    color: #ABABAB;
    margin-top: 5px;
}

.sins-file-info-line:hover {
    background-color: #EBEBEB;
    color: #ABABAB;
    margin-top: 5px;
    transition: 0.8s;
}

.sins-dropzone {
    border-color: #ABABAB;
    border: solid;
    border-style: dashed;
    border-radius: 10px;
    border-width: 1px;
}

