::ng-deep {
  app-dialogo-concluir-acao sc-modal #modal > div {
    width: 30% !important;
  }


    @media only screen and (max-width: 749px) {
      app-dialogo-concluir-acao sc-modal #modal > div {
        width: 90% !important;
      }
    }


}



