<sc-modal [headerTitle]="label" [showClose]="false" width="small" (close)="closeModal(false)">
  <form *ngIf="!investimentoSuperior && !justificarInvestimento" [formGroup]="investimentoForm" autocomplete="off">
    <div class="ss-modal-body">
      <p>Informe o investimento realizado durante a execução desta tarefa: </p>
      <sc-form-field class="ss-form-group">
        <div class="input-container">
          <input currencyMask type="text" scInput style="height: auto;padding: 5px;"
                 class="alinhar-esquerda ss-form-control input-field" formControlName="investimento"
                 [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
        </div>
      </sc-form-field>
    </div>
    <div class="ss-modal-footer">
      <div class="ss-modal-footer-buttons">
        <button type="button" id="cancelar" class="ss-btn ss-btn-outline-danger ss-modal-footer-button"
                (click)="closeModal(false)">
          Cancelar
        </button>
        <button type="button" id="criarPlano" (click)="onSubmit()" [disabled]="!investimentoForm.valid"
                class="ss-btn ss-btn-success ss-modal-footer-button">{{labelAction}}</button>
      </div>
    </div>
  </form>

  <div *ngIf="investimentoSuperior">
    <div class="ss-modal-body" style="text-align: center">
      <img src="assets/images/ico-investimento.svg" height="180px" width="100px"/>
      <p>Hmm, parece que você gastou um pouco mais do que o planejado</p>
      <small>Que tal informar o motivo? Isso pode te ajudar no controle dos investimentos :)</small>
    </div>

    <div class="ss-modal-footer">
      <div class="ss-modal-footer-buttons">
        <button type="button" id="cancelar" class="ss-btn ss-btn-outline-danger ss-modal-footer-button" (click)="closeModal()">
          Não informar
        </button>
        <button type="button" id="criarPlano" (click)="irParaJustificar()" class="ss-btn ss-btn-success ss-modal-footer-button">
          Informar o motivo
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="justificarInvestimento">
    <form [formGroup]="justificativaForm" autocomplete="off">
      <div class="ss-modal-body">
        <p>Informe abaixo o motivo: </p>
        <sc-form-field class="ss-form-group">
          <textarea scInput
            style="height: auto;padding: 5px;" class="ss-form-control"
            formControlName="justificativaAjusteText" rows="5" cols="50"></textarea>
        </sc-form-field>
      </div>
      <div class="ss-modal-footer">
        <div class="ss-modal-footer-buttons">
          <button type="button" id="cancelar" class="ss-btn ss-btn-outline-danger ss-modal-footer-button" (click)="closeModal()">
            Não informar
          </button>
          <button type="button" id="criarPlano" (click)="onJustificar()" class="ss-btn ss-btn-success ss-modal-footer-button">
            Informar o motivo
          </button>
        </div>
      </div>
    </form>
  </div>
</sc-modal>
