::ng-deep {
    #actionbar>div>form>div>div:nth-child(1)>div>ng-select>div>span.ng-clear-wrapper {
        display: none;
    }
    #actionbar>div>form>div>div:nth-child(1)>div>ng-select>div>span.ng-arrow-wrapper {
        display: none;
    }

        
    #formFieldDataFim>.ss-form-group:before {
        content: "\f133";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: #848484;
        font-size: 18px;
        padding-right: 0.5em;
        position: absolute;
        top: 7px;
        right: 0;
    }

}


 