<sc-actionbar [title]="title">
    <form [formGroup]="marcoForm" autocomplete="off" style="padding-top: 10px">
        <div class="ss-grid">
            <div class="col-12" style="height: 70px;">
                <p style="margin-bottom: -1px;">Título do marco </p>
                <sc-form-field class="ss-form-group">
                    <input type="text" scInput style="height: auto;padding: 9px;" class="ss-form-control" formControlName="nome">
                </sc-form-field>
            </div>
            <div class="col-12" style="margin-bottom: -20px;">
                <label class="ss-checkbox">
                Este marco possui data de entrega definida?
                <input type="checkbox" [(ngModel)]="possuiDataEntrega" [ngModelOptions]="{standalone: true}" >
                <span style="margin-top: 5px;" class="ss-checkmark"></span>
              </label>
            </div>
            <div class="col-12" >
                <p style="margin-bottom: -1px;">Data fim </p>
                <sc-form-field id="formFieldDataFim">
                    <input type="text" [disableControl]="!possuiDataEntrega" style="height: auto;padding: 9px;" class="ss-form-control" #dpMDY="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }" [minDate]="minDate" [maxDate]="maxDate"
                        placeholder="dia/mês/ano" formControlName="dataEntrega">
                </sc-form-field>
            </div>
        </div>
    </form>
    <div class="ss-grid" style="margin-top: 30px;">
        <div id="criarNova" *ngIf="!marcoEditar" class="col-12">
            <button [disabled]="!marcoForm.valid" (click)="criar(true)" class="ss-btn ss-btn-success">SALVAR</button>
        </div>
        <div id="salvarCriarNova" *ngIf="!marcoEditar" class="col-12">
            <button [disabled]="!marcoForm.valid" (click)="criar(false)" class="ss-btn ss-btn-outline-success">SALVAR E CRIAR NOVO MARCO</button>
        </div>
        <div id="salvarModificacoes" *ngIf="marcoEditar" class="col-12">
            <button [disabled]="!marcoForm.valid" (click)="editarAcao()" class="ss-btn ss-btn-success">SALVAR MODIFICAÇÕES</button>
        </div>
        <div id="cancelar" class="col-12">
            <button (click)="fechar()" class="ss-btn ss-btn-default">CANCELAR</button>
        </div>
    </div>
</sc-actionbar>
