.input-wrapper {
    position: relative;
    width: 200px;
}

.input-wrapper:before {
    content: "\f133";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #848484;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 7px;
    right: 0;
}
