<main id="app" class="app-grid">

  <div class="app-navbar">
    <sc-navbar
      title="SISTEMA DE GESTÃO DO INSTITUTO SICOOB"
      imageLogo="assets/images/logo-sisbr-default.svg"
      [user]="(user$ | async)"
      [hasMultiInstituition]="false"
      [items]="itemsNavbar"
      (logout)="logout()">
    </sc-navbar>
  </div>

  <div class="app-toolbar" [ngStyle]="{'display' : !(isToolbarVisible$() | async) ? 'none' : 'block'}">
    <sc-toolbar [items]="itemsToolbar"></sc-toolbar>
  </div>

  <!-- <header
    class="app-header"
    [ngStyle]="{
      'grid-column' : !(isToolbarVisible$() | async) ? 'span 3' : 'span 2',
      'visibility': (isHeaderVisible$() | async) ? 'visible' : 'hidden'
    }">
    <sc-header></sc-header>
  </header> -->


  <header class="app-header" [ngStyle]="{'grid-column' : !(isToolbarVisible$() | async) ? 'span 3' : 'span 2','display': (isHeaderVisible$() | async) ? 'block' : 'none'}">
    <div class="ss-grid">
      <div class="col-6 col-md-6">
        <sc-breadcrumb #parent>
        </sc-breadcrumb>
      </div>
      <sc-header-actions-container class="col-6 col-md-6"></sc-header-actions-container>
    </div>
  </header>


  <div
    class="app-content"
    (scroll)="onWindowScroll($event)"
    [class.grid-col-span-2]="(isClosed$() | async)"
    [ngStyle]="{
      'overflow' :  (isHeaderVisible$() | async) ? 'auto' : 'initial',
      'grid-column': (!(isToolbarVisible$() | async)  && (isClosed$() | async)) ? 'span 3' : 'span 2',
      'padding': (padding$() | async) + 'px'
      }">
    <div id="scrollTo"></div>
    <router-outlet></router-outlet>
    <a *ngIf="isScroll" id="scroll" (click)="scrollToTop()"><span></span></a>
    <div id="action-bar-container" class="hidden"></div>
    <div id="alert-container"></div>
  </div>

  <div *ngIf="sidebarContainer">
    <sc-sidebar-container *ngIf="!(isClosed$() | async)" #sidebarContainer></sc-sidebar-container>
  </div>
</main>
<sc-loader></sc-loader>
