$color-aguardando-analise: #2680EB;
$color-devolvido-ajuste: #C20000;
$color-ajuste-voluntario: #F22828;
$color-aguardando-assinatura: #00D55C;

$color-default: #C4C4C4;
$color-primary: #003641;
$color-active: #9B51E0;
$color-danger: #EB5757;
$color-success: #00D55C;
$color-warning: #f39c12;
$color-default-2: #71728d;

$color-navbar-1: #003641;
$color-navbar-2: #FEFEFE;
$color-background: #F2F2F2;
$color-base-1: #FFFFFF;
$color-base-2: #E0E0E0;
$color-base-3: #C4C4C4; //#D8D8D8; //#E2E2E2; //#DADFE6; //#EAEAEA;
$color-base-4: #828282; //#7C8E9E;
$color-base-5: #656565;//#34495E; //#4F4F4F;
$color-base-6: rgba(0, 0, 0, 0.7); //preto

// Theme colors  ==========================
$color-highlight: #00AE9D; //#00A091;
$color-selection: #00d4bf; //#EBFFF4; //#63D995; //#94E1D6;
$color-theme-1: #003641;
$color-label: $color-base-1;
$color-success: #00CC66; //#00D55C; //#00C9B8;
$color-success-2: #63D995; //$color-selection;
$color-warning: #f39c12;
$color-warning-2: #FFD762;
$color-danger: #EB5757; //#E74C3C;
$color-danger-2: #EF8C82;
$color-shadow-1: rgba(0, 0, 0, 0.05);
$color-shadow-2: rgba(0, 0, 0, 0.2);
$comp-height: 35px;
$comp-border: 1px solid $color-base-2;
$comp-padding-sm: 10px;
$comp-padding: 13px;
$comp-padding-md: 20px;
$comp-padding-lg: 25px;
$comp-border-radius: 4px;
$comp-shadow: 0 2px 4px $color-shadow-1;
$comp-shadow-md: 0 2px 8px $color-shadow-2;
$comp-shadow-lg: 0 4px 10px $color-shadow-2;
