// _variaveis.scss
// ###################
// Default Theme
// ###################
// Navbar colors  ==========================
$color-navbar-1: #003641;
$color-navbar-2: #FEFEFE;
// Background colors  ==========================
$color-background: #F4F4F4; //#F2F2F2;
// Bases colors  ==========================
$color-base-1: #FFFFFF;
$color-base-2: #E0E0E0;
$color-base-3: #C4C4C4; //#D8D8D8; //#E2E2E2; //#DADFE6; //#EAEAEA;
$color-base-4: #828282; //#7C8E9E;
$color-base-5: #656565;//#34495E; //#4F4F4F;
$color-base-6: rgba(0, 0, 0, 0.7); //preto
// Theme colors  ==========================
$color-highlight: #00AE9D; //#00A091;
$color-selection: #EBFFF4;//rgba(0,0,0,0.05); //$color-base-2; //#00d4bf //#EBFFF4; //#63D995; //#94E1D6;
$color-theme-1: #003641;
// $color-theme-2: rgba(0, 160, 145, 0.2);
// colors labels ==========================
$color-label: $color-base-1;
// // ###################
// // dark theme
// // ###################
// // colors navbar ==========================
// $color-navbar-1: #003641;
// $color-navbar-2: #FEFEFE;
// // colors background ==========================
// $color-background: #0D090F;
// // colors neutras ==========================
// $color-base-1: #1E1E25;
// $color-base-3: #383B4A;
// $color-base-4: #7C8E9E; //rgba(52, 73, 94, 0.6);
// $color-base-5: #f5f7f8;
// // colors tema ==========================
// $color-highlight: #7DB61C; //#00A091;
// $color-selection: #CEE2A2; //#94E1D6;
// $color-theme-1: #003641;
// // colors labels ==========================
// $color-label: #FEFEFE;
// // ###################
// // green theme
// // ###################
// // colors navbar ==========================
// $color-navbar-1: #003641;
// $color-navbar-2: #FEFEFE;
// // colors background ==========================
// $color-background: #171C1B;
// // colors neutras ==========================
// $color-base-1: #1F3632;
// $color-base-3: #304D48;
// $color-base-4: #799691; //rgba(52, 73, 94, 0.6);
// $color-base-5: #f5f7f8;
// // colors tema ==========================
// $color-highlight: #7DB61C; //#00A091;
// $color-selection: #CEE2A2; //#94E1D6;
// $color-theme-1: #003641;
// // colors labels ==========================
// $color-label: #FEFEFE;
// ###################
// ###################
// ###################
// Support colors ==========================
$color-success: #00CC66; //#00D55C; //#00C9B8;
$color-success-2: #63D995; //$color-selection;
$color-warning: #f39c12;
$color-warning-2: #FFD762;
$color-danger: #EB5757; //#E74C3C;
$color-danger-2: #EF8C82;
// Shadows colors ==========================
// $color-shadow-1: rgba(150, 97, 97, 0.16);
$color-shadow-1: rgba(0, 0, 0, 0.05);
$color-shadow-2: rgba(0, 0, 0, 0.2);
$color-shadow-3: rgba(0, 0, 0, 0.1);
// ###################
//components ========================
// ###################
$comp-height: 36px;
$comp-border: 1px solid $color-base-2;
// $comp-padding: 4px 16px;
$comp-padding-sm: 10px;
$comp-padding: 13px;
$comp-padding-md: 20px;
$comp-padding-lg: 25px;
$comp-border-radius: 4px;
$comp-shadow: 0 2px 4px $color-shadow-1;
$comp-shadow-md: 0 2px 8px $color-shadow-2;
$comp-shadow-lg: 0 4px 10px $color-shadow-2;
// $comp-shadow-md: 0 9px 13px $color-shadow-2;
// $comp-shadow-lg: 0 9px 38px $color-shadow-2;
