.ss-btn-borderless-default {
  color: #7c8e9e;
}

.ss-btn-borderless-primary {
  color: #003641;
}

.ss-btn-borderless-success {
  color: #008c5d;
}

.ss-btn-borderless-warning {
  color: #f39c12;
}

.ss-btn-borderless-danger {
  color: #f22828;
}

.ss-btn-borderless-danger:hover {
  background-color: #f22828;
  color: #fefefe;
}

.ss-btn-borderless-success:hover {
  background-color: #008c5d;
  color: #fefefe;
}
