@import "assets/styles/colors.scss";


.drop-zone-custom {
  margin: auto;
  height: 200px;
  border: 2px dotted #17191a !important;
  border-radius: 10px !important;
  color: #17191a !important;
}

.content-file-drop-custom {
  color: #17191a;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  color: #000000;
  .mdi-check-circle-file {
    color: $color-success !important;
    font-size: 50px;
  }

  .mdi-cloud-upload-file {
    color: #716c6c  !important;
    font-size: 50px;
  }
}
