@import "colors";
/*
Tooltips
========================================== */

@mixin tooltip-after() {
  content: "";
  position: absolute;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
}

.ss-popover {
  // position: absolute;
  position: relative;
  // top: 0;
  // left: 0;
  // z-index: 1;
  max-width: 330px;
  padding: $comp-padding-md;
  background-color: #fff;
  // background-clip: padding-box;
  border: $comp-border;
  border-color: #e0e0e0;
  border-radius: $comp-border-radius;
  -webkit-box-shadow: $comp-shadow-md;
  box-shadow: $comp-shadow-md;
  .ss-popover-title {
    font-weight: bolder;
  }
  > .arrow {
    border-width: 11px;
    &::after {
      content: "";
      border-width: 10px;
    }
  }
  > .arrow,
  > .arrow::after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
  &.right {
    margin-left: 10px;
    // top: 190px;
    // left: 33px;
    display: block;
    > .arrow {
      top: 50%;
      left: -11px;
      margin-top: -11px;
      border-right-color: #e0e0e0;
      border-left-width: 0;
      &::after {
        bottom: -10px;
        left: 1px;
        content: " ";
        border-right-color: #fff;
        border-left-width: 0;
      }
    }
  }
  &.right {
    margin-left: 10px;
    // top: 190px;
    // left: 33px;
    display: block;
    > .arrow {
      top: 50%;
      left: -11px;
      margin-top: -11px;
      border-right-color: #e0e0e0;
      border-left-width: 0;
      &::after {
        bottom: -10px;
        left: 1px;
        content: " ";
        border-right-color: #fff;
        border-left-width: 0;
      }
    }
  }
  &.top {
    margin-top: 10px;
    // top: 190px;
    // left: 33px;
    display: block;
    > .arrow {
      top: -11px;
      left: 50%;
      margin-left: -11px;
      border-bottom-color: #e0e0e0;
      border-top-width: 0;
      &::after {
        bottom: -11px;
        left: -10px;
        content: " ";
        border-bottom-color: #fff;
        border-top-width: 0;
      }
    }
  }
  &.bottom {
    margin-top: 10px;
    // top: 190px;
    // left: 33px;
    display: block;
    > .arrow {
      top: 30px;
      left: 50%;
      margin-left: -11px;
      border-top-color: #e0e0e0;
      border-bottom-width: 0;
      &::after {
        bottom: 1px;
        left: -10px;
        content: " ";
        border-top-color: #fff;
        border-bottom-width: 0;
      }
    }
  }
}
