@import "./colors.scss";

.ss-label {
  display: inline-block;
  padding: 1px 10px;
  height: 23px;
  font-size: 80%;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 20px;
  color: #fefefe;
  line-height: 18px;
}

.ss-label {
  border: 1px solid #dadfe6;
  font-weight: bold;
}

.ss-label-default {
  background-color: $color-default;
  border-color: $color-default;
}

.ss-label-primary {
  background-color: $color-primary;
  border-color: $color-primary;
}
.ss-label-success {
  background-color: $color-success;
  border-color: $color-success;
}
.ss-label-danger {
  background-color: $color-danger;
  border-color: $color-danger;
}

.ss-label-warning {
  background-color: $color-warning;
  border-color: $color-warning;
}

.ss-label-active {
  background-color: $color-active;
  border-color: $color-active;
}

.ss-label.ss-label-outline {
  background-color: transparent;
}

.ss-label.ss-label-outline.ss-label-default {
  border-color: $color-default;
  color: $color-default;
}
.ss-label.ss-label-outline.ss-label-active {
  border-color: $color-active;
  color: $color-active;
}
.ss-label.ss-label-outline.ss-label-danger {
  border-color: $color-danger;
  color: $color-danger;
}
.ss-label.ss-label-outline.ss-label-primary {
  border-color: $color-primary;
  color: $color-primary;
}
.ss-label.ss-label-outline.ss-label-success {
  border-color: $color-success;
  color: $color-success;
}
.ss-label.ss-label-outline.ss-label-warning {
  border-color: $color-warning;
  color: $color-warning;
}
/*Fim do Label*/

