/*
Tabs
========================================== */

.ss-tab {
  overflow: auto;
  display: flex;
  border-bottom:  1px solid #C4C4C4;
  /* border-radius: 4px 4px 0 0;
  background-color: #FEFEFE;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.16); */
  .ss-tab-links {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    height: 52px;
    padding: 4px 14px;
    transition: 0.3s;
    padding: 4px 40px;
    transition: 0.3s;
    color: #828282;
    word-wrap: initial;
    overflow: hidden;
    flex-shrink: 0;
    &:hover {
      background-color: #F5F7F8;
    }
    &.active {
      border-bottom: 2px solid #00AE9D;
      color: #656565;
    }
  }
}

.ss-card>.ss-tab {
  border: none;
  border-bottom: 1px solid #DADFE6;
  border-radius: initial;
  background-color: transparent;
  box-shadow: none;
}

@media screen and (min-width: 768px) {
  .ss-tab {
    .ss-tab-links {
      width: auto;
    }
  }
}
