
/*
Radio button e Checkbox
========================================= */
.ss-radiobutton,
.ss-checkbox {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 8px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ss-radiobutton input,
.ss-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.ss-radiobutton .ss-checkmark,
.ss-checkbox .ss-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #f5f7f8;
  border: 1px solid #d5dde5;
  border-color: #34495e;
}
.ss-radiobutton:hover input ~ .ss-checkmark,
.ss-checkbox:hover input ~ .ss-checkmark {
  background-color: #d5dde5;
}
.ss-radiobutton input:checked ~ .ss-checkmark,
.ss-checkbox input:checked ~ .ss-checkmark {
  background-color: #00a091;
  border-color: #00a091;
}
.ss-radiobutton .ss-checkmark:after,
.ss-checkbox .ss-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.ss-radiobutton input:checked ~ .ss-checkmark:after,
.ss-checkbox input:checked ~ .ss-checkmark:after {
  display: block;
}

/* Radio button */
.ss-radiobutton .ss-checkmark {
  border-radius: 50%;
}

.ss-radiobutton .ss-checkmark:after {
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #f5f7f8;
}

/* Checkbox */
.ss-checkbox .ss-checkmark {
  border-radius: 2px;
}

.ss-checkbox .ss-checkmark:after {
  left: 4px;
  top: 2px;
  width: 2px;
  height: 5px;
  border: solid #f5f7f8;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
