.action-bar-filtro-planos {
    @media screen and (min-width: 768px) {
        .app-actionbar-slide {
            width: 32vw;
        }
    }
}

.action-bar-filtro-projetos {
    @media screen and (min-width: 768px) {
        .app-actionbar-slide {
            width: 28vw;
        }
    }
}

.action-bar-detalhe-acao {
    @media screen and (min-width: 768px) {
        .app-actionbar-slide {
            width: 40vw;
        }
    }
}

.action-bar-cadastro-tarefa {
    @media screen and (min-width: 768px) {
        .app-actionbar-slide {
            width: 48vw;
        }
    }
}

.action-bar-cadastro-marco {
    @media screen and (min-width: 768px) {
        .app-actionbar-slide {
            width: 20vw;
        }
    }
}