.ss-navbar-info .ss-navbar-logo-img {
  width: 30px !important;
}

.ss-breadcrumb {
  list-style: none;
  padding-left: initial;
  margin: 0;
  white-space: nowrap;
  overflow: auto;
  display: flex;
  flex-direction: row;
  line-height: 20px;
}
.ss-breadcrumb .ss-breadcrumb-item {
  color: #656565;
  margin: 0;
  text-decoration: none;
}

.ss-breadcrumb .ss-breadcrumb-item:hover {
  color: #00cc66;
}
.ss-breadcrumb .ss-breadcrumb-link {
  color: #656565;
  font-weight: bolder;
  cursor: pointer;
}

span:nth-child(2) > h6 {
  visibility: hidden;
}

span.ss-breadcrumb-item:nth-child(2) > span::before {
  padding: 0 8px;
  font-size: 16px;
  font-weight: normal;
  content: "›";
}
