
/*
Tooltips
========================================== */
.ss-tooltip {
  position: relative;
  display: inline-block;
}
.ss-tooltip .ss-tooltiptext {
  visibility: hidden;
  position: absolute;
  min-width: 100px;
  text-align: center;
  color: #fefefe;
  background-color: #34495e;
  padding: 4px 14px;
  border-radius: 4px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}
.ss-tooltip:hover .ss-tooltiptext {
  visibility: visible;
  opacity: 1;
}

.ss-tooltip-bottom {
  top: 135%;
  left: -34px;
}
.ss-tooltip-bottom:after {
  content: "";
  position: absolute;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: transparent transparent #34495e transparent;
}

.ss-tooltip-top {
  bottom: 125%;
  left: 0;
}
.ss-tooltip-top:after {
  content: "";
  position: absolute;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  top: 115%;
  left: 50%;
  margin-left: -5px;
  border-color: #34495e transparent transparent transparent;
}

.ss-tooltip-right {
  top: -5px;
  left: 125%;
}
.ss-tooltip-right:after {
  content: "";
  position: absolute;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  top: 50%;
  right: 100%;
  border-color: transparent #34495e transparent transparent;
}

.ss-tooltip-left {
  top: -5px;
  bottom: auto;
  right: 128%;
}
.ss-tooltip-left:after {
  content: "";
  position: absolute;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  top: 50%;
  left: 100%;
  border-color: transparent transparent transparent #34495e;
}
