/*Modals do SINS */

//.sins-modal-confirm {
//  .ss-modal-content {
//    position: absolute;
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%);
//    width: 25vw !important;
//  }
//}
//
//.sins-modal-success {
//  .ss-modal-content {
//    position: absolute !important;
//    top: 50% !important;
//    left: 50% !important;
//    transform: translate(-50%, -50%) !important;
//    width: 30% !important;
//  }
//}
//
//.sins-modal-justificativa {
//  .ss-modal-content {
//    position: absolute !important;
//    top: 50% !important;
//    left: 50% !important;
//    transform: translate(-50%, -50%) !important;
//    width: 45% !important;
//  }
//}
//
//.sins-modal-plano-acao {
//  .ss-modal-content {
//    position: absolute !important;
//    top: 50% !important;
//    left: 50% !important;
//    transform: translate(-50%, -50%) !important;
//    width: 37% !important;
//  }
//}
//

/* .sins-modal-token {
    .ss-modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 33% !important;
    }
} */

//
//.sins-modal-novo-fluxograma {
//  .ss-modal-content {
//    position: absolute !important;
//    top: 50% !important;
//    left: 50% !important;
//    transform: translate(-50%, -50%) !important;
//    width: 31.5% !important;
//  }
//}

/*FIM dos Modals do SINS*/

.ss-modal-body {
    margin: 14px;
}

.ss-modal-footer-buttons {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    .ss-modal-footer-button {
        flex: 0 0 0;
    }
    .ss-modal-footer-button:nth-child(odd) {
        margin-right: 5px;
    }
    .ss-modal-footer-button:nth-child(even) {
        margin-left: 5px;
    }
}
