<ng-template #tpl>
  <div class="app-header-actions-container">
    <div class="app-header-actions-item">
      <button id="abrirFiltroActionBar" (click)="abrirFiltroActionBar()" class="ss-btn ss-btn-outline-primary">
        <i class="mdi mdi-filter-variant"></i> Filtrar Dados
      </button>
    </div>
    <ng-template [ngxPermissionsExcept]="['VOLUNTARIO']">
      <div class="app-header-actions-item">
        <button id="criarProjetoTop" style="width: 100%" (click)="abrirCriar()" class="ss-btn ss-btn-primary">
          <i class="mdi mdi-plus-circle-outline"></i> Projeto
        </button>
      </div>
    </ng-template>
  </div>
</ng-template>

<div class="ss-grid">
  <div class="col-6">
    <h5>Seus projetos</h5>
  </div>
</div>

<div style="display: flex; flex-direction: row; align-items: center;">
  <!-- Filtros -->
  <span *ngIf="filtro.numeroCooperativa || filtro.nome || filtro.programa || filtro.usuarioInstituto"
    style="margin-right: 2px;">Mostrando os resultados para os filtros:
  </span>
  <div *ngIf="filtro.numeroCooperativa">
    <sc-chip *ngFor="let n of filtro.numeroCooperativa" style="margin: 2px;" [text]="n" [color]="'success'"
      (click)="onClear(n)"></sc-chip>
  </div>
  <sc-chip *ngIf="filtro.nome" style="margin: 2px;" [text]="filtro.nome" [color]="'success'"
    (click)="onClearNomeFiltro()"></sc-chip>
  <sc-chip *ngIf="filtro.programa" style="margin: 2px;" [text]="filtro.programa.nome" [color]="'success'"
    (click)="onClearProgramaFiltro()"></sc-chip>
  <sc-chip *ngIf="filtro.usuarioInstituto" style="margin: 2px;" [text]="filtro.usuarioInstituto.nome"
    [color]="'success'" (click)="onClearResponsavel()"></sc-chip>

</div>

<div class="ss-grid" style="margin: 20px">
  <div class="col-12">
    <filtro-projetos #filtroProjetos (changeTab)="onChangeTab($event)" [counters$]="counters$"></filtro-projetos>
  </div>
</div>
<div infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="10" (scrolled)="onScroll()"
  [infiniteScrollContainer]="'.app-content'" [fromRoot]="true" style="display: flex;justify-content: center;">
  <div class="ss-grid" style="max-width: 1280px;">
    <div class="col-3 col-sm-12 col-md-4" *ngFor="let projeto of (projetos$ | async)">
      <sc-card-projeto (editar)="editarProjeto($event)" (navegar)="irParaSuasTarefas($event)" (excluir)="excluirProjeto($event)" [projeto]="projeto">
      </sc-card-projeto>
    </div>
  </div>
</div>
<div style="margin-top: 10px;display: flex;justify-content: center;">
  <button *ngIf="(projetos$ | async)?.length != filtro.paginacao.total" style="width: 200px;height: 50px;outline: none;" (click)="onScroll()"
    class="ss-btn ss-btn-outline-primary load-button" [ngClass]="{'loading-start': (isLoading$ | async)}">
    <span>Carregar mais projetos...</span>
    <i class="mdi mdi-36px mdi-spin mdi-loading"></i>
  </button>
</div>
