<div class="ss-card card-center">
    <div class="ss-card-header" style="border-bottom: solid 2px #f2f2f2;padding: 14px;">
        <h6>Escopo do projeto</h6>
    </div>
    <div class="ss-card-body" style="padding: 0;padding-left: 20px;padding-right: 20px;">
        <form [formGroup]="escopoForm" autocomplete="off">
            <div class="ss-grid">
                <div class="col-12">
                    <p style="margin-bottom: -1px;">Escopo do projeto</p>
                    <sc-form-field class="ss-form-group">
                        <textarea scInput style="height: auto;padding: 5px;" class="ss-form-control" formControlName="escopo" rows="4"></textarea>
                    </sc-form-field>
                </div>
                <div class="col-12">
                    <p style="margin-bottom: -1px;">Cadastro do não projeto</p>
                    <sc-form-field class="ss-form-group">
                        <textarea scInput style="height: auto;padding: 5px;" class="ss-form-control" formControlName="naoEscopo" rows="4"></textarea>
                    </sc-form-field>
                </div>
            </div>
        </form>
    </div>
    <div class="ss-card-footer">
        <div class="ss-group-inline">
            <button class="ss-btn ss-btn-outline-danger" cdkStepperPrevious id="voltar">Voltar</button>
            <button [disabled]="!escopoForm.valid" (click)="onConcluir()" class="ss-btn ss-btn-success" cdkStepperNext id="proximo">{{isLast ? 'Concluir' : 'Próximo'}}</button>
        </div>
    </div>
</div>
