<sc-actionbar id="manter-horas-actionbar" title="Horas do Voluntário" width="auto" (close)="closeActionbar()">
  <!-- Header -->
  <div class="flex-container-h" style="padding: 8px 0">
    <sc-avatar size="50" [scAvatar]="{name: voluntario.nome}" [displayType]="'circle'"></sc-avatar>
    <div style="padding-left: 14px;">
      <span style="font-size: 12pt; color: #356069;">{{voluntario.nome}} -
        {{voluntario.codigoVoluntario | codigoVoluntarioFormatter}}</span>
      <br> Horas voluntárias: {{totalHoras$ | async}}h
    </div>
  </div>

  <div *ngIf="acao === 'form'" class="form">
      <form-horas-voluntario
            [voluntario]="voluntario"
            [horasVoluntarioEditar]="horasVoluntarioEditar"
            (voltar)="closeActionbar()"
            (criar)="criar($event)"
            (editar)="editar($event)"
      ></form-horas-voluntario>
  </div>

  <div *ngIf="acao === 'listar' && horasVoluntario$ | async as horasVoluntario" class="lista">
    <div *ngIf="horasVoluntario.length > 0" style="min-height: 350px;">
      <div class="app-header-actions-container" style="margin-bottom: 10px;">
          <div class="app-header-actions-item">
            <button style="margin-top: 7px;" class="ss-btn ss-btn-success " id="adicionarHoras"
              (click)="habilitarForm()">
              <i class="mdi mdi-plus-circle-outline"></i> Adicionar Horas
            </button>
        </div>
      </div>
      <table id="datas">
        <tr>
          <th width="40%">PROGRAMA</th>
          <th width="20%">ANO</th>
          <th width="20%">HORAS</th>
          <th width="20%"></th>
        </tr>
        <tr *ngFor="let horas of horasVoluntario; let i = index;">
          <td>{{horas.programa ? horas.programa.nome : 'Outros'}}</td>
          <td>{{horas.programa ? horas.programa.vigencia : anoAtual}}</td>
          <td>{{horas.horas}}</td>
          <td>
            <div class="app-header-actions-container">
              <div class="app-header-actions-item" popover="Editar horas" placement="top" container="body"
                triggers="mouseenter:mouseleave">
                <i style="font-size: 22px;cursor: pointer" class="mdi mdi-pencil" (click)="habilitarFormEditar(horas)" ></i>
              </div>
              <div class="app-header-actions-item" popoverTitle="Excluir horas" placement="left" outsideClick="true" #pop="bs-popover" [popover]="popTemplate" container="body" >
                <i style="color: rgb(247, 107, 107);font-size: 25px;cursor: pointer"
                  class="mdi mdi-close" (click)="excluir(horas)"></i> <!--  -->
              </div>
              <ng-template #popTemplate>
                <div class="flex-container-h" style="justify-content: space-between;">
                    <button (click)="excluir()" class="ss-btn ss-btn-danger" style="width: 40px">Sim</button>
                    <button class="ss-btn ss-btn-default" style="width: 40px"  (click)="pop.hide()" >Não</button>
                </div>
              </ng-template>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div *ngIf="horasVoluntario.length === 0 && !(isLoading$ | async)"  class="empty_state">
        <i class="mdi mdi-emoticon-sad-outline"></i>
        <h5 class="">Voluntário sem horas</h5>
        <p>Este voluntário ainda não possue horas cadastradas</p>
        <button (click)="habilitarForm()" class="ss-btn ss-btn-success">Adicionar horas</button>
    </div>
    <div *ngIf="horasVoluntario.length === 0 && (isLoading$ | async)"  class="empty_state">
        <i style="font-size: 80px" class="mdi mdi-loading mdi-spin"></i>
    </div>
    <div class="ss-pagination" *ngIf="paginacaoAtual.totalPages >= 1">
      <div class="ss-pagination-btn" *ngIf="paginacaoAtual.pageNumber > 0" (click)="anterior()">Anterior</div>
      <div class="ss-pagination-item" *ngFor="let page of paginas"
        [ngClass]="{'active': (page-1) === paginacaoAtual.pageNumber}" (click)="irPara($event)">{{page}}</div>
      <div class="ss-pagination-btn" *ngIf="paginacaoAtual.pageNumber < paginacaoAtual.totalPages" (click)="proximo()">
        Próximo</div>
    </div>
  </div>




</sc-actionbar>
