#datas {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#datas td,
#datas th {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px;
}

#datas th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f1f1f1;
  color: black;
}
.mdi-plus-circle-outline::before {
  font-size: 17px;
  margin-right: 6px;
}


.ss-pagination {
  cursor: pointer;
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &.focus {
    background: red;
  }
  .ss-pagination-item,
  .ss-pagination-btn {
      color: #656565;
      margin: 4px 2px;
      border-radius: 36px;
      background-color: #E0E0E0;
      text-decoration: none;
      transition: .3s;
      min-width: 24px;
      text-align: center;
      padding: 4px 11px;
      line-height: 18px;
      &.active {
          background-color: #00AE9D;
          color: #FFFFFF;
      }
      &:hover:not(.active) {
          background-color: #C4C4C4;
          color: #656565;
      }
  }
  .ss-pagination-btn {
      background-color: transparent;
  }
}



.empty_state{
  position: relative;
  top: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  i{
    margin: auto;
    margin-bottom: 20px;
    font-size: 90px;
    color: #ccc;
  } h5{
    margin: 8px 0px;
    text-align: center;
    font-weight: normal;
  }
  p{
    font-size: 14px;
    margin: 5px;
    color: #999;
    text-align: center;
  }
}


app-actionbar-manter-horas{
  ng-dropdown-panel{
    left: 917.328px;
  }
}
