<div class="ss-card card-center">
    <div class="ss-card-header" style="border-bottom: solid 2px #f2f2f2;padding: 14px;">
        <h6>Vinculação de cronogramas</h6>
    </div>
    <div class="ss-card-body">
        <form [formGroup]="cronogramaForm" autocomplete="off">
            <div class="ss-grid">
                <div class="col-6">
                    <p style="font-weight: bold;">Vincular cronograma físico</p>
                </div>
                <!-- <div class="col-6">
                    <p style="font-weight: bold;">Vincular cronograma financeiro</p>
                </div> -->
                <div class="col-6" *ngIf="!(cronogramaFisico$ | async)">
                    <div style="cursor: pointer;width: 60%;" class="flex-container" (click)="addCronogramaFisico()">
                        <i style="font-size: 35px;color: #4be1c6;" class="mdi mdi-plus-box"></i>
                        <p style="margin: 2px 0 0 10px;color: #a0a0a0;">Cadastrar cronograma</p>
                    </div>
                </div>
                <div class="col-6" *ngIf="(cronogramaFisico$ | async)">
                    <div style="cursor: pointer;width: 60%;" class="flex-container">
                        <i style="font-size: 35px;color: #4be1c6;" class="mdi mdi-check-circle-outline"></i>
                        <p style="margin: -6px 0 0 10px;color: #a0a0a0;">Cronograma Físico Vinculado</p>
                        <a style="margin: -14px 0 0 45px;" (click)="addCronogramaFisico()">Alterar</a>
                    </div>
                </div>
                <!--  <div class="col-6" *ngIf="!(cronogramaFinanceiro$ | async)">
                    <div style="cursor: pointer;width: 60%;" class="flex-container" (click)="addCronogramaFinanceiro()">
                        <i style="font-size: 35px;color: #4be1c6;" class="mdi mdi-plus-box"></i>
                        <p style="margin: 2px 0 0 10px;color: #a0a0a0;">Cadastrar cronograma</p>
                    </div>
                </div>
                <div class="col-6" *ngIf="(cronogramaFinanceiro$ | async)">
                    <div style="cursor: pointer;width: 60%;" class="flex-container" (click)="addCronogramaFinanceiro()">
                        <i style="font-size: 35px;color: #4be1c6;" class="mdi mdi-check-circle-outline"></i>
                        <p style="margin: -6px 0 0 10px;color: #a0a0a0;">Cronograma Financeiro Vinculado</p>
                        <a style="margin: -14px 0 0 45px;" (click)="addCronogramaFinanceiro()">Alterar</a>
                    </div>
                </div> -->
            </div>
        </form>
    </div>
</div>