<div
  [id]="scId"
  class="ss-tab-links"
  [ngClass]="{'active': scSelected}"
  (click)="onTabSelected()">
  <div class="ss-badge-container">
    <p>{{scLabel}} <span scBadge [color]="scCountColor">{{scCount}}</span></p>
  </div>
</div>
