<sc-actionbar id="detalhe-actionbar" title="Dados do voluntário" width="auto" (close)="closeActionbar()">
    <!-- Header -->
    <div class="flex-container-h" style="padding: 8px 0">
        <sc-avatar size="50" [scAvatar]="{name: voluntario.nome}" [displayType]="'circle'"></sc-avatar>
        <div style="padding-left: 14px;">
            <span style="font-size: 12pt; color: #356069;">{{voluntario.nome}} - {{voluntario.codigoVoluntario | codigoVoluntarioFormatter}}</span>
            <br> Horas voluntárias: {{voluntario.horas}}h
        </div>
    </div>

    <!-- Tabs -->
    <sc-tab-panel>
        <sc-tab title="Dados" id="dados" [selected]="true">
            <div>
                <div>
                    <p class="pline"><b>Nome:</b> {{voluntario.nome}}</p>
                </div>
                <div class="line-top ">
                    <p class="pline" style="text-transform: capitalize"><b>Gênero:</b> {{ voluntario.genero }}</p>
                </div>
                <div class="line-top ">
                    <p class="pline"><b>Cooperativa:</b> {{voluntario.numeroCooperativa}}</p>
                </div>
                <div class="line-top">
                    <p class="pline"><b>RG:</b> {{voluntario.rg}}</p>
                </div>
                <div class="line-top">
                    <p class="pline"><b>CPF: </b>{{voluntario.cpf | cpf}}</p>
                </div>
                <div class="line-top">
                    <p class="pline"><b>Data de nascimento:</b> {{voluntario.dataNascimento | date: 'dd/MM/yyyy'}}</p>
                </div>
                <div class="line-top">
                    <p class="pline"><b>Nacionalidade:</b> {{voluntario.nacionalidade}}</p>
                </div>
                <div class="line-top">
                    <p class="pline"><b>Naturalidade:</b> {{voluntario.naturalidade}}</p>
                </div>
                <div class="line-top">
                    <p class="pline"><b>Profissão:</b> {{voluntario.profissao}}</p>
                </div>
                <div class="line-top">
                    <p class="pline"><b>Telefone:</b> {{voluntario.telefone | telefone }}</p>
                </div>
                <div class="line-top line-bottom">
                    <p class="pline"><b>Email:</b> {{voluntario.email}}</p>
                </div>

                <div>
                    <p style="font-weight: bold;font-size: larger;">Endereço</p>
                </div>
                <div class="line-top">
                    <p class="pline"><b>CEP:</b>{{voluntario.endCep | cep}}</p>
                </div>
                <div class="line-top">
                    <p class="pline"><b>Logadouro:</b> {{voluntario.endLogradouro}}</p>
                </div>
                <div class="line-top">
                    <p class="pline"><b>Número:</b> {{voluntario.endNumero}}</p>
                </div>
                <div class="line-top">
                    <p class="pline"><b>Bairro:</b> {{voluntario.endBairro}}</p>
                </div>
                <div class="line-top">
                    <p class="pline"><b>Cidade:</b> {{voluntario.endCidade}}</p>
                </div>
                <div class="line-top">
                    <p class="pline"><b>UF:</b> {{voluntario.endUf}}</p>
                </div>

            </div>
            <ng-template [ngIf]="voluntario.ativo && !solicitacaoInativacao">
                <div class="flex-container-h filter-actions">
                    <div class="ss-btn ss-btn-danger" id="solicitarDesativacao" (click)="handleSolicitarDesativacao(true)">
                        Desativar voluntário
                    </div>
                    <div class="ss-btn ss-btn-outline-danger" id="closeActionbar" (click)="closeActionbar()">
                        Cancelar
                    </div>
                </div>
            </ng-template>
            <ng-template [ngIf]="!voluntario.ativo && !solicitacaoInativacao">
              <div class="flex-container-h filter-actions">
                  <div class="ss-btn ss-btn-success" id="solicitarAtivacao" (click)="ativarVoluntario()">
                      Ativar voluntário
                  </div>
                  <div class="ss-btn ss-btn-outline-danger" id="closeActionbar" (click)="closeActionbar()">
                      Cancelar
                  </div>
              </div>
          </ng-template>
            <ng-template [ngIf]="solicitacaoInativacao">
                <p style="font-size: 12pt;">Tem certeza que deseja desativar este voluntário?</p>
                <div class="flex-container-h filter-actions">
                    <div class="ss-btn ss-btn-outline-success" id="desativarVoluntario" (click)="desativarVoluntario()">
                        Desativar
                    </div>
                    <div class="ss-btn ss-btn-danger" id="cancelar" (click)="handleSolicitarDesativacao(false)">
                        Cancelar
                    </div>
                </div>
            </ng-template>
        </sc-tab>

        <sc-tab title="Capacitações" id="capacitacoes">
            <div class="flex-container-v">
                <div class="item-capacitacao" *ngFor="let c of capacitacoes; let i=index">
                    <div class="item-capacitacao-leading">
                        <btn-circle icone="mdi-file-document" title="Arquivo" color="#FFF"></btn-circle>
                    </div>
                    <div class="item-capacitacao-content">
                        <span>{{c.nome}}</span><br>
                        <small>{{c.dataCriacao | date:'dd/MM/yyyy'}}</small>
                    </div>
                    <div class="item-capacitacao-trailing">
                        <a (click)="baixarCertificado(c)">
                            <i class="mdi mdi-download" id="downloadCertificado-{{i}}" style="font-size: 18pt; color: #0000FF; cursor: pointer;"></i>
                        </a>
                    </div>
                </div>
                <div style="padding-top: 20px;" *ngIf="false">
                    <button class="ss-btn ss-btn-outline-success">
            Ver todas as capacitações
          </button>
                </div>
            </div>
        </sc-tab>
    </sc-tab-panel>
</sc-actionbar>
