::ng-deep {
    #dados>.ss-tab-content {
        padding: 0px !important;
    }
    /* sc-tab-panel>sc-tab:nth-child(2)>div {
        display: none;
    } */
}

.pline {
    margin-bottom: 5px;
    margin-top: 5px;
}

.line-top {
    border-top: solid 1px #dde1e375
}

.line-bottom {
    border-bottom: solid 1px #cfedff;
}

.user-data {
    padding-bottom: 8px;
    span {
        font-size: 12pt;
    }
    small {
        font-size: 10pt;
        padding-left: 4px;
        color: rgba(0, 0, 0, .5);
    }
}



.item-capacitacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px #f2f2f2 solid;
    .item-capacitacao-leading {
        flex: 1;
        text-align: center;
    }
    .item-capacitacao-content {
        flex: 10;
        span {
            font-size: 12pt;
        }
    }
    .item-capacitacao-trailing {
        flex: 1;
        text-align: center;
        opacity: 0;
        i {
            font-size: 18pt;
            color: #0000FF;
            cursor: pointer;
        }
    }
    &:hover {
        background-color: #f2f2f2;
    }
    &:hover .item-capacitacao-trailing {
        opacity: 1;
    }
}

.flex-container-v {
    display: flex;
    flex-direction: column;
}

.flex-container-h {
    display: flex;
    flex-direction: row;
}

.filter-actions {
    padding: 8px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .ss-btn:nth-child(odd) {
        margin-right: 8px;
    }
    .ss-btn:nth-child(even) {
        margin-left: 8px;
    }
}
