<ng-template #tpl>
  <ng-template [ngxPermissionsOnly]="['PPE']">
    <div class="app-header-actions-container">
      <div class="app-header-actions-item">
        <button *ngIf="!assinatura" id="aprovar" class="ss-btn ss-btn-primary" (click)="aprovarCadastro()">Aprovar
        </button>
      </div>
      <div class="app-header-actions-item">
        <button *ngIf="!assinatura" id="solicitarAjuste" style="float: right!important;margin-right: 10px;"
          class="ss-btn ss-btn-danger" (click)="solicitarAjustes()">Solicitar ajustes</button>
      </div>
    </div>
  </ng-template>

</ng-template>

<app-analise-cadastro [voluntario]=voluntario [pdfSrc]=pdfSrc [justificativasAjustes]=justificativasAjustes>
</app-analise-cadastro>
