<div class="ss-grid" style="margin: 0 48px 0 48px">
  <div class="col-12">
    <h5>Selecione o que se aplica ao relatório que deseja gerar.</h5>
  </div>
  <div class="col-2">
    <app-relatorio-card
      [icone]="'mdi-clipboard-account'"
      [texto]="'Banco de voluntários'"
      [rota]="'/relatorios/banco-voluntarios'"
      [id]="'banco-voluntarios'"></app-relatorio-card>
  </div>
</div>
