<div formGroupName="infosGeraisForm" style="padding-top: 10px;">
    <sc-form-field scLabel="Descrição">
        <textarea scInput formControlName="descricao" rows="4" [disableControl]="!scEditavel"></textarea>
    </sc-form-field>
    <sc-form-field scLabel="Justificativa">
        <textarea scInput formControlName="justificativa" rows="4" [disableControl]="!scEditavel"></textarea>
    </sc-form-field>
    <sc-form-field scLabel="Partes Interessadas">
        <textarea scInput formControlName="partesInteressadas" rows="4" [disableControl]="!scEditavel"></textarea>
    </sc-form-field>
</div>
