<ng-template #tpl>
    <div class="ss-grid" *ngIf="(planoAcao | async) as planoAcao">
        <div *ngIf="planoAcao?.situacao == 'planejando'" style="grid-column-start: 9;">
            <button id="finalizarPlanejamento" (click)="iniciarPlanoAcao()" style="border-color: #00d55c;background-color: #00d55c;" class="ss-btn ss-btn-primary">
        Finalizar Planejamento</button>
        </div>
        <div *ngIf="planoAcao?.situacao == 'planejando'" style="margin-right: 6px;grid-column-start: 10;">
            <sc-dropdown-menu id="acoes-plano" scPlaceholder="Opções&hellip;" [scItens]="acoesPlano" (scItemClicked)="acoesPlanoAcao($event, planoAcao)"></sc-dropdown-menu>
        </div>
        <div *ngIf="planoAcao?.situacao != 'planejando' && acoesExecutar.total == 0" class="mensagemAcompanhar">
            <p style="color: #39918f">Você não possui tarefas para executar neste plano de ação</p>
        </div>
        <div *ngIf="planoAcao?.situacao != 'concluida' && planoAcao?.situacao != 'planejando' && router.url.includes('planejar')" style="grid-column-start: 10;">
            <button id="editarPlanoAção" (click)="onEditarPlano(planoAcao)" class="ss-btn ss-btn-outline-success">
        Editar Plano de Ação</button>
        </div>
    </div>
</ng-template>
<div>
    <sc-tool-bar-plano-acao [planoAcao]="planoAcao" [isScroll]="isScroll$ | async"></sc-tool-bar-plano-acao>
    <router-outlet></router-outlet>
</div>
