.background-color-success {
    background: #ECFDFD;
}

 #inner {
   height: inherit;
   background-color: #ECFDFD;
 }

 .ss-card-padding-zero{
   padding-left: 40px !important;
   padding-right: 40px !important;
   padding-top: 0px !important;
   padding-bottom: 0px !important;
 }

 .button-1-normal {
  width: 40%;
  float: left;
  margin-right: 10px;
  background-color: #7DB61C;
  border-color: #7DB61C;
 }

 .button-2-normal {
  width: 40%;
  float: left;
  margin-left: 10px;
  border-color: #7DB61C;
  color: #7DB61C;
  background-color: white;
}

 .button-focus:focus {
   outline: none;

}

.button-active:active {

  border-color: #7DB61C !important;
}

.button-hover:hover {
  background-color: #7DB61C;
  color: white !important;
}

.div-timeline {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.div-step-body{
  text-align: center;
  margin-left: 70px;
  margin-right: 70px
}

.div-step-left-body{
  width: 45%;
  float: left;
  margin-top: 25px;
}

.div-step-right-body{
  width: 45%;
  float: right;
}

.label-info-dados{
  font-size: small;
  color: #003641;
  font-weight: 400;
  margin-left: 5px;
}
