<div id="outer">
    <div id="inner"  class="ss-card ss-card-padding-zero" [ngStyle]="{'background-color': '#' + screenObjectsInfo.backgroundColor}">
        <div class="ss-card-body">
            <div class="div-timeline">
                <sc-timeline-voluntario [listaSituacao]="listaSituacao"></sc-timeline-voluntario>
                <!-- <img [src]="screenObjectsInfo.imagePathTimeline" style="width: 50%;" /> -->
            </div>
            <div class="div-step-body">
                <div class="div-step-left-body">
                    <div style="text-align: left">
                        <div class="ss-grid">
                            <div class="col-7">
                                <img [src]="screenObjectsInfo.imagePathInfoDados" [hidden]="!screenObjectsInfo.isImagePathInfoDadosVisible" />
                                <label class="label-info-dados" [hidden]="!screenObjectsInfo.isTextoInfoDadosVisible">{{screenObjectsInfo.textoInfoDados}}</label>
                            </div>
                        </div>
                        <div>
                            <h6 style="color: gray; font-weight: 400" [hidden]="!screenObjectsInfo.isTextoPassoVisible">{{screenObjectsInfo.textoPasso}}</h6>
                            <h6 style="font-weight: 600" [hidden]="!screenObjectsInfo.isTextoTituloPassoVisible">{{screenObjectsInfo.textoTituloPasso}}</h6>
                            <p style="font-size: small" [hidden]="!screenObjectsInfo.isTextoDetalhesPassoVisible">{{screenObjectsInfo.textoDetalhesPasso}}</p>
                            <p style="font-size: smaller" [hidden]="!screenObjectsInfo.isTextoDetalhes2PassoVisible">{{screenObjectsInfo.textoDetalhes2Passo}}</p>
                        </div>
                    </div>
                    <div style="text-align: center">
                        <button class="ss-btn ss-btn-primary button-1-normal button-focus" [hidden]="!screenObjectsInfo.isButtonLeftVisible" (click)="clickButtonLeft()">{{screenObjectsInfo.textoButtonLeft}}</button>
                        <button class="ss-btn ss-btn-outline-primary button-2-normal button-hover button-focus" *ngIf="screenObjectsInfo.isButtonRightVisible" (click)="clickButtonRight()">{{screenObjectsInfo.textoButtonRight}}</button>
                    </div>
                </div>
                <div class="div-step-right-body">
                    <img [src]="screenObjectsInfo.mainImagePath" style="width: 87%" />
                </div>
            </div>
        </div>
        </div>
        </div>