<div class="ss-card card-center">
    <div class="ss-card-header" style="border-bottom: solid 2px #f2f2f2;padding: 14px;">
        <h6>Investimento</h6>
    </div>
    <div class="ss-card-body">
        <form [formGroup]="financeiroForm" autocomplete="off">
            <div class="ss-grid">
              <div class="col-12" style="margin-top: -17px;">
                  <p style="margin-top: 17px;margin-bottom: -1px;">Qual será o orçamento destinado ao projeto? </p>
                  <sc-form-field class="ss-form-group">
                      <input currencyMask  [disableControl]="informarDepois" type="text" scInput style="height: auto;padding: 9px;" class="alinhar-esquerda ss-form-control" formControlName="orcamento" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                  </sc-form-field>
              </div>
              <div *ngIf="!editarCondition" class="col-12" style="margin-top: -25px;margin-left: 3px;">
                  <label class="ss-checkbox">Prefiro informar durante a execução das atividades
                    <input type="checkbox" (change)="changeInformarDepois()">
                    <span style="margin-top: 5px;" class="ss-checkmark"></span>
                  </label>
              </div>
            </div>
        </form>
    </div>
    <div class="ss-card-footer" style="margin-top: 20px;">
      <div class="ss-group-inline">
          <button class="ss-btn ss-btn-outline-danger" cdkStepperPrevious id="voltar">Voltar</button>
          <button [disabled]="!financeiroForm.valid && financeiroForm.status === 'INVALID'" class="ss-btn ss-btn-success" (click)="onConcluir()" id="concluir">Concluir</button>
      </div>
  </div>
</div>
