<sc-modal id="dialogoNovoProjeto" headerTitle="Convocação de voluntários" [showClose]="true" width="small" (close)="closeModal()">
    <div class="ss-modal-body">
      <div class="flex-container-v">
        <form [formGroup]="conviteForm" autocomplete="off" >
          <p style="margin-bottom: -1px;">Insira abaixo o texto a ser demonstrado no convite</p>
          <sc-form-field class="ss-form-group">
              <textarea scInput style="height: auto;padding: 5px;" class="ss-form-control" formControlName="convite" rows="10"></textarea>
          </sc-form-field>
        </form>
      </div>
    </div>
    <div class="ss-modal-footer">
        <div class="ss-modal-footer-buttons">
            <button class="ss-btn ss-btn-outline-danger ss-modal-footer-button" (click)="closeModal()" id="voltar">
              CANCELAR
            </button>
            <button id="concluir" [disabled]="!conviteForm.valid" class="ss-btn ss-btn-success ss-modal-footer-button"  (click)="onSubmit()">
              ENVIAR
            </button>
        </div>
    </div>
  </sc-modal>
