<div class="container" *ngIf="marcos$ | async as marcos">
  <div class="ss-grid" style="margin: 20px" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="10"
    (scrolled)="onScroll()" [infiniteScrollContainer]="'.app-content'" [fromRoot]="true">
    <div class="col-4 col-sm-12 col-md-4" *ngFor="let marco of marcos; let i = index">
      <div class="ss-card" style="overflow: inherit;">
        <div *ngIf="{progressBar: getPercentualTarefasMarco(marco)} as vars" class="ss-card-body"
          style="cursor: pointer;" (click)="detalharMarco(marco)">
          <span id="situacaoMarco"
            class="ss-label ss-label-outline {{getSituacaoClass(marco.execucao?.situacao)}}">{{getSituacaoLabel(marco.execucao?.situacao)}}</span>
          <h5 style="font-size: 20px;width: 300px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{marco.nome}}</h5>
          <div class="flex-container-h">
            <i popover="Data de entrega" triggers="mouseenter:mouseleave" class="mdi mdi-calendar-blank"
              style="font-size: 20px;padding-right: 4px;"></i>
            <p style="margin: 3px 0 0 0;color: #9a9898">
              {{ marco.dataEntrega ? (marco.dataEntrega | date:'dd/MM/yyyy') : 'Não foi planejada data de entrega'}}
            </p>
          </div>
          <p style="font-weight: bold">{{vars.progressBar.concluidas}} de {{vars.progressBar.total}} Tarefas</p>
          <sc-progress-bar [progress]="vars.progressBar.percentual" color="#00CC66">
          </sc-progress-bar>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="(marcos$ | async)?.length != paginacao.total" (click)="onScroll()" class="mostrar-mais">Carregar mais
    marcos...</div>
</div>
