<div class="flex-container-h">
    <div class="container-group-avatar">
        <div [title]="avatar.name" (click)="selected(avatar)" [ngStyle]="{height: size, width: size}" class="group" *ngFor="let avatar of avatars" >
          <sc-avatar  [size]="size" [scAvatar]="avatar" [displayType]="'circle'"></sc-avatar>
        </div>
    </div>
    <div class="container-more" (click)="invited()">
        <span class="more-title">{{moreTitle}}</span>
        <span class="more-action">{{moreActionTitle}}</span>
    </div>
</div>


