.container-group-avatar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

.group {
  border-radius: 9999px;
  border: solid 1px;
  border-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
  margin: 0 -10px;
  overflow: hidden;
  cursor: pointer;
}

.group > div {
  background-color: #333;
  background-position: 50% 50%;
  background-size: cover;
  float: left;
  height: 100%;
  width: 100%;
}

.container-more {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  cursor: pointer;
}

.more-title {
  font-size: 16px;
}

.more-action {
  font-weight: bold;
}
