.empty {
  border-radius: .1rem;
  color: #66758c;
  padding: 3.2rem 1.6rem;
  text-align: center;
  text-align: -webkit-center !important;
}

.empty .empty-subtitle,
.empty .empty-title {
  margin: .4rem auto;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #027f84;
}

.empty .empty-action {
  margin-top: 1rem;
}

.programa-img {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  box-shadow: 1px 0 5px #888;
}


@media screen and (min-width: 992px) and (max-width: 1500px){
  .col-2 {
    grid-column: span 3 !important;
  }
  .col-10 {
    grid-column: span 9 !important;
  }
}

