<div class="ss-grid" *ngIf="usuarioInstituto">
  <div class="col-2">
    <sc-perfil-usuario [photo]="photo" [totalHoras]="totalHoras$" [perfil]="perfil" [usuarioInstituto]="usuarioInstituto"
      (onDownload)="baixarTermo()">
    </sc-perfil-usuario>
  </div>
    <div class="col-10">
      <sc-tab-informacoes-usuario [mostrarProjetos]="mostrarProjetos" [totalProjetos]="totalProjetos$" [totalConvites]="totalConvites$" #tabsInfo (changeTab)="onChangeTab($event)"></sc-tab-informacoes-usuario>
      <router-outlet></router-outlet>
    </div>
</div>
