@import '../suas-tarefas/passos-projeto/passo-projeto.component.scss';

#passos-container {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

#passos-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#passos-body {
  display: flex;
  flex-direction: column;
}



::ng-deep {
 #passos-header > #tab-panel {
    width: 2000px;
  }
  #passos-header>#tab-panel>.ss-tab {
    border-bottom: none !important;
    margin-left: 20px !important;
  }
  #passos-header>#tab-panel>sc-tab>.ss-tab-content {
    padding: 0 !important;
  }
}
