<div *ngIf="{passos: passos$ | async, passosAguardando: passosAguardando$ | async} as infos">

  <div class="ss-grid" style="padding-top: 30px;">
    <div class="col-offset-start-2 col-offset-end-8">
      <div id="passos-container">
        <div id="passos-header">
          <sc-tab-panel id="tab-panel" class="outside">
            <sc-tab [title]="'Concluídas'">
              <div *ngIf="!infos.passos || infos.passos.length === 0" class="empty">
                <img id="imagemEmptyCurso" src="assets/images/empty_state.png">
                <p class="empty-title" id="mensagemEmptyTarefas">Este projeto ainda não tem passos concluídos</p>
              </div>
              <div *ngIf="infos.passos">
                <div class="container-passos-body" *ngFor="let passo of infos.passos;">
                  <div (click)="openPassoActionBar(passo, false)" class="passos-item ripple">
                    <div class="passos-item-left">
                      <div class="passos-item-left-column-first">
                        <p class="passo-titulo">{{passo.titulo}}<span>{{' - '+ passo.marco.nome}}</span>
                        </p>
                      </div>
                    </div>
                    <div class="passos-item-right">
                      <span>Concluída em {{passo.execucao.dataFimExec | date:'dd MMM'}} por </span>
                      <sc-avatar *ngIf="getNomeExecutor(passo)" class="passos-item-right-item" style="margin-top: -2px;" size="30"
                        [scAvatar]="{name: getNomeExecutor(passo)}" [displayType]="'circle'"
                        [popover]="getNomeExecutor(passo)" triggers="mouseenter:mouseleave" container="body">
                      </sc-avatar>
                    </div>
                  </div>
                </div>
              </div>
            </sc-tab>
            <sc-tab [title]="'Aguardando Aprovação'">
              <div *ngIf="!infos.passosAguardando || infos.passosAguardando.length === 0" class="empty">
                <img id="imagemEmptyCurso" src="assets/images/empty_state.png">
                <p class="empty-title" id="mensagemEmptyTarefas">Não há tarefas aguardando aprovação</p>
              </div>
              <div *ngIf="infos.passosAguardando">
                <div class="container-passos-body" *ngFor="let passo of infos.passosAguardando;">
                  <div (click)="openPassoActionBar(passo, true)" class="passos-item ripple">
                    <div class="passos-item-left">
                      <div class="passos-item-left-column-first">
                        <p class="passo-titulo">{{passo.titulo}}<span>{{' - '+ passo.marco.nome}}</span>
                        </p>
                      </div>
                    </div>
                    <div class="passos-item-right">
                        <span>Executada em {{passo.execucao.dataFimExec | date:'dd MMM'}} por </span>
                        <sc-avatar *ngIf="getNomeExecutor(passo)" class="passos-item-right-item" style="margin-top: -2px;" size="30"
                          [scAvatar]="{name: getNomeExecutor(passo)}" [displayType]="'circle'"
                          [popover]="getNomeExecutor(passo)" triggers="mouseenter:mouseleave" container="body">
                        </sc-avatar>
                      </div>
                  </div>
                </div>
              </div>
            </sc-tab>
          </sc-tab-panel>
        </div>
      </div>
    </div>
  </div>
</div>
