#investimentos {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#investimentos td,
#investimentos th {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

#investimentos th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f1f1f1;
    color: black;
}

.flex-container-v {
    display: flex;
    flex-direction: column;
}

.flex-container-h {
    display: flex;
    flex-direction: row;
}

.filter-actions {
    padding: 8px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .ss-btn:nth-child(odd) {
        margin-right: 8px;
    }
    .ss-btn:nth-child(even) {
        margin-left: 8px;
    }
}

.input-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}


