<sc-actionbar id="filtro-actionbar" title="Vinculação do cronograma financeiro" width="auto">
    <small>Insira abaixo nos passos que necessitam de investimento o investimento previsto</small>
    <form [formGroup]="investimentoForm" autocomplete="off">
        <!--         {{tarefas | log}} {{tarefas.controls[0] | log}} {{tarefas.controls[0].controls.tarefa | log}} {{tarefas.controls[0].controls.tarefa.controls.rubrica | log}} -->
        <table id="investimentos">
            <tr>
                <th width="30%">INVESTIMENTOS</th>
                <th width="40%">RÚBRICA</th>
                <th>INVESTIMENTO PREVISTO</th>
            </tr>
            <tr formArrayName="tarefas" *ngFor="let tarefaX of tarefas$; let i = index;">
                <td>{{tarefaX.nome}}</td>
                <td>
                    <sc-lista-rubricas [formControl]="tarefas.controls[i].controls.rubrica"></sc-lista-rubricas>
                </td>
                <td>
                    <div class="input-container">
                        <input currencyMask type="text" scInput style="height: auto;padding: 9px;" class="alinhar-esquerda ss-form-control input-field" [formControl]="tarefas.controls[i].controls.valor" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                        />
                    </div>
                </td>
            </tr>
        </table>

    </form>
    <!-- Actions -->
    <div class="filter-actions">
        <button class="ss-btn ss-btn-outline-danger" id="cancelarActionFiltros" (click)="closeActionBar()">Cancelar</button>
        <button class="ss-btn ss-btn-primary" id="aplicarFiltros" [disabled]="!investimentoForm.valid" (click)="salvar()">Salvar Informações</button>
    </div>
</sc-actionbar>
