<ng-template #popTemplate>
  <textarea style="height: auto;padding: 9px;" placeholder="Descreva o motivo da rejeição" class="ss-form-control"
    [(ngModel)]="motivoRejeicao" rows="10" cols="100"></textarea>
  <button class="ss-btn ss-btn-default" style="width: 80px" (click)="aprovarTarefa(false);pop.hide()">Enviar</button>
</ng-template>

<sc-actionbar id="executar-passo" *ngIf="passoFluxo" [title]="'Executando passo'" width="auto"
  (close)="actionBarRef.close()">
  <div *ngIf="{concluida: passoFluxo.execucao.situacao === 'concluida'} as situacao"
    style="display: flex;margin-bottom: 20px;flex-wrap: wrap;">
    <label class="ss-checkbox" style="cursor: default;">
      <input type="checkbox" disabled [checked]="situacao.concluida">
      <span style="margin-top: 2px;" [ngStyle]="{'background-color': situacao.concluida ? '' : '#f5f7f8' }"
        class="ss-checkmark"></span>
    </label>
    <span style="font-weight: bold;font-size: 20px;margin-top: -4px;max-width: 400px;">{{passoFluxo.titulo}}
    </span>
    <i class="mdi mdi-information-outline" style="color: #eb5757;font-size: 22px;cursor: pointer;margin-left: 10px;"
      *ngIf="passoFluxo.execucao.situacao === 'ajusteSolicitado' && passoFluxo.execucao.motivoRejeicao"
      popoverTitle="Motivo" [popover]="passoFluxo.execucao.motivoRejeicao" triggers="mouseenter:mouseleave"></i>

    <span id="situacaoPasso" style="margin-left: 10px;"
      class="passos-item-right-item ss-label ss-label-outline {{getSituacaoClass(passoFluxo.execucao.situacao)}}">{{getSituacaoLabel(passoFluxo.execucao.situacao)}}</span>
  </div>
  <p style="font-weight: bold;" *ngIf="passoFluxo.pontuacao">Executando este passo você ganha {{passoFluxo.pontuacao}}
    pontos</p>
  <div style="display: flex">
    <span *ngIf="passoFluxo.execucao.dataFimPlanejada">Entrega prevista para</span>
    <span *ngIf="isResponsavel && !passoFluxo.execucao.dataFimPlanejada">Definir data de entrega</span>
    <span *ngIf="!isResponsavel && !passoFluxo.execucao.dataFimPlanejada">Sem data de entrega</span>
    <data-planejamento style="margin-left: 5px;" class="passos-item-right-item" [isResponsavel]="isResponsavel"
      [passo]="passoFluxo" [minDate]="minDate" [maxDate]="maxDate" (addDate)="setDataFimPlanejada($event)">
    </data-planejamento>
  </div>
  <div style="display: flex;justify-content: space-between;padding: 25px 0;">
    <div style="display: flex;">
      <avatar-perfil-projeto class="passos-item-right-item" (addResponsavel)="setResponsavel($event)"
        [isResponsavel]="isResponsavel" tipo="responsavel" [passo]="passoFluxo">
      </avatar-perfil-projeto>
      <span style="margin-left: 10px;" *ngIf="passoFluxo.execucao.responsavel">Responsável</span>
      <span style="margin-left: 10px;" *ngIf="isResponsavel && !passoFluxo.execucao.responsavel">Definir
        responsável</span>
      <span style="margin-left: 10px;" *ngIf="!isResponsavel && !passoFluxo.execucao.responsavel">Sem responsável</span>
    </div>
    <div style="display: flex;" *ngIf="passoFluxo.perfilAprovador">
      <avatar-perfil-projeto class="passos-item-right-item" (addResponsavel)="setAprovador($event)"
        [isResponsavel]="isResponsavel" [passo]="passoFluxo" tipo="aprovador">
      </avatar-perfil-projeto>
      <span style="margin-left: 10px;" *ngIf="passoFluxo.execucao.aprovador">Aprovador</span>
      <span style="margin-left: 10px;" *ngIf="isResponsavel && !passoFluxo.execucao.aprovador">Definir aprovador</span>
      <span style="margin-left: 10px;" *ngIf="!isResponsavel && !passoFluxo.execucao.aprovador">Sem aprovador</span>
    </div>
  </div>


  <form [formGroup]="passoForm" autocomplete="off" style="padding-top: 10px">
    <div class="ss-grid" *ngIf="{multiUploadFileProgress: (multiUploadFileProgress$ | async)} as vars">
      <div class="col-6">
        <p style="margin: 0;margin-bottom: .5rem;">Início da Execução</p>
        <div class="input-wrapper">
          <input readonly type="text" style="height: auto;padding: 9px;" class="ss-form-control" #dpMDY="bsDatepicker"
            [disableControl]="visualizar" bsDatepicker [minDate]="minDate"
            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }" placeholder="00/00/0000" [maxDate]="maxDate"
            formControlName="dataInicioExec">
        </div>
      </div>
      <div class="col-6">
        <p style="margin: 0;margin-bottom: .5rem;">Fim da Execução</p>
        <div class="input-wrapper">
          <input readonly type="text" [disableControl]="!dataInicio.value || visualizar" style="height: auto;padding: 9px;"
            class="ss-form-control" #dpMDY="bsDatepicker" bsDatepicker
            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }" placeholder="00/00/0000"
            [minDate]="dataInicio.value" [maxDate]="maxDate" formControlName="dataFimExec">
        </div>
        <small id="erroData" *ngIf="dataFim.errors?.dataFimMenorControl" style="color: #fd7474;margin-bottom: 0px;">Data
          fim não pode ser anterior à data de início
          ({{passoForm.value.dataInicioExec | date:'dd/MM/yyyy'}})</small>
      </div>
      <div *ngIf="passoFluxo.codigoRubrica" class="col-12">
        <p style="margin: 0;margin-bottom: .5rem;">Investimento</p>
        <input currencyMask type="text" scInput style="height: auto;padding: 9px;" [disableControl]="visualizar"
          class="alinhar-esquerda ss-form-control input-field" formControlName="investimento"
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
      </div>


      <div class="col-12" *ngIf="filesForm && filesForm.length > 0">
        <p style="font-weight: bold;">Arquivos disponíveis para download</p>
        <lista-arquivos-projeto (scExcluir)="excluirArquivo($event)" [filesForm]="filesForm"></lista-arquivos-projeto>
      </div>
      <div class="col-12" *ngIf="vars.multiUploadFileProgress && vars.multiUploadFileProgress.length > 0">
        <p style="font-weight: bold;">Enviando arquivos</p>
        <lista-arquivos-projeto [filesForm]="vars.multiUploadFileProgress"></lista-arquivos-projeto>
      </div>

      <div *ngIf="formulario" class="col-12">
        <sc-formio-render (scFormularioEnviado)="submitFormulario($event)" [scFormulario]="formulario">
        </sc-formio-render>
      </div>
    </div>
  </form>
  <button style="margin-top: 50px;" *ngIf="!passoFluxo.formulario && !visualizar" [disabled]="!passoForm.valid"
    (click)="enviarRespostas()" class="ss-btn ss-btn-form">Enviar</button>
  <div style="margin-top: 50px;display: flex;justify-content: space-between;" *ngIf="aprovar">
    <button style="width: auto;" class="ss-btn ss-btn-success" (click)="aprovarTarefa(true)">APROVAR TAREFA</button>
    <button style="width: auto;" class="ss-btn ss-btn-outline-danger" [popover]="popTemplate" #pop="bs-popover" container="body" placement="bottom">SOLICITAR AJUSTES</button>
  </div>
</sc-actionbar>
