 ::ng-deep {
  @media screen and (min-width: 768px) {
    #executar-passo>.app-actionbar-auto-slide {
      width: 40%;
    }
  }
}
#passos-buttons {
  .ss-btn:nth-child(odd) {
    margin-right: 8px;
  }
  .ss-btn:nth-child(even) {
    margin-left: 8px;
  }
}

.ss-radiobutton:hover input ~ .ss-checkmark, .ss-checkbox:hover input ~ .ss-checkmark {
  background-color: none;
}


@keyframes toggle {
  0% {
    display: none;
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
  100% {
    display: block;
    opacity: 1;
    height: auto;
    overflow: initial
  }
}

.togglable {
  animation-name: toggle;
  animation-duration: .7s;
}

.well {
  background-color: #C4C4C444;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  max-width: fit-content;
}


#datas {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#datas td,
#datas th {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px;
}

#datas th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f1f1f1;
  color: black;
}

.ss-btn-form {
  border: 1px solid #E0E0E0;
  border-color: #007bff;
  background-color: #007bff;
  color: #fff;
  width: 75px;
  font-size: 16px;
}
