<ng-template #tpl>
    <div *ngIf="!isVisitante" class="app-header-actions-item">
      <button style="float: right" class="ss-btn ss-btn-primary" (click)="adicionarCapacitacao()"
        id="adicionarCapacitacaoTopo">
        <i style="margin-right: 10px;" class="mdi mdi-plus-circle-outline"></i> Adicionar Capacitação</button>
    </div>
</ng-template>

<div *ngIf="(cursos$ | async).length == 0 && !isVisitante" class="empty">
  <img id="imagemEmptyCurso" src="assets/images/empty_state.png">
  <p class="empty-title" id="mensagemEmptyCurso">Você ainda não possui nenhuma capacitação cadastrada</p>
  <div class="empty-action">
    <button style="width: auto;" (click)="adicionarCapacitacao()" class="ss-btn ss-btn-outline-primary"
      id="adicionarCapacitacao">Adicionar Capacitação</button>
  </div>
</div>
<div *ngIf="(cursos$ | async).length == 0 && isVisitante" class="empty">
  <img id="imagemEmptyCurso" src="assets/images/empty_state.png">
  <p class="empty-title" id="mensagemEmptyCurso">Este usuário não possui nenhuma capacitação cadastrada</p>
</div>


<div class="ss-card" *ngFor="let curso of (cursos$ | async); let i = index"
  style="margin-top: 20px; overflow: initial;">
  <div class="ss-card-body">
    <curso-detalhes-accordion [isVisitante]="isVisitante" [curso]="curso" (onEditarCurso)="editarCurso($event)"
      (excluirCertificado)="excluirCertificado($event)" (baixarCertificado)="baixarCertificado($event)">
    </curso-detalhes-accordion>
  </div>
</div>
