<div formGroupName="objetivosForm" style="padding-top: 10px;">
  <sc-form-field scLabel="Objetivo Geral">
    <textarea scInput formControlName="objetivoGeral" rows="4" [disableControl]="!scEditavel"></textarea>
  </sc-form-field>
  <sc-form-field scLabel="Objetivo Especifico">
    <textarea scInput formControlName="objetivoEspecifico" rows="4" [disableControl]="!scEditavel"></textarea>
  </sc-form-field>
  <sc-form-field scLabel="Objetivo SMART">
    <textarea scInput formControlName="objetivoSmart" rows="4" [disableControl]="!scEditavel"></textarea>
  </sc-form-field>
</div>
