.sins-add-control {
    cursor: pointer;
}

.sins-add-control:hover {
    color: #00AE9D;
    cursor: pointer;
}

.sins-remove-control {
    cursor: pointer;
}

.sins-remove-control:hover {
    cursor: pointer;
    color: red;
}

textarea.ss-form-control {
  height: auto;
  padding: 5px;
  resize: vertical;
}
