/* You can add global styles to this file, and also import other style files */

$fa-font-path: "../node_modules/font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";
@import "~diagram-js-minimap/assets/diagram-js-minimap.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
//@import "assets/styles/sins.breadcrumb.scss";
@import "assets/styles/sins.popover.css";
@import "assets/styles/sins.button.scss";
@import "assets/styles/sins.drop-zone.scss";
@import "assets/styles/sins.label.scss";
@import "assets/styles/sins.modals.scss";
@import "assets/styles/sins.quill.scss";
@import "assets/styles/sins.radio-check.scss";
@import "assets/styles/sins.toltip.scss";
@import "assets/styles/sins.tooltips.scss";
@import "assets/styles/sins.tabs.scss";
@import "assets/styles/sins.actionbar.scss";
@import "app/shared/components/sins-badge/sins-badge.scss";

.ss-user-img {
  display: block;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  margin: 0 auto;
}

.cellClassAction {
  overflow: hidden;
}

:hover {
    outline: none;
}

.sc-alert {
    z-index: 1001;
    .alert {
        border-radius: 6px;
    }
    .icon {
        float: left;
        margin-top: -1px;
        font-size: 25px;
        color: white;
    }
    p {
        margin-left: 32px;
        color: white;
    }
    .ss-btnclose {
        color: white;
    }
}

.flex-container {
    display: flex;
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
}

.flex-container-h {
    display: flex;
    flex-direction: row;
}

.flex-container-v {
    display: flex;
    flex-direction: column;
}

.flex-container-h-r {
    display: flex;
    flex-direction: row-reverse;
}

.flex-container-v-r {
    display: flex;
    flex-direction: column-reverse;
}

textarea {
    resize: none;
}

.mostrar-mais {
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    color: #007164;
    padding-bottom: 18px;
}

.app-header-actions-container {
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: flex-end;

  .app-header-actions-item {
    flex: 0 auto;
  }

  .app-header-actions-item:nth-child(1) {
    margin-right: 8px;
  }

  .app-header-actions-item:last-child {
    margin-left: 8px;
  }

  .app-header-actions-item:not(:last-child):not(:nth-child(1)) {
    margin: 0 8px;
  }
}


button.load-button{
  span{
    transition: all 1s;
    opacity:1;
  }
  i{
    display:none;
    color: #00AE9D;
  }
}
button.loading-start{
  span{
    display: none;
    opacity: 0;
  }
  i{
    display: block;
    opacity: 1;
  }
}

.alinhar-esquerda {
  text-align: left !important;
}

.empty {
  border-radius: .1rem;
  color: #66758c;
  padding: 3.2rem 1.6rem;
  text-align: center;
  text-align: -webkit-center !important;
}

.empty .empty-subtitle,
.empty .empty-title {
  margin: .4rem auto;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #027f84;
}

.empty .empty-action {
  margin-top: 1rem;
}
