<div class="ss-form-group">
  <i class="material-icons ss-input-icon-left">search</i>
  <input
    type="text" class="ss-form-control ss-input-container"
    placeholder="{{placeholder}}"
    [(ngModel)]="text"
    (keyup.enter)="onSearch($event)"
    (keyup.escape)="onClear($event)">
  <i
    class="material-icons ss-input-icon-right"
    style="cursor: pointer;"
    *ngIf="isNotNullOrEmpty()"
    (click)="onClear($event)">close</i>
</div>
