<ng-template #customLoadingTemplate>
    <div class="spinner">
        <!--<img [src]="'assets/images/sins-loading.png'" alt="SINS Loading Image">-->

        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1">
                <img [src]="'assets/images/Sins1_01.png'" alt="SINS Loading Image">
            </div>
            <div class="sk-cube sk-cube2">
                <img [src]="'assets/images/Sins1_02.png'" alt="SINS Loading Image">
            </div>
            <div class="sk-cube sk-cube3">
                <img [src]="'assets/images/Sins1_03.png'" alt="SINS Loading Image">
            </div>
            <div class="sk-cube sk-cube4">
                <img [src]="'assets/images/Sins1_04.png'" alt="SINS Loading Image">
            </div>
            <div class="sk-cube sk-cube5">
                <img [src]="'assets/images/Sins1_05.png'" alt="SINS Loading Image">
            </div>
            <div class="sk-cube sk-cube6">
                <img [src]="'assets/images/Sins1_06.png'" alt="SINS Loading Image">
            </div>
            <div class="sk-cube sk-cube7">
                <img [src]="'assets/images/Sins1_07.png'" alt="SINS Loading Image">
            </div>
            <div class="sk-cube sk-cube8">
                <img [src]="'assets/images/Sins1_08.png'" alt="SINS Loading Image">
            </div>
            <div class="sk-cube sk-cube9">
                <img [src]="'assets/images/Sins1_09.png'" alt="SINS Loading Image">
            </div>
        </div>

    </div>
</ng-template>

<ngx-loading [show]="true" [hidden]="!loading" [template]="customLoadingTemplate">
</ngx-loading>
