<div style="margin-top: 15px;" class="ss-card ss-card-body-plano">
    <div class="ss-card-header" style="padding: 15px 0 4px 17px;">
        <p *ngIf="acao.acaoPai" id="nomeAcaoPai" style="padding-left: 20px;margin-top: -2px;color: #9a9a9a;">{{acao.acaoPaiObj ? acao.acaoPaiObj.nome : acao.acaoPai.nome}}</p>
        <div class="ss-grid">
            <div class="col-10">
                <div style="padding: 0px 0 10px 20px;" class="flex-container" (click)="openActionBarDetalhar(acao.id)">
                    <div class="ss-tooltip" style="margin: 0;">
                        <sc-avatar size="30" [displayType]="'circle'" [scAvatar]="{name: acao.responsavel.nome}"></sc-avatar>
                        <span id="acaoResponsavel" class="ss-tooltiptext ss-tooltip-bottom">{{acao.responsavel.nome}}</span>
                    </div>
                    <h6 id="nomeAcao" style="margin: 4px -3px 0 10px">{{acao.nome}} -</h6>
                    <div *ngIf="acao.dataInicio && acao.dataFim" class="flex-container" style="padding: 5px 0 0 6px;">
                        <i style="font-size: 18px; color: #007164" popoverTitle="Planejado:" [popover]="formatarDatas(acao.dataInicio, acao.dataFim)" placement="top" triggers="mouseenter:mouseleave" class="mdi mdi-calendar-blank"></i>
                        <div id="periodoPorExtenso" [innerHTML]="calculateDays(acao) | safeHtml"></div>
                    </div>
                    <div *ngIf="acao.situacao == 'concluida'" class="flex-container" style="padding: 5px 0 0 6px;">
                        <i style="font-size: 25px;  color: #007164;" popoverTitle="Planejado:" [popover]="formatarMoeda(acao.investimento)" placement="top" triggers="mouseenter:mouseleave" class="mdi mdi-cash"></i>
                        <span id="investimentoReal">{{acao.investimentoReal | currency:'BRL'}}</span>
                        <i [style.display]="acao.situacao == 'concluida' && acao.justificativaInvestimento ? 'block' : 'none'" style="margin: 0 10px 0px 10px;cursor: pointer;" popoverTitle="Motivo do investimento maior que o planejado:" [popover]="acao.justificativaInvestimento?.justificativa"
                            placement="right" triggers="mouseenter:mouseleave" class="mdi mdi-information-outline"></i>
                    </div>
                    <i [style.display]="acao.situacao == 'impedida' && acao.justificativaImpedimento ? 'block' : 'none'" style="margin: 5px 10px 0px 10px;cursor: pointer;" popoverTitle="Motivo do impedimento:" [popover]="acao.justificativaImpedimento?.justificativa"
                      placement="right" triggers="mouseenter:mouseleave" class="mdi mdi-information-outline"></i>
                    <span id="acaoSituacao" style="margin: 5px 0 0 10px;" class="ss-label ss-label-outline {{getSituacaoClass(acao.situacao)}}">{{getSituacaoLabel(acao.situacao)}}</span>
                </div>
            </div>
            <div class="col-2">
                <executar-acao-buttons [acao]="acao" (iniciar)="onIniciar()" (retomar)="onRetomar()" (parar)="onParar()" (concluir)="onConcluir()"></executar-acao-buttons>
            </div>
        </div>
    </div>
</div>
