.mdi-plus::before {
    color: #4da191;
}

.inline-box {
    display: inline-block;
}

.ss-card-body-plano {
    overflow: initial !important;
}

.mdi-information-outline:before {
    color: #eb5757;
    font-size: 22px;
}

.icon-add-task {
    margin-left: -6px;
    padding: 10px 0 0 0;
    cursor: pointer;
}

.ajustar-texto {
    width: 661px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btnVisible:hover>.buttonOver {
    opacity: 1;
}

.btnVisible>.buttonOver {
    opacity: 0;
}

.container-sub:hover {
    background: #f4f4f4;
}

.hifen {
    border-top: 1px solid #525252;
    margin-top: 12px;
    width: 16px;
    margin-right: 4px;
}

.ss-popover {
    padding: 0;
}

.ss-popover-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.ss-popover-container .ss-popover {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.ss-popover-container:hover .ss-popover {
    visibility: visible;
    opacity: 1;
}