.accordion-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  i {
    font-size: 15pt;
  }
}

.accordion-content {
  padding: 8px 0;
  overflow: hidden;
}


.title-info  {
  color: #b7b7b7;
  margin-bottom: 0;
}


#editarCurso {
  border: none;color: #bac25d;outline: none;font-size: 15px;padding-left: 10px;cursor: pointer;
}

#detalhe {
  border: none;color: #007164;outline: none;font-size: 15px;;cursor: pointer;
}
