<div class="accordion-header">
    <div class="ss-grid" style="    width: 100%;">
        <div class="col-1">
            <img *ngIf="isCategoriaCurso(curso.categoriaCurso)" style="width: 50px" [src]="curso.categoriaCurso.icone" id="{{curso.categoriaCurso.nome}}">
        </div>
        <div class="col-5">
            <span style="color: #005d5e;font-weight: bold;font-size: 15px;" id="curso-nome">{{curso.nome}}</span>
            <br>
            <span *ngIf="isCategoriaCurso(curso.categoriaCurso)" id="curso-categoria" style="color: #b7b7b7;">{{curso.categoriaCurso.nome}}</span>
        </div>
        <div class="col-6">
          <div class="flex-container-h" style="justify-content: flex-end">
            <div id="toggle" (click)="toggle()" >
                <p id="detalhe">DETALHES</p>
            </div>
            <p id="editarCurso" *ngIf="!isVisitante" (click)="editarCurso(curso)">EDITAR</p>
            <sins-menu-dropdown #dropDown style="margin-top: 8px" size='155px' (onAction)="onAction($event)" [position]='position' [listMenu]="itensMenu">
            </sins-menu-dropdown>
        </div>
        </div>
    </div>

</div>
<div class="accordion-content" [@toggle]="expansionState()">
    <p class="title-info" id="label-qtd-horas">Quantidade de horas:</p>
    <p style="margin-top: 0" id="qtd-horas">{{curso.quantidadeHoras}} horas</p>
    <p class="title-info" id="label-descricao">Resumo de capacitação</p>
    <p style="margin-top: 0" id="descricao">
        {{curso.descricao ? curso.descricao : isCategoriaCurso(curso.categoriaCurso) ? curso.categoriaCurso.descricao : null}}
    </p>
    <div class="ss-grid">
        <div class="col-2" style="grid-column-start: 12;margin-right: 30px;">
            <button id="sub_baixarCertificado" (click)="_baixarCertificado()" class="ss-btn ss-btn-success">
        Visualizar certificado
      </button>
        </div>
    </div>
</div>
