<div [ngClass]="{ 'empty-card': scEmptyCard }" class="card" (click)="onClick()">
    <i *ngIf="scEmptyCard" class="mdi mdi-plus-box"></i>
    <span [ngClass]="{ 'card-title': !scEmptyCard }">{{scTitle}}</span>
    <div *ngIf="!scEmptyCard" class="card-menu">
        <sins-menu-dropdown (onAction)="onMenuItemSelect(menuFluxo, $event)" [position]="posicao" [listMenu]="scItensMenu" [menuPosition]="menuPosition" [caretPosition]="caretPosition" #menuFluxo></sins-menu-dropdown>
    </div>
</div>