@import "src/assets/styles/colors";

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  border-radius: 4px;
  cursor: pointer;
}

.card.empty-card {
  border: 1px dashed black;
  justify-content: center;
  text-align: center;
  background-color: transparent;

  i {
    color: #00a091;
    font-size: 50px;
    padding-bottom: 8px;
  }
}

.card {
  box-sizing: border-box;
  text-align: center;
  width: 270px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px 10px;
  position: relative;
  background-color: #FFF;

  .card-title {
    font-size: 16px;
    font-weight: bold;
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  }

  i.card-icon {
    position: absolute;
    font-size: 14px;
    right: 5px;
    top: 5px;
    color: $color-success;
  }

  div.card-menu {
    position: absolute;
    top: 10px;
    right: 0;
  }
}
