<div class="ss-card">
    <div class="ss-card-header">
        <div style="display: flex; flex-direction: column;">
            <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                <div style="flex: 3;">
                    <h5>Voluntários</h5>
                    <p>
                        <strong>Total: {{total$}}</strong>
                    </p>
                </div>
                <div [ngStyle]="{flex: mostrarFiltro() ?  2 : 1}" style="display: flex; flex-direction: row;">
                    <!-- Pesquisa -->
                    <sc-search-input style="flex: 4; margin-right: 8px;" [placeholder]="'Filtrar pelo nome do voluntário'" [text]="filtro$.nome" (search)="onSearch($event)" (clear)="onClear($event)"></sc-search-input>

                    <!-- Botão Filtro -->
                    <ng-template [ngIf]="mostrarFiltro()">
                        <div style="flex: 1;" class="ss-btn ss-btn-primary" (click)="abrirFiltroActionBar()" id="abrirFiltroActionBar">
                            <i class="mdi mdi-filter-variant"></i> Filtros
                        </div>
                    </ng-template>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; align-items: center;">
                <!-- Filtros -->
                <ng-template [ngIf]="filtrosCooperativa && filtrosCooperativa.length != 0">
                    <span style="margin-right: 2px;">Filtros aplicados: </span>
                    <sc-chip style="margin: 2px;" *ngFor="let c of filtrosCooperativa" [text]="c" [color]="'success'" (click)="removerFiltroCooperativa(c)"></sc-chip>
                </ng-template>
            </div>
        </div>
    </div>
    <div style="padding-top: 20px">
        <sc-datatable [items$]="voluntarios$" [columns]="columns" [columnMode]="'flex'" [page$]="filtro$.paginacao" [messages]="{ emptyMessage: 'Não existem voluntários ativos', totalMessage: ' voluntários' }" (changePage)="onChangePage($event)">
        </sc-datatable>
    </div>
</div>

<ng-template #statusTpl let-row="row" let-value="value">
  <span id="statusTplSpan" style="margin: 6px 20px 0 10px;" class="ss-label ss-label-outline {{getSituacaoClass(value)}}">{{getSituacaoLabel(value)}}</span>
</ng-template>

<ng-template #acoesTpl let-row="row" let-value="value">
    <div style="display: flex; flex-direction: row; align-items: center;">
        <a  popover="Ver dados" placement="left" triggers="mouseenter:mouseleave" style="text-decoration: none;font-size: 25px;color: #4F4F4F;" [id]=value (click)="abrirDetalheActionBar(value)"  >
          <i class="mdi mdi-eye"></i>
        </a>
        <a  *ngIf="pesquisarVoluntario(value).ativo" popover="Adicionar horas" placement="left" triggers="mouseenter:mouseleave" style="text-decoration: none;font-size: 25px;color: #00A091;margin-left: 20px;" [id]=value (click)="abrirHorasActionBar(value)"  >
          <i id="botao_adicionarHoras" class="mdi mdi-alarm-plus" ></i>
        </a>
    </div>
</ng-template>