.titulo {
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 14px;
}

.icon-detalhe {
    font-size: 25px;
    color: #007164;
}

.mdi-information-outline:before {
    color: #65b750;
    font-size: 25px;
}

.ss-popover {
    padding: 0;
}

.ss-popover-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.ss-popover-container .ss-popover {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.ss-popover-container:hover .ss-popover {
    visibility: visible;
    opacity: 1;
}