<sc-actionbar title="Detalhe da tarefa" width="medium">
    <div *ngIf="(acao$ | async) as acao">
        <div class="ss-grid" style="margin-bottom: 20px">
            <div class="col-6">

                <div class="flex-container-h">
                    <span style="position: relative;margin: 11px 0px 0px -2px;" id="detalheAcaoSituacao" class="ss-label ss-label {{getSituacaoClass(acao.situacao)}}">
                        {{getSituacaoLabel(acao.situacao)}}
                      </span>
                    <i *ngIf="acao.situacao == 'impedida' && (acao.acaoPai || acao.subTarefas.length == 0 || acao.subTarefas[0] == null)" style="margin: 10px 10px 0px 10px;cursor: pointer;" popoverTitle="Motivo do impedimento:" [popover]="acao.justificativaImpedimento?.justificativa"
                        placement="right" triggers="mouseenter:mouseleave" class="mdi mdi-information-outline"></i>
                    <i *ngIf="acao.situacao == 'concluida' && acao.justificativaInvestimento && (acao.acaoPai || acao.subTarefas.length == 0 || acao.subTarefas[0] == null)" style="margin: 10px 10px 0px 10px;cursor: pointer;" popoverTitle="Motivo do investimento maior que o planejado:"
                        [popover]="acao.justificativaInvestimento?.justificativa" placement="right" triggers="mouseenter:mouseleave" class="mdi mdi-information-outline"></i>
                </div>

            </div>
            <div class="col-6" id="btn-executar" *ngIf="podeExecutar(acao, (planoAcao | async))" style="margin-top: 9px;">
                <executar-acao-buttons [acao]="acao" (iniciar)="onIniciar(acao)" (retomar)="onRetomar(acao)" (parar)="onParar(acao)" (concluir)="onConcluir(acao)"></executar-acao-buttons>
            </div>
        </div>
        <div>
            <div class="">
                <p *ngIf="acao.acaoPai" id="detalheAcaoPai" style="margin-top: -10px;"><b>Subtarefa da ação: </b>{{acao.acaoPai.nome}}</p>
                <div *ngIf="acao.responsavel" class="ss-tooltip">
                    <sc-avatar size="40" [scAvatar]="{name: acao.responsavel.nome}" [displayType]="'circle'"></sc-avatar>
                    <span style="margin-top: -2px;" class="ss-tooltiptext ss-tooltip-right" id="detalheAcaoResponsavel">{{acao.responsavel.nome}}</span>
                </div>
            </div>
        </div>
        <div class="ss-grid" style="margin-top: -4px;">
            <div class="col-6">
                <div class="titulo">
                    Planejado:
                </div>
                <div>
                    <div class="ss-grid">
                        <i class="col-1 mdi mdi-calendar-blank icon-detalhe"></i>
                        <div class="col-10" id="detalheAcaoDataInicio"><b>{{acao.dataInicio | date:'dd/MM/yyyy'}} |
                {{acao.dataFim | date:'dd/MM/yyyy'}} </b></div>
                    </div>
                </div>
                <div class="ss-grid">
                    <i class="col-1 mdi mdi-cash icon-detalhe"></i>
                    <div class="col-10" id="detalheAcaoInvestimento"><b>{{acao.investimento | currency:'BRL'}}</b></div>
                </div>
            </div>
            <div class="col-6">
                <div class="titulo">
                    Executado:
                </div>
                <div class="ss-grid">
                    <i class="col-1 mdi mdi-calendar-blank icon-detalhe"></i>
                    <b class="col-10">
            <div *ngIf="acao.dataInicio && acao.dataFim" class="flex-container" >
                <div id="detalheAcaoDiaExecutado" [innerHTML]="calculateDays(acao) | safeHtml"></div>
            </div>
            <!-- <div *ngIf="acao.dataRealInicio && acao.dataRealFim">
              {{acao.dataRealInicio | date:'dd/MM/yyyy'}} |
              {{acao.dataRealFim | date:'dd/MM/yyyy'}}
            </div>
            <div *ngIf="acao.dataRealInicio && !acao.dataRealFim">{{acao.dataRealInicio | date:'dd/MM/yyyy'}} |
              --/--/----</div>
            <div *ngIf="!acao.dataRealInicio && !acao.dataRealFim">{{getSituacaoLabel(acao.situacao)}}</div> -->
          </b>
                </div>
                <div class="ss-grid">
                    <i class="col-1 mdi mdi-cash icon-detalhe"></i>
                    <b class="col-10">
            <div *ngIf="acao.situacao != 'concluida'">-</div>
            <div *ngIf="acao.situacao == 'concluida'" id="detalheAcaoInvestimentoReal">{{acao.investimentoReal | currency:'BRL'}}</div>
          </b>
                </div>
            </div>
            <div class="col-12" id="detalheAcaoOque" style="margin-top: -20px;">
                <p class="titulo">O que será feito:</p>
                {{acao.nome}}
            </div>
            <div class="col-12" id="detalheAcaoOnde">
                <p class="titulo">Onde:</p>
                {{acao.lugar}}
            </div>
            <div class="col-12">
                <p class="titulo" id="detalheAcaoComo">Como:</p>
                {{acao.descricao}}
            </div>
            <div class="col-12">
                <p class="titulo" id="detalheAcaoPorque">Por que:</p>
                {{acao.motivo}}
            </div>
        </div>

    </div>
</sc-actionbar>
