.container {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.step-navigation-bar {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.active {
    color: blue;
}

.step {
    background: transparent;
    border: 0;
    margin: 0 10px;
    padding: 10px;
    color: black;
}

.step.active {
    color: blue;
    border-bottom: 1px solid blue;
}

.nav-button {
    background: transparent;
    border: 0;
}

.card-center {
    width: 50%;
    margin-left: 25%;
}

.stepper-bnt-voltar {
    grid-column-start: 9;
    grid-column-end: 11
}

.stepper-bnt-proximo {
    grid-column-start: 11;
    grid-column-end: 13
}

@media only screen and (max-width: 1000px) {
    .card-center {
        width: 100%;
        margin-left: 0;
    }
    .stepper-bnt-voltar {
        grid-column-start: 7;
        grid-column-end: 10
    }
    .stepper-bnt-proximo {
        grid-column-start: 10;
        grid-column-end: 13
    }
}


/** COMEÇO DO BREADCRUMB */

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    text-align: center;
}

ul.breadcrumb li {
    display: inline;
    font-size: 15px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    font-size: 16px;
    color: #09c5b4b0;
    content: "\003e\003e";
}

ul.breadcrumb li a {
    font-weight: bold;
    color: #12a698;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    text-decoration: underline;
}

ul.breadcrumb li a.no-active {
    color: #12a6988a;
}

ul.breadcrumb li span.no-active {
    background: #12a6988a;
}

ul.breadcrumb li a.no-active:hover {
    cursor: not-allowed;
    text-decoration: none;
    color: #12a6988a;
}

ul.breadcrumb li span {
    display: inline-block;
    padding: 5px;
    height: 18px;
    width: 18px;
    font-size: 72%;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 9px;
    color: #fefefe;
    margin-right: 3px;
    line-height: 7px;
    background: #12a698;
}

ul.breadcrumb li span#checked {
    display: inline-block;
    padding: 5px;
    width: 18px;
    height: 18px;
    font-size: 72%;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 9px;
    color: #fefefe;
    margin-right: 3px;
    line-height: 7px;
    background: #00CC66;
}