<section>
    <header>
        <ul class="breadcrumb">
            <li *ngFor="let step of steps; let i = index;">
                <span *ngIf="!step.completed" [ngClass]="{'no-active': !step.completed && selectedIndex !== i}">{{i+1}}</span>
                <span *ngIf="step.completed" id="checked">✓</span>
                <a [ngClass]="{'no-active': !step.completed  && selectedIndex !== i}" (click)="onClick(i)">{{step.label}}</a></li>
        </ul>
    </header>

    <div [style.display]="selected ? 'block' : 'none'">
        <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
    </div>
</section>
