<sc-modal id="dialogoNovoProjeto" [headerTitle]="title" [showClose]="true" width="medium" (close)="closeModal()">
  <div class="ss-modal-body" style="margin-left: 60px;">
    <div class="flex-container-v">
      <div class="cards-container" style="flex-wrap: wrap;">
        <div class="mini-card" style="min-width: 150px;max-width: 150px;" (click)="selecionarPrograma(programa)"
             [ngClass]="{'mini-card-selected': programa.selecionado}" *ngFor="let programa of programas">
          <i *ngIf="programa.selecionado" class="mini-card-icon mdi mdi-check-circle"></i>
          <div class="mini-card-image">
            <img style="height: 70px;width: 70px;" [src]="getImage(programa)">
          </div>
          <span class="mini-card-text" title="{{programa.nome}}">{{programa.nome}}</span>
        </div>
        <div *ngIf="(numeroPagina != paginacao.totalPages)" class="mini-card hover" style="width: 150px;min-width: 150px;" (click)="maisProgramas()">
          <div>
            <i class="mdi mdi-arrow-right"></i>
          </div>
          <span title="Carregar mais programas">Carregar mais programas</span>
        </div>
      </div>
    </div>
  </div>
  <div class="ss-modal-footer">
      <div class="ss-modal-footer-buttons">
          <button class="ss-btn ss-btn-outline-danger ss-modal-footer-button" (click)="closeModal()" id="voltar">
            Voltar
          </button>
          <button id="concluir" class="ss-btn ss-btn-success ss-modal-footer-button" [disabled]="!programaSelecionado" (click)="onSubmit()">
            Próximo
          </button>
      </div>
  </div>
</sc-modal>
