.select {
  display: inline-block;
  position: relative;

  span {
    display: inline-block;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 5px 0;
    background-color: #fff;
    cursor: pointer;
    white-space: nowrap;
  }

  ul {
    display: none;
    position: absolute;
    top: 100%;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 0;
    margin: 2px 0 0 0;
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    list-style-type: none;
  }

  ul.visivel {
    display: block;
  }

  ul li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
  }

  ul li:hover {
    background-color: #f6f6f6;
  }

  ul li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
  }

  ul li.divider {
    padding: 0;
    border-bottom: 1px solid #ccc;
  }
}
