<div class="ss-grid" *ngIf="marco$ | async as marco" style="padding-top: 30px;">
  <div class="col-offset-start-2 col-offset-end-8">
    <div id="passos-container">
      <div id="passos-header">
        <div id="passos-header-title">
          {{marco.nome}}
        </div>
        <div id="passos-header-action">
          <div class="ss-btn ss-btn-danger" (click)="finalizarMarco()">
            Finalizar Marco
          </div>
        </div>
      </div>
      <div id="passos-body">
        <div class="passos-item ripple" *ngFor="let passo of passos$ | async as passos; let i = index;" (click)="openPassoActionBar(passo, getPassoAnterior(passos, i)); $event.preventDefault();">
          {{passo.titulo}}
          <i
            *ngIf="passo.perfilAprovador"
            class="avatar-perfil mdi mdi-account-circle-outline"
            popoverTitle="Perfil aprovador" [popover]="getDescricaoPerfil(passo.perfilAprovador)" triggers="mouseenter:mouseleave"></i>
          <i
            *ngIf="passo.responsavel"
            class="avatar-perfil mdi mdi-account-circle-outline"
            popoverTitle="Perfil executor" [popover]="getDescricaoPerfil(passo.responsavel)" triggers="mouseenter:mouseleave"></i>
          <i
            *ngIf="passo.formulario"
            class="avatar-perfil mdi mdi-file-document-box-outline"
            popoverTitle="Formulário" [popover]="getFormularioInfo(passo.formulario)" triggers="mouseenter:mouseleave"></i>
          <p *ngIf="passo.idPassoDependencia" style="margin: 0;">
            <i
              style="font-size: 20px"
              class="mdi mdi-call-missed"
              popoverTitle="Dependente de" [popover]="getPassoDependencia(passos, passo.idPassoDependencia)" triggers="mouseenter:mouseleave"></i>
          </p>
        </div>
        <div id="passos-add-new" *ngIf="{ passos: passos$ | async, programaEditavel: programaEditavel$ | async } as $;">

          <ng-template [ngIf]="$.programaEditavel">
            <button
              *ngIf="$.passos.length > 0" id="passos-add-new-button" class="ss-btn ss-btn-outline-success"
              [disabled]="!$.programaEditavel"
              (click)="openPassoActionBar(null, getPassoAnterior($.passos, -1))">
              <i class="mdi mdi-plus"></i> Adicionar Passo
            </button>

            <button
              *ngIf="$.passos.length == 0"
              id="passos-add-first-button" class="ss-btn ss-btn-outline-success"
              triggers="mouseenter:mouseleave"
              popoverTitle="Criando seu primeiro passo"
              popover="Cada passo representa uma etapa de conclusão de uma entrega, também chamada de marco. Passos podem possuir ou não um nível de dependência entre si, ou seja, se um passo para ser executado precisa que outro seja executado, basta você informar no campo de depência esse passo."
              placement="left"
              [disabled]="!$.programaEditavel"
              (click)="openPassoActionBar()">
              <i class="mdi mdi-plus"></i> Adicionar Primeiro Passo
            </button>
          </ng-template>

          <ng-template [ngIf]="!$.programaEditavel">
            <div
              triggers="mouseenter:mouseleave"
              popover="Não é possível alterar o fluxo de processo de um programa que possui projeto vinculado."
              placement="left">
              <button class="ss-btn ss-btn-outline-success" style="flex: 0 0 0;" [disabled]="true">
                <i class="mdi mdi-plus"></i> Adicionar Passo
              </button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
