@import "src/assets/styles/colors";

#passos-container {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

#passos-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  #passos-header-title {
    flex: 1 0 0;
    justify-self: flex-start;
    font-size: 20px;
    font-weight: bold;
  }

  #passos-header-action {
    flex: 0 0 0;
    justify-self: flex-end
  }
}

#passos-body {
  display: flex;
  flex-direction: column;
}

#passos-add-new {
  display: flex;
  flex-direction: row;
  padding: 12px 0 12px 20px;
}

#passos-add-new-button {
  flex: 0 0 0;
}

#passos-add-first-button {
  flex: 0 0 0;
}

.passos-item {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  padding: 12px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #fafafa radial-gradient(circle, transparent 1%, #fafafa 1%) center/15000%;
}
.ripple:active {
  background-color: #f5f5f5;
  background-size: 100%;
  transition: background 0s;
}

i.avatar-perfil {
  font-size: 24px; float: right;
}
