<sc-tab-panel id="tab-analitico" class="ss-tab-right" #tabPanelDashboard (selectedIndexChange)="onTabSelected($event)"
  [headerTemplate]="customTabsHeader">
  <div class="sc-tab-content-wrap">
    <sc-tab id="tab-{{situacaoTotalVm.situacao}}" *ngFor="let situacaoTotalVm of (counters$ | async)" #tabRef
      [title]="situacaoTotalVm.situacao">
    </sc-tab>
  </div>
</sc-tab-panel>

<ng-template #customTabsHeader>
  <div style="display: flex;justify-content: center;">
    <div class="ss-tab" style="max-width: 1250px;flex-grow: 1;">
      <button [id]="situacaoTotalVm.situacao" *ngFor="let situacaoTotalVm of (counters$ | async)" class="ss-tab-links"
        (click)="mudarAba(situacaoTotalVm.situacao)" [ngClass]="{'active': active(situacaoTotalVm.situacao)}">
        <div class="ss-badge-container">
          <p style="text-transform: capitalize;">{{getSituacaoLabel(situacaoTotalVm.situacao)}}
            <span scBadge color="{{getSituacaoClasse(situacaoTotalVm.situacao)}}">{{situacaoTotalVm.total}}</span>
          </p>
        </div>
      </button>
    </div>
  </div>

</ng-template>
