<div *ngFor="let acao of (acoes | async); let i = index">
    <div id="divtarefa-{{i}}" *ngIf="{possuiSub: acao.subTarefas.length > 0 && acao.subTarefas[0] != null, planejando: (planoAcao | async)?.situacao == 'planejando'} as flag" style="margin: 15px 0px 15px 0px;overflow: inherit;" class="ss-card">
        <div [id]="acao.nome" style="padding: 10px 0 15px 15px;" class="ss-card-header">
            <div class="btnVisible">
                <div (click)="openActionBarDetalhar(acao.id)">
                    <div class="flex-container-h" style="justify-content: space-between;">
                        <h6 id="nomeAcao">{{acao.nome}}</h6>
                        <span id="acaoSituacao" style="margin: 6px 20px 0 10px;" class="ss-label ss-label-outline {{getSituacaoClass(acao.situacao)}}">{{getSituacaoLabel(acao.situacao)}}</span>
                    </div>
                    <div class="col-10 flex-container">
                        <div class="ss-tooltip" style="margin: 0;">
                            <sc-avatar size="30" [displayType]="'circle'" [scAvatar]="{name: acao.responsavel.nome}"></sc-avatar>
                            <span id="acaoResponsavel" class="ss-tooltiptext ss-tooltip-bottom">{{acao.responsavel.nome}}</span>
                        </div>
                        <div *ngIf="!flag.planejando && acao.dataInicio && acao.dataFim" class="flex-container" style="margin: 5px 0 0 6px;">
                            <i style="font-size: 18px; color: #007164" class="mdi mdi-calendar-blank"></i>
                            <span id="periodoAcao">{{acao.dataInicio | date:'dd/MM/yyyy'}} | {{acao.dataFim  | date:'dd/MM/yyyy' }}</span>
                        </div>
                        <div *ngIf="flag.planejando && acao.dataInicio && acao.dataFim" class="flex-container" style="padding: 5px 0 0 6px;">
                            <i style="font-size: 18px; color: #007164" popoverTitle="Planejado:" [popover]="formatarDatas(acao.dataInicio, acao.dataFim)" placement="top" triggers="mouseenter:mouseleave" class="mdi mdi-calendar-blank"></i>
                            <div id="periodoPorExtenso" [innerHTML]="calculateDays(acao) | safeHtml"></div>
                        </div>
                        <i *ngIf="acao.situacao == 'impedida' && acao.justificativaImpedimento" style="margin:5px 10px 0px 10px;cursor: pointer;" popoverTitle="Motivo do impedimento:" [popover]="acao.justificativaImpedimento?.justificativa" placement="right" triggers="mouseenter:mouseleave"
                            class="mdi mdi-information-outline"></i>
                        <i *ngIf="acao.situacao == 'concluida' && acao.justificativaInvestimento" style="margin: 5px 10px 0px 10px;cursor: pointer;" popoverTitle="Motivo do impedimento:" [popover]="acao.justificativaInvestimento?.justificativa" placement="right" triggers="mouseenter:mouseleave"
                            class="mdi mdi-information-outline"></i>
                        <div *ngIf="acao.situacao == 'concluida'" class="flex-container" style="padding: 5px 0 0 6px;">
                            <i style="font-size: 25px;  color: #007164;" popoverTitle="Planejado:" [popover]="formatarMoeda(acao.investimento)" placement="top" triggers="mouseenter:mouseleave" class="mdi mdi-cash"></i>
                            <span id="investimentoReal">{{acao.investimentoReal | currency:'BRL'}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ss-card-body ss-card-body-plano" [ngStyle]="{'border-top': flag.possuiSub ? '2px solid #f2f2f2' : '0px', 'padding' : flag.possuiSub ? '10px' : '0px 0px 0px 12px' }">
            <sc-accordion-item *ngIf="flag.possuiSub" [scTitle]="acao.subTarefas.length+' Subtarefa(s)'">
                <div class="container-sub" style="padding: 10px;" [id]="acaoX.nome" *ngFor="let acaoX of acao.subTarefas; let i = index">
                    <div class="btnVisible ss-grid">
                        <div class="col-10 flex-container">
                            <div class="ss-tooltip" style="padding-right: 10px;margin-top: -2px;">
                                <sc-avatar size="30" [displayType]="'circle'" [scAvatar]="{name: acaoX.responsavel.nome}"></sc-avatar>
                                <span id="subAcaoResponsavel" style="margin: -8px 0 0 -13px;" class="ss-tooltiptext ss-tooltip-right">{{acaoX.responsavel.nome}}</span>
                            </div>
                            <div class="flex-container" (click)="openActionBarDetalhar(acaoX.id)">
                                <span id="subAcaoNome" [title]="acaoX.nome" style="padding-right: 5px" [ngClass]="{'ajustar-texto': acaoX.nome.length >= 104}">{{acaoX.nome}}</span>
                                <span>-</span>
                                <div *ngIf="!flag.planejando" style="padding-left: 5px;padding-right: 5px;" class="flex-container">
                                    <i style="font-size: 18px; color: #007164" class="mdi mdi-calendar-blank"></i>
                                    <span id="subAcaoPeriodo">{{acaoX.dataInicio | date:'dd/MM/yyyy'}} | {{acaoX.dataFim  | date:'dd/MM/yyyy' }}</span>
                                </div>
                                <div *ngIf="flag.planejando" class="flex-container" style="padding: 0px 3px 0 2px;">
                                    <i style="font-size: 18px; color: #007164" popoverTitle="Planejado:" [popover]="formatarDatas(acaoX.dataInicio, acaoX.dataFim)" placement="top" triggers="mouseenter:mouseleave" class="mdi mdi-calendar-blank"></i>
                                    <div id="subAcaoPeriodoPorExtenso" [innerHTML]="calculateDays(acaoX) | safeHtml"></div>
                                </div>
                                <i *ngIf="acaoX.situacao == 'concluida' && acaoX.justificativaInvestimento && acaoX.justificativaInvestimento.length > 0" style="margin: 2px 10px 0px 10px;cursor: pointer;" popoverTitle="Motivo do investimento maior que o planejado:" [popover]="acaoX.justificativaInvestimento[0]?.justificativa"
                                    placement="right" triggers="mouseenter:mouseleave" class="mdi mdi-information-outline"></i>
                                <div *ngIf="acaoX.situacao == 'concluida'" class="flex-container" style="padding: 0px 4px 0 6px">
                                    <i style="font-size: 25px;  color: #007164;" popoverTitle="Planejado:" [popover]="formatarMoeda(acaoX.investimento)" placement="top" triggers="mouseenter:mouseleave" class="mdi mdi-cash"></i>
                                    <span id="subAcaoInvestimentoReal">{{acaoX.investimentoReal | currency:'BRL'}}</span>
                                </div>
                                <i *ngIf="acaoX.situacao == 'impedida' && acaoX.justificativaImpedimento && acaoX.justificativaImpedimento.length > 0" style="margin: 2px 10px 0px 10px;cursor: pointer;" popoverTitle="Motivo do impedimento:" [popover]="acaoX.justificativaImpedimento[0]?.justificativa"
                                    placement="right" triggers="mouseenter:mouseleave" class="mdi mdi-information-outline"></i>
                                <div style="padding-left: 5px;">
                                    <span id="subAcaoSituacao" class="ss-label ss-label-outline {{getSituacaoClass(acaoX.situacao)}}">{{getSituacaoLabel(acaoX.situacao)}}</span>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="flag.planejando && acaoX.situacao != 'concluida' " class="buttonOver" style="grid-column-start: 11;margin-top: -5px;">
                            <button id="excluirSubtarefa" (click)="excluir(acaoX)" style="border: none;color: red;outline: none" class="ss-btn">EXCLUIR</button></div>
                        <div *ngIf="flag.planejando && acaoX.situacao != 'concluida' " class="buttonOver" style="grid-column-start: 12;margin-top: -5px;">
                            <button id="editarSubtarefa" style="border: none;color: #007164;outline: none" (click)="openActionBar(2, acaoX, null)" class="ss-btn buttonOver">EDITAR</button></div>
                        <div *ngIf="!flag.planejando" class="buttonOver" style="grid-column-start: 12;margin-top: -5px;">
                            <button id="detalharSubtarefa" style="border: none;color: #007164;outline: none" (click)="openActionBarDetalhar(acaoX.id)" class="ss-btn buttonOver">DETALHAR</button></div>
                    </div>
                </div>
            </sc-accordion-item>
            <div id="adicionarSubtarefa" *ngIf="flag.planejando && acao.situacao != 'concluida'" style="padding-top: 8px; margin-left: -7px;cursor: pointer;" (click)="openActionBar(2, null, acao.id)" class="flex-container">
                <i class="icon-add-task" class="mdi mdi-36px mdi-plus"></i>
                <span>Adicionar Subtarefa</span>
            </div>
        </div>
        <div *ngIf="flag.planejando && acao.situacao != 'concluida'" class="ss-card-footer" style="padding: 5px  25px;">
            <div class="flex-container-h" style="justify-content: flex-end;">
                <div>
                    <button id="excluirTarefa" style="border: none;color: red;outline: none" (click)="excluir(acao)" class="ss-btn">EXCLUIR</button></div>
                <div>
                    <button id="editarTarefa" style="border: none;color: #94a100;outline: none" (click)="openActionBar(1, acao, acao.acaoPai)" class="ss-btn">EDITAR</button></div>
            </div>
        </div>
    </div>
</div>
